/**
 * This file contains a copy-paste from node-modules/react-dates/lib/css/_datepicker.css
 */
.PresetDateRangePicker_panel {
  padding: 0 22px 11px
}

.PresetDateRangePicker_button {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  padding: 4px 12px;
  margin-right: 8px;
  overflow: visible;
  font: inherit;
  font-weight: 700;
  line-height: normal;
  color: #00a699;
  text-align: center;
  cursor: pointer;
  background: 0 0;
  border: 2px solid #00a699
}

.PresetDateRangePicker_button:active {
  outline: 0
}

.PresetDateRangePicker_button__selected {
  color: #fff;
  background: #00a699
}

.SingleDatePickerInput {
  display: inline-block;
  background-color: #fff
}

.SingleDatePickerInput__withBorder {
  border: 1px solid #dbdbdb;
  border-radius: 2px
}

.SingleDatePickerInput__rtl {
  direction: rtl
}

.SingleDatePickerInput__disabled {
  background-color: #f2f2f2
}

.SingleDatePickerInput__block {
  display: block
}

.SingleDatePickerInput__showClearDate {
  padding-right: 30px
}

.SingleDatePickerInput_clearDate {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 10px;
  margin: 0 10px 0 5px;
  overflow: visible;
  font: inherit;
  line-height: normal;
  color: inherit;
  cursor: pointer;
  background: 0 0;
  border: 0;
  transform: translateY(-50%)
}

.SingleDatePickerInput_clearDate__default:focus,
.SingleDatePickerInput_clearDate__default:hover {
  background: #dbdbdb;
  border-radius: 50%
}

.SingleDatePickerInput_clearDate__small {
  padding: 6px
}

.SingleDatePickerInput_clearDate__hide {
  visibility: hidden
}

.SingleDatePickerInput_clearDate_svg {
  width: 15px;
  height: 12px;
  vertical-align: middle;
  fill: #82888a
}

.SingleDatePickerInput_clearDate_svg__small {
  height: 9px
}

.SingleDatePickerInput_calendarIcon {
  display: inline-block;
  padding: 10px;
  margin: 0 5px 0 10px;
  overflow: visible;
  font: inherit;
  line-height: normal;
  color: inherit;
  vertical-align: middle;
  cursor: pointer;
  background: 0 0;
  border: 0
}

.SingleDatePickerInput_calendarIcon_svg {
  width: 14px;
  height: 15px;
  vertical-align: middle;
  fill: #82888a
}

.SingleDatePicker {
  position: relative;
  display: inline-block
}

.SingleDatePicker__block {
  display: block
}

.SingleDatePicker_picker {
  position: absolute;
  z-index: 1;
  background-color: #fff
}

.SingleDatePicker_picker__rtl {
  direction: rtl
}

.SingleDatePicker_picker__directionLeft {
  left: 0
}

.SingleDatePicker_picker__directionRight {
  right: 0
}

.SingleDatePicker_picker__portal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 30%)
}

.SingleDatePicker_picker__fullScreenPortal {
  background-color: #fff
}

.SingleDatePicker_closeButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 15px;
  overflow: visible;
  font: inherit;
  line-height: normal;
  color: inherit;
  cursor: pointer;
  background: 0 0;
  border: 0
}

.SingleDatePicker_closeButton:focus,
.SingleDatePicker_closeButton:hover {
  color: darken(#cacccd,10%);
  text-decoration: none
}

.SingleDatePicker_closeButton_svg {
  width: 15px;
  height: 15px;
  fill: #cacccd
}

.DayPickerKeyboardShortcuts_buttonReset {
  padding: 0;
  overflow: visible;
  font: inherit;
  font-size: 14px;
  line-height: normal;
  color: inherit;
  cursor: pointer;
  background: 0 0;
  border: 0;
  border-radius: 0
}

.DayPickerKeyboardShortcuts_buttonReset:active {
  outline: 0
}

.DayPickerKeyboardShortcuts_show {
  position: absolute;
  z-index: 2;
  width: 22px
}

.DayPickerKeyboardShortcuts_show__bottomRight {
  right: 0;
  bottom: 0;
  border-top: 26px solid transparent;
  border-right: 33px solid #00a699
}

.DayPickerKeyboardShortcuts_show__bottomRight:hover {
  border-right: 33px solid #008489
}

.DayPickerKeyboardShortcuts_show__topRight {
  top: 0;
  right: 0;
  border-right: 33px solid #00a699;
  border-bottom: 26px solid transparent
}

.DayPickerKeyboardShortcuts_show__topRight:hover {
  border-right: 33px solid #008489
}

.DayPickerKeyboardShortcuts_show__topLeft {
  top: 0;
  left: 0;
  border-bottom: 26px solid transparent;
  border-left: 33px solid #00a699
}

.DayPickerKeyboardShortcuts_show__topLeft:hover {
  border-left: 33px solid #008489
}

.DayPickerKeyboardShortcuts_showSpan {
  position: absolute;
  color: #fff
}

.DayPickerKeyboardShortcuts_showSpan__bottomRight {
  right: -28px;
  bottom: 0
}

.DayPickerKeyboardShortcuts_showSpan__topRight {
  top: 1px;
  right: -28px
}

.DayPickerKeyboardShortcuts_showSpan__topLeft {
  top: 1px;
  left: -28px
}

.DayPickerKeyboardShortcuts_panel {
  position: absolute;
  inset: 0;
  z-index: 2;
  padding: 22px;
  margin: 33px;
  overflow: auto;
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 2px
}

.DayPickerKeyboardShortcuts_title {
  margin: 0;
  font-size: 16px;
  font-weight: 700
}

.DayPickerKeyboardShortcuts_list {
  padding: 0;
  font-size: 14px;
  list-style: none
}

.DayPickerKeyboardShortcuts_close {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 2
}

.DayPickerKeyboardShortcuts_close:active {
  outline: 0
}

.DayPickerKeyboardShortcuts_closeSvg {
  width: 15px;
  height: 15px;
  fill: #cacccd
}

.DayPickerKeyboardShortcuts_closeSvg:focus,
.DayPickerKeyboardShortcuts_closeSvg:hover {
  fill: #82888a
}

.CalendarDay {
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  cursor: pointer
}

.CalendarDay:active {
  outline: 0
}

.CalendarDay__defaultCursor {
  cursor: default
}

.CalendarDay__default {
  color: #484848;
  background: #fff;
  border: 1px solid #e4e7e7
}

.CalendarDay__default:hover {
  color: inherit;
  background: #e4e7e7;
  border: 1px double #e4e7e7
}

.CalendarDay__hovered_offset {
  color: inherit;
  background: #f4f5f5;
  border: 1px double #e4e7e7
}

.CalendarDay__outside {
  color: #484848;
  background: #fff;
  border: 0
}

.CalendarDay__outside:hover {
  border: 0
}

.CalendarDay__blocked_minimum_nights {
  color: #cacccd;
  background: #fff;
  border: 1px solid #eceeee
}

.CalendarDay__blocked_minimum_nights:active,
.CalendarDay__blocked_minimum_nights:hover {
  color: #cacccd;
  background: #fff
}

.CalendarDay__highlighted_calendar {
  color: #484848;
  background: #ffe8bc
}

.CalendarDay__highlighted_calendar:active,
.CalendarDay__highlighted_calendar:hover {
  color: #484848;
  background: #ffce71
}

.CalendarDay__selected_span {
  color: #fff;
  background: #66e2da;
  border: 1px solid #33dacd
}

.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  color: #fff;
  background: #33dacd;
  border: 1px solid #33dacd
}

.CalendarDay__last_in_range {
  border-right: #00a699
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  color: #fff;
  background: #00a699;
  border: 1px solid #00a699
}

.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
  color: #007a87;
  background: #b2f1ec;
  border: 1px solid #80e8e0
}

.CalendarDay__hovered_span:active {
  color: #007a87;
  background: #80e8e0;
  border: 1px solid #80e8e0
}

.CalendarDay__blocked_calendar,
.CalendarDay__blocked_calendar:active,
.CalendarDay__blocked_calendar:hover {
  color: #82888a;
  background: #cacccd;
  border: 1px solid #cacccd
}

.CalendarDay__blocked_out_of_range,
.CalendarDay__blocked_out_of_range:active,
.CalendarDay__blocked_out_of_range:hover {
  color: #cacccd;
  background: #fff;
  border: 1px solid #e4e7e7
}

.CalendarMonth {
  text-align: center;
  vertical-align: top;
  user-select: none;
  background: #fff
}

.CalendarMonth_table {
  border-spacing: 0;
  border-collapse: collapse
}

.CalendarMonth_verticalSpacing {
  border-collapse: separate
}

.CalendarMonth_caption {
  padding-top: 22px;
  padding-bottom: 37px;
  font-size: 18px;
  color: #484848;
  text-align: center;
  caption-side: initial
}

.CalendarMonth_caption__verticalScrollable {
  padding-top: 12px;
  padding-bottom: 7px
}

.CalendarMonthGrid {
  z-index: 0;
  text-align: left;
  background: #fff
}

.CalendarMonthGrid__animating {
  z-index: 1
}

.CalendarMonthGrid__horizontal {
  position: absolute;
  left: 9px
}

.CalendarMonthGrid__vertical {
  margin: 0 auto
}

.CalendarMonthGrid__vertical_scrollable {
  margin: 0 auto;
  overflow-y: scroll
}

.CalendarMonthGrid_month__horizontal {
  display: inline-block;
  min-height: 100%;
  vertical-align: top
}

.CalendarMonthGrid_month__hideForAnimation {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  opacity: 0
}

.CalendarMonthGrid_month__hidden {
  visibility: hidden
}

.DayPickerNavigation {
  position: relative;
  z-index: 2
}

.DayPickerNavigation__horizontal {
  height: 0
}

.DayPickerNavigation__verticalDefault {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 52px
}

.DayPickerNavigation__verticalScrollableDefault {
  position: relative
}

.DayPickerNavigation_button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  border: 0
}

.DayPickerNavigation_button__default {
  color: #757575;
  background-color: #fff;
  border: 1px solid #e4e7e7
}

.DayPickerNavigation_button__default:focus,
.DayPickerNavigation_button__default:hover {
  border: 1px solid #c4c4c4
}

.DayPickerNavigation_button__default:active {
  background: #f2f2f2
}

.DayPickerNavigation_button__horizontalDefault {
  position: absolute;
  top: 18px;
  padding: 6px 9px;
  line-height: .78;
  border-radius: 3px
}

.DayPickerNavigation_leftButton__horizontalDefault {
  left: 22px
}

.DayPickerNavigation_rightButton__horizontalDefault {
  right: 22px
}

.DayPickerNavigation_button__verticalDefault {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100%;
  padding: 5px;
  background: #fff;
  box-shadow: 0 0 5px 2px rgb(0 0 0 / 10%)
}

.DayPickerNavigation_nextButton__verticalDefault {
  border-left: 0
}

.DayPickerNavigation_nextButton__verticalScrollableDefault {
  width: 100%
}

.DayPickerNavigation_svg__horizontal {
  display: block;
  width: 19px;
  height: 19px;
  fill: #82888a
}

.DayPickerNavigation_svg__vertical {
  display: block;
  width: 42px;
  height: 42px;
  fill: #484848
}

.DayPicker {
  position: relative;
  text-align: left;
  background: #fff
}

.DayPicker__horizontal {
  background: #fff
}

.DayPicker__verticalScrollable {
  height: 100%
}

.DayPicker__hidden {
  visibility: hidden
}

.DayPicker__withBorder {
  border-radius: 3px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 5%),0 0 0 1px rgb(0 0 0 / 7%)
}

.DayPicker_portal__horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: none
}

.DayPicker_portal__vertical {
  position: initial
}

.DayPicker_focusRegion {
  outline: 0
}

.DayPicker_calendarInfo__horizontal,
.DayPicker_wrapper__horizontal {
  display: inline-block;
  vertical-align: top
}

.DayPicker_weekHeaders {
  position: relative
}

.DayPicker_weekHeaders__horizontal {
  margin-left: 9px
}

.DayPicker_weekHeader {
  position: absolute;
  top: 62px;
  z-index: 2;
  color: #757575;
  text-align: left
}

.DayPicker_weekHeader__vertical {
  left: 50%
}

.DayPicker_weekHeader__verticalScrollable {
  top: 0;
  left: 0;
  display: table-row;
  width: 100%;
  margin-left: 0;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #dbdbdb
}

.DayPicker_weekHeader_ul {
  padding-right: 0;
  padding-left: 0;
  margin: 1px 0;
  font-size: 14px;
  list-style: none
}

.DayPicker_weekHeader_li {
  display: inline-block;
  text-align: center
}

.DayPicker_transitionContainer {
  position: relative;
  overflow: hidden;
  border-radius: 3px
}

.DayPicker_transitionContainer__horizontal {
  transition: height .2s ease-in-out
}

.DayPicker_transitionContainer__vertical {
  width: 100%
}

.DayPicker_transitionContainer__verticalScrollable {
  position: absolute;
  inset: 0;
  height: 100%;
  padding-top: 20px;
  overflow-y: scroll
}

.DateInput {
  position: relative;
  display: inline-block;
  width: 130px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  background: #fff
}

.DateInput__small {
  width: 97px
}

.DateInput__block {
  width: 100%
}

.DateInput__disabled {
  color: #dbdbdb;
  background: #f2f2f2
}

.DateInput_input {
  width: 100%;
  padding: 11px 11px 9px;
  font-size: 19px;
  font-weight: 200;
  line-height: 24px;
  color: #484848;
  background-color: #fff;
  border: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid transparent;
  border-left: 0;
  border-radius: 0
}

.DateInput_input__small {
  padding: 7px 7px 5px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: .2px
}

.DateInput_input__regular {
  font-weight: auto
}

.DateInput_input__readOnly {
  user-select: none
}

.DateInput_input__focused {
  background: #fff;
  border: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid #008489;
  border-left: 0;
  outline: 0
}

.DateInput_input__disabled {
  font-style: italic;
  background: #f2f2f2
}

.DateInput_screenReaderMessage {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0
}

.DateInput_fang {
  position: absolute;
  left: 22px;
  z-index: 2;
  width: 20px;
  height: 10px
}

.DateInput_fangShape {
  fill: #fff
}

.DateInput_fangStroke {
  fill: transparent;
  stroke: #dbdbdb
}

.DateRangePickerInput {
  display: inline-block;
  background-color: #fff
}

.DateRangePickerInput__disabled {
  background: #f2f2f2
}

.DateRangePickerInput__withBorder {
  border: 1px solid #dbdbdb;
  border-radius: 2px
}

.DateRangePickerInput__rtl {
  direction: rtl
}

.DateRangePickerInput__block {
  display: block
}

.DateRangePickerInput__showClearDates {
  padding-right: 30px
}

.DateRangePickerInput_arrow {
  display: inline-block;
  color: #484848;
  vertical-align: middle
}

.DateRangePickerInput_arrow_svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  fill: #484848
}

.DateRangePickerInput_clearDates {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 10px;
  margin: 0 10px 0 5px;
  overflow: visible;
  font: inherit;
  line-height: normal;
  color: inherit;
  cursor: pointer;
  background: 0 0;
  border: 0;
  transform: translateY(-50%)
}

.DateRangePickerInput_clearDates__small {
  padding: 6px
}

.DateRangePickerInput_clearDates_default:focus,
.DateRangePickerInput_clearDates_default:hover {
  background: #dbdbdb;
  border-radius: 50%
}

.DateRangePickerInput_clearDates__hide {
  visibility: hidden
}

.DateRangePickerInput_clearDates_svg {
  width: 15px;
  height: 12px;
  vertical-align: middle;
  fill: #82888a
}

.DateRangePickerInput_clearDates_svg__small {
  height: 9px
}

.DateRangePickerInput_calendarIcon {
  display: inline-block;
  padding: 10px;
  margin: 0 5px 0 10px;
  overflow: visible;
  font: inherit;
  line-height: normal;
  color: inherit;
  vertical-align: middle;
  cursor: pointer;
  background: 0 0;
  border: 0
}

.DateRangePickerInput_calendarIcon_svg {
  width: 14px;
  height: 15px;
  vertical-align: middle;
  fill: #82888a
}

.DateRangePicker {
  position: relative;
  display: inline-block
}

.DateRangePicker__block {
  display: block
}

.DateRangePicker_picker {
  position: absolute;
  z-index: 1;
  background-color: #fff
}

.DateRangePicker_picker__rtl {
  direction: rtl
}

.DateRangePicker_picker__directionLeft {
  left: 0
}

.DateRangePicker_picker__directionRight {
  right: 0
}

.DateRangePicker_picker__portal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 30%)
}

.DateRangePicker_picker__fullScreenPortal {
  background-color: #fff
}

.DateRangePicker_closeButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 15px;
  overflow: visible;
  font: inherit;
  line-height: normal;
  color: inherit;
  cursor: pointer;
  background: 0 0;
  border: 0
}

.DateRangePicker_closeButton:focus,
.DateRangePicker_closeButton:hover {
  color: darken(#cacccd,10%);
  text-decoration: none
}

.DateRangePicker_closeButton_svg {
  width: 15px;
  height: 15px;
  fill: #cacccd
}