@import "../../../../../styles/customMediaQueries.css";

.weekDay,
.hasEntries {
	padding-right: 30px;
	padding-left: 30px;

	@media (--viewportSmall) {
		padding-right: 60px;
		padding-left: 60px;
	}
}

.weekDay {
	composes: marketplacetabnavhorizontalfontstyles from global;

	/* Layout */

	/* display: grid;
  grid-template-columns: 24px 140px minmax(300px, 1fr);
  grid-template-areas: "checkbox dayOfWeek pickers"; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 10px;
	padding-bottom: 13px;
	border-top: solid 1px var(--colorGrey100);

	&:last-child {
		border-bottom: solid 1px var(--colorGrey100);
	}

	@media (--viewportMedium) {
		padding-top: 8px;
		padding-bottom: 16px;
	}
}

.hasEntries {
	background-color: var(--colorWhite);
}

.dayToggle {
	padding-top: 3px;

	@media (--viewportMedium) {
		padding-top: 8px;
	}
}

.dayOfWeek {
	width: 140px;
	padding-top: 6px;

	@media (--viewportMedium) {
		width: 140px;
		padding-top: 8px;
	}
}

.pickerArea {
	flex-grow: 1;
}

.timePicker {
	width: 100%;
}

.fieldWrapper {
	position: relative;

	/* This container uses flexbox layout */
	display: flex;

	/* parent aka root is flexbox, this container takes all available space */
	flex-grow: 1;
	flex-shrink: 0;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 6px;

	@media (--viewportMedium) {
		padding-bottom: 8px;
	}
}

.formRow {
	z-index: 1;

	/* This container uses flexbox layout */
	display: flex;

	/* parent aka fieldWrapper is flexbox, this container takes all available space */
	flex-grow: 1;
	flex-shrink: 0;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
}

.formRowHidden {
	display: none;
}

.closeIcon {
	composes: marketplacemodalcloseicon from global;

	/* align icon with the select fields */
	padding: 5px 0 7px;
	fill: var(--colorGrey300);
	stroke: none;

	&:hover {
		fill: var(--colorGrey700);
	}

	@media (--viewportMedium) {
		padding: 6px 0;
	}
}

.dashBetweenTimes {
	padding-right: 6px;
	padding-left: 6px;
}

.plus1Day {
	composes: marketplacetinyfontstyles from global;
	padding: 5px 0 1px;
	margin: 0 0 0 8px;
	color: var(--colorGrey300);
	visibility: hidden;
	opacity: 0;

	@media (--viewportMedium) {
		padding: 6px 0 2px;
		margin: 0 0 0 8px;
	}
}

.showPlus1Day {
	visibility: visible;
	opacity: 1;
}

.buttonAddNew {
	composes: h5 from global;
	color: var(--colorGrey700);

	@media (--viewportMedium) {
		margin-bottom: 6px;
	}
}

.fieldSelect {
	composes: marketplacetabnavhorizontalfontstyles from global;
	min-width: 87px;
	padding: 6px 12px 4px;
	text-align: center;
	background: none;

	&:select {
		margin-right: 0;
	}
}

.notSelected {
	color: var(--colorGrey300);
}
