.root {
  width: 100%;
  height: 48px;
  position: relative;

  @media (--viewLargeScreenMax) {
    width: 100vw;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.btnBack {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 0px;
  border-radius: 99px;
  background: #fff;
}
.iconBack {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  fill: #000;
}

.btnClose {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 0px;
  border-radius: 99px;
  background: #fff;
}

.iconClose {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  fill: #000;
}
