@import "../../styles/customMediaQueries.css";

/* 404 page */

.root {
	display: flex;
	flex-direction: column;

	/* Expand to the available space */
	flex-grow: 1;
	align-items: center;
}

.content {
	width: 80%;
	max-width: 587px;
	margin-top: 60px;
	margin-bottom: 60px;

	@media (--viewportMedium) {
		margin-top: 10vh;
	}
}

.number {
	composes: marketplaceherotitlefontstyles from global;
	margin: 1px 0 0;
	color: var(--marketplaceColor);
	text-align: center;

	@media (--viewportMedium) {
		margin: 0;
	}
}

.heading {
	composes: marketplacemodaltitlestyles from global;
	margin-top: 16px;
	text-align: center;

	@media (--viewportMedium) {
		margin-top: 22px;
	}
}

.description {
	margin-bottom: 0;
	text-align: center;

	@media (--viewportMedium) {
		margin-top: 24px;
		margin-bottom: 0;
	}
}

.searchForm {
	max-width: 408px;
	margin: 62px auto 0;
	background-color: var(--colorWhite);
	border-bottom: 4px solid var(--marketplaceColor);
	box-shadow: var(--boxShadowNotFoundPageSearch);

	@media (--viewportMedium) {
		margin-top: 64px;
	}
}
