.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-out;
}

.image img {
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.center img {
  width: 300px;
  height: 400px;
}

.left img, .right img {
  width: 200px;
  height: 300px;
}

.leftFar img, .rightFar img {
  width: 100px;
  height: 200px;
}
