.backgroundLight {
  stop-color: var(--color-banned-100);
}

.backgroundDark {
  stop-color: var(--color-banned);
}

.foregroundFill {
  fill: var(--matterColorLight);
}

.foregroundStroke {
  stroke: var(--matterColorLight);
}
