@import '../../../../styles/customMediaQueries.css';

.root {
  width: 100%;
}

.customField {
  margin-bottom: 8px;
  height: 40px;
  display: grid;
  align-items: center;
  color: var(--colorGrey800);

  input {
    border: 0;
    text-overflow: ellipsis;
  }

  input:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  &:hover,
  &:focus {
    border-bottom-color: var(--marketplaceColor);
    outline: none;
    border: 0;
    box-shadow: none;
  }

  input {
    height: 40px;
  }

  @media (--viewportLarge) {
    height: 48px;
    margin-bottom: 0;
  }
}
