@import '../../../../styles/customMediaQueries.css';

.filterField {
  height: 100%;
  align-items: center;
  display: grid;
  min-height: 40px;

}

.align {
  justify-self: start;
  @media (--viewportMedium) {
    justify-self: center;
  }

}

.searchBarContainer {
  composes: align;
  background-color: var(--colorWhite);
  border-color: var(--colorGrey800);
  border-width: 1px;
  color: var(--colorGrey500);
  border-radius: 8px;
  box-shadow: var(--boxShadowPopup);
  width: 100%;
  padding: 8px;
}

.gridContainer {
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.gridContainer > *:not(:last-child):not(:nth-last-child(2)) {
  border-bottom: 1px solid var(--colorGrey200);
}

/* applies in mobile styles, we specify that there should always be just one column so the items stack in mobile view*/
.gridCol1,
.gridCol2,
.gridCol3,
.gridCol4 {
  grid-template-columns: 1fr;
}

.submitButton {
  min-height: 40px;
}

/* tablet */
@media (--viewportMedium) {
  .searchBarContainer {
    width: 576px;
  }
  .submitButton {
    height: 48px;
  }
}

/* tablet + desktop – all items are on a single row */
@media (--viewportLarge) {
  /* Remove bottom border, apply right border in desktop */
  .gridContainer > *:not(:last-child):not(:nth-last-child(2)) {
    border-right: 1px solid var(--colorGrey200);
    border-bottom: none;
    padding-bottom: 0;
  }
  .filterField {
    padding: 0;
    color: var(--colorGrey300);
  }
  /* force the button to the very right of the search bar */
  .gridContainer > *:last-child {
    justify-self: end;
  }

  .gridContainer {
    padding-top: 0;
  }

  .searchBarContainer {
    width: 100%;
  }

  .searchBarContainer.gridCol1 {
    width: 576px;
  }
  .searchBarContainer.gridCol2 {
    width: 768px;
  }
  .searchBarContainer.gridCol3 {
    width: 960px;
  }
  .searchBarContainer.gridCol4 {
    max-width: 1056px;
    min-width: 960px;
  }

  .gridContainer.gridCol1 {
    grid-template-columns: minmax(0, 1fr) 86px;
  }
  .gridContainer.gridCol2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) 86px;
  }
  .gridContainer.gridCol3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) 86px;
  }
  .gridContainer.gridCol4 {
    grid-template-columns: repeat(4, minmax(0, 1fr)) 86px;
  }
}
