@import '../../styles/customMediaQueries.css';

.page {
  background: var(--primary-eaf-6-f-6, #EAF6F6);
}

.root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding-bottom: 120px;

  @media (--viewLargeScreenMax) {
    width: 100vw;
    padding-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.list {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  min-height: 720px;
  width: 1110px;

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
    min-height: auto;
  }
}

.articles {
  display: flex;
  width: 729px;
  height: 716px;
  padding: 45px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  border-radius: 20px;
  background: var(--primary-ffffff, #FFF);

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
    height: auto;
  }
}

.article_row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.article_title {
  color: var(--primary-1-b-242-d, #1B242D);
  /* H3 */
  font-family: Clash Display;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  /* 43.75px */
  align-self: stretch;

  @media (--viewLargeScreenMax) {
    font-size: 30px;
  }
}

.article_content {
  color: var(--primary-1-b-242-d, #1B242D);
  /* P16 - Standard */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 22.4px */
  align-self: stretch;
  opacity: 0.7;
}

.latest {
  display: flex;
  width: 350px;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 20px;
  padding: 30px;
  background: var(--primary-ffffff, #FFF);

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.latest_title {
  color: var(--primary-1-b-242-d, #1B242D);
  /* H5 */
  font-family: Clash Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 30px */
}

.latest_articles {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border-radius: 10px;
  background: rgba(234, 246, 246, 0.50);
}

.latest_article_title {
  color: var(--primary-1-b-242-d, #1B242D);
  font-family: Clash Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 19.2px */
  align-self: stretch;
}

.latest_article_content {
  margin-top: 10px;
  color: #1B242D;
  align-self: stretch;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
  opacity: 0.6;
}

.latest_article_line {
  background: #D5EAEA;
  width: 100%;
  height: 1px;
}


.social_box {
  display: flex;
  padding: 2px 20px;
  align-items: center;
  gap: 2px;
  border-radius: 85.856px;
  background: var(--primary-eaf-6-f-6, #EAF6F6);
}

.social_icon {
  color: #06C167;
  font-size: 20px;
  padding: 8px;
}

.subscribe {
  padding-top: 60px;

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}