@import '../../../../styles/customMediaQueries.css';

.articleMain {
  max-width: 820px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0;
  margin: 0 auto;
  padding: 0 24px;

  @media (--viewportMedium) {
    padding: 0 32px;
  }
}

.articleMain strong,
.articleMain b {
  font-weight: 400;
}

.noSidePaddings {
  padding-left: 0;
  padding-right: 0;
}
