@import "../../styles/customMediaQueries.css";

.unsupportedCountryError {
	color: var(--colorFail);
}

.root {
	/* This component uses flexbox layout too */
	display: flex;

	/* Parent component should not shrink this field */
	flex-shrink: 0;
	flex-wrap: wrap;
	justify-content: space-between;
}

.input {
	/* Parent component should not shrink this field */
	flex-shrink: 0;
	width: 100%;
	margin-bottom: 24px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.error {
	margin-top: 7px !important; /* TODO: Change the <p> tag in front-end to <span> to remove !important */
	font-size: 13px !important; /* TODO: Change the <p> tag in front-end to <span> to remove !important */
	color: var(--colorFail);
}

input.inputError {
	border: var(--borderErrorField);
}

.longForm {
	width: 100%;
	margin-bottom: 24px;

	@media (--viewportSmall) {
		width: calc(50% - 9px);
	}
}
