@import '../../../../styles/customMediaQueries.css';

.root {
  background-color: var(--colorWhite);
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  margin: auto;
  padding: 8px;

  @media (--viewportMedium) {
    max-width: calc(var(--contentMaxWidth) + 72px);
    padding: 28px 36px;
  }
}

.hiddenStep {
  visibility: hidden;
}
