@import "../../styles/customMediaQueries.css";

.root {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
}

.tab {
	margin-left: 16px;

	&:first-child {
		margin-left: 0;
	}

	@media (--viewportLarge) {
		margin-left: 24px;
	}
}

.link {
	/* Font */
	composes: textsmall from global;
	display: inline-block;
	height: 100%;
	padding-top: 10px;
	padding-bottom: 10px;

	/* push tabs against bottom of tab bar */
	margin-top: auto;
	color: var(--colorGrey700);
	white-space: nowrap;
	background-image: url("data:image/svg+xml;utf8,<svg width='4' height='32' viewBox='0 0 4 32' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h4v32H0z' fill='%234a4a4a' fill-rule='evenodd'/></svg>");
	background-position: calc(var(--TabNav_linkWidth) + 4px) center; /* SelectedLink's width (200px) + border thickness (4px) = 204px */
	border-bottom: 2px solid transparent;
	transition: var(--transitionStyleButton);

	&:hover {
		color: var(--colorBlack);
		text-decoration: none;
	}

	@media (--viewportLarge) {
		width: var(--TabNav_linkWidth);
		height: unset;
		padding-top: 5px; /* Drop the text to adjust it to correct baseline */
		padding-bottom: 3px;
		margin-top: 0;
		margin-bottom: 16px;
		font-size: 20px;
		font-weight: var(--fontWeightSemiBold);
		line-height: 24px;
		border-bottom-width: 0;

		&:hover {
			background-image: url("data:image/svg+xml;utf8,<svg width='4' height='32' viewBox='0 0 4 32' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h4v32H0z' fill='%234a4a4a' fill-rule='evenodd'/></svg>");
			background-position: right center;
		}
	}
}

.selectedLink {
	color: var(--colorBlack);
	border-bottom-color: var(--colorBlack);

	@media (--viewportLarge) {
		width: var(--TabNav_linkWidth);
		background-image: url("data:image/svg+xml;utf8,<svg width='4' height='32' viewBox='0 0 4 32' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h4v32H0z' fill='%23000' fill-rule='evenodd'/></svg>");
		background-position: right center;

		&:hover {
			background-image: url("data:image/svg+xml;utf8,<svg width='4' height='32' viewBox='0 0 4 32' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h4v32H0z' fill='%234a4a4a' fill-rule='evenodd'/></svg>");
			background-position: right center;
		}
	}
}

.disabled {
	color: var(--colorGrey300);
	text-decoration: none;
	pointer-events: none;
}
