@import "../../../../../styles/customMediaQueries.css";

.radioButtons {
}

.checkedAvailable {
	display: none;
	fill: var(--colorSuccess);
	stroke: var(--colorSuccess);
}

.checkedNotAvailable {
	display: none;
	fill: var(--colorFail);
	stroke: var(--colorFail);
}
