@import "../../../../../styles/customMediaQueries.css";

.root {
}

.heading,
.radioButtons,
.submitButton {
	padding-right: 24px;
	padding-left: 24px;

	@media (--viewportMedium) {
		padding-right: 60px;
		padding-left: 60px;
	}
}

.heading {
	margin-bottom: 16px;
}

/* Exception start and end inputs */
.section {
	display: flex;
	flex-direction: column;
	margin-bottom: 48px;

	@media (--viewportMedium) {
		padding-right: 60px;
		padding-left: 60px;
		margin-bottom: 200px;
	}
}

.rootNextMonthIcon,
.rootPreviousMonthIcon {
	fill: var(--colorWhite);
	stroke: var(--colorWhite);
}

.submitButton {
	flex-shrink: 0;

	/* Mobile phones introduce bottom-bar, for which we need to give 96px vertical space */
	padding-bottom: 96px;
	margin-top: auto;

	@media (--viewportMedium) {
		padding-bottom: 0;
	}
}
