@import "../../../styles/customMediaQueries.css";

.root {
	position: relative;
	padding-top: 24px;
	padding-bottom: 17px;
	margin-top: 12px;
	border-bottom: 1px solid var(--colorGrey100);

	@media (--viewportMedium) {
		padding-top: 16px;
		padding-bottom: 0;
		border-bottom: 0;
	}
}

.contentWrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 300px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0;

	@media (--viewportMedium) {
		padding-top: 0;
		padding-bottom: 8px;
		margin-top: 0;
	}
}

.formWrapper {
	padding-left: 12px;
}

.contentWrapperSidebar {
	margin-top: 12px;
}

.labelPopup {
	composes: h5 from global;
	padding: 11px 0 13px;
	margin: 0 18px 0 0;
	font-weight: var(--fontWeightSemiBold);
}

@media (--viewportMedium) {
	.label {
		padding: 8px 0 16px;
	}
}

.inputsWrapper {
	display: flex;

	@media (--viewportMedium) {
		padding-bottom: 5px;
	}
}

.minValue,
.maxValue {
	width: 48px;
	text-align: center;
	appearance: textfield;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		margin: 0;
		appearance: none;
	}

	@media (--viewportMedium) {
		padding: 3px 0;
	}
}

.valueInSidebar {
	width: 72px;
}

.valueSeparator {
	margin: 6px 8px 0;

	@media (--viewportMedium) {
		margin: 5px 8px 0;
	}
}

.sliderWrapper {
	display: flex;
	padding: 17px 0 25px;

	@media (--viewportMedium) {
		padding: 3px 0 13px;
	}
}
