.root {
    padding: 12px;
    line-height: 1.2;
    font-size: 12px;
    margin: 13px auto;
    border-radius: 4px;
    border: 1px solid var(--colorAttention);
    background: var(--colorAttentionLight);
  }