@import '../../../styles/customMediaQueries.css';

.noSearchResults {
  composes: h4 from global;

  /* Reserves 48px of vertical space */
  line-height: 24px;
  margin-top: 18px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.links{
  padding:20px 0;
  composes: h5 from global;
  
  > span {
    display:inline-block;
    margin:2px 12px 2px 0%;
    padding:2px 12px 2px 0;
    border-right:1px solid var(--colorGrey700);

    &:last-child{
      border:none;
    }
  }
}

.createListingLink,
.resetAllFiltersButton,
.openLeadForm {
  
  font-weight: var(--fontWeightMedium);
  color: var(--marketplaceColor);

  /* Layout */
  display: inline;
  margin: 0;
  padding: 0;

  /* Override button styles */
  outline: none;
  text-align: left;
  border: none;
  cursor: pointer;

  &:focus,
  &:hover {
    color: var(--colorGrey700);
    text-decoration: none;
  }

  @media (--viewportMedium) {
    padding: 3px 0 5px 0;
  }
}

.modal{
  border:none;
}