@import "../../../styles/customMediaQueries.css";

.noSearchResults {
	composes: h4 from global;
	margin-top: 18px;
	margin-bottom: 18px;

	/* Reserves 48px of vertical space */
	line-height: 24px;

	@media (--viewportMedium) {
		margin-top: 8px;
		margin-bottom: 8px;
	}
}

.createListingLink,
.resetAllFiltersButton {
	composes: h5 from global;

	/* Layout */
	display: inline;
	padding: 0;
	margin: 0;
	font-weight: var(--fontWeightMedium);
	color: var(--marketplaceColor);
	text-align: left;
	cursor: pointer;
	border: none;

	/* Override button styles */
	outline: none;

	&:focus,
	&:hover {
		color: var(--colorGrey700);
	}

	@media (--viewportMedium) {
		padding: 3px 0 5px;
	}
}
