REACT_APP_SHARETRIBE_MARKETPLACE_ID=your_marketplace_id_here
REACT_APP_SHARETRIBE_SDK_CLIENT_ID=your_sdk_client_id_here
REACT_APP_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key_here
SHARETRIBE_SDK_CLIENT_SECRET=your_sdk_client_secret_here
REACT_APP_MARKETPLACE_ROOT_URL=http://localhost:3000
REACT_APP_MARKETPLACE_NAME=your_marketplace_name_here
SHIPPO_API_TOKEN=your_shippo_api_token_here
REACT_APP_ENV=production
REACT_APP_CSP=report
ZAPIER_REQUEST_WEBHOOK=your_zapier_request_webhook_url_here
ZAPIER_ACCEPT_WEBHOOK=your_zapier_accept_webhook_url_here
ZAPIER_DECLINE_WEBHOOK=your_zapier_decline_webhook_url_here
ZAPIER_LABEL_SENT_WEBHOOK=your_zapier_label_sent_webhook_url_here
ZAPIER_ITEM_SHIPPED_WEBHOOK=your_zapier_item_shipped_webhook_url_here
