@import "../../../../styles/customMediaQueries.css";

.mobileInputRoot {
	width: 100%;
}

.desktopInputRoot {
	height: var(--topbarHeightDesktop);
}

.mobileIcon {
	display: flex;
	align-self: stretch;
	width: 24px;
	padding: 11px 0 17px;
	margin-left: 24px;
	background-color: var(--colorWhite);

	@media (--viewportMedium) {
		margin-left: 0;
	}
}

.fontInput {
	padding: 4px 13px 10px;

	/* Layout */
	margin: 0 24px 0 0;
	font-size: 24px;
	font-weight: var(--fontWeightBlack);
	line-height: 24px;

	@media (--viewportMedium) {
		padding: 5px 13px 15px;
		margin: 0;
		font-size: 30px;
		line-height: 40px;
	}
}

.mobileInput {
	/* Font */
	composes: fontInput;

	/* Layout */
	height: 50px;

	/* Borders */
	border: 0;
	border-radius: 0;

	/* Safari bugfix: without this Safari will print placeholder to a wrong place */
	&::input-placeholder {
		line-height: normal;
	}

	&:hover,
	&:focus {
		border: 0;
		border-radius: 0;
		outline: none;
		box-shadow: none;
	}
}

.desktopIcon {
	display: flex;
	align-self: stretch;
	width: 24px;
	height: var(--topbarHeightDesktop);
	padding-top: 2px;
	background-color: var(--colorWhite);
	border: none;
}

.desktopInput {
	composes: p from global;
	flex-grow: 1;

	/* Font */
	height: var(--topbarHeightDesktop);
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 10px;
	margin-top: 0;
	margin-bottom: 0;
	overflow-x: hidden;
	line-height: unset;

	/* Search text gets ellipsis if it's too wide */
	text-overflow: ellipsis;
	border: none;

	&:hover,
	&:focus {
		border: 0;
		border-bottom-color: var(--marketplaceColor);
		outline: none;
		box-shadow: none;
	}

	&:hover::placeholder,
	&:focus::placeholder {
		color: var(--colorGrey700);
	}

	/* Placeholder text might be too wide */
	&::placeholder {
		overflow-x: hidden;
		text-overflow: ellipsis;
		transition: var(--transitionStyleButton);
	}

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.mobilePredictions {
	position: absolute;
	top: 50px;
	left: 0;
	z-index: calc(var(--zIndexPopup) + 1);
	width: 100%;

	/* searchContainer margin-top (94px) + mobileInput height (50px) = 144px */
	min-height: calc(100vh - 144px);
	background-color: var(--marketplaceColor);
	border-bottom-right-radius: var(--borderRadius);
	border-bottom-left-radius: var(--borderRadius);
	box-shadow: var(--boxShadowPopup);

	@media (--viewportMedium) {
		min-height: unset;
	}
}

.mobilePredictionsAttribution {
	/* When using the Google Maps Places geocoder, the "Powered by Google"
   text is hidden in Mobile Safari without giving some extra space to
   it. */
	margin-bottom: 100px;
}

.desktopPredictions {
	position: absolute;
	top: var(--topbarHeightDesktop);
	left: 0;
	z-index: calc(var(--zIndexPopup) + 1);
	width: 100%;
	max-width: 434px;
	margin-top: 0;
	background-color: var(--marketplaceColor);
	border-bottom-right-radius: var(--borderRadius);
	border-bottom-left-radius: var(--borderRadius);
	box-shadow: var(--boxShadowPopup);
}

/**
 * Keyword search
 */
.keywordSearchWrapper {
	position: relative;
	display: flex;
}

.searchSubmit {
	padding: 0;
	cursor: pointer;
	border: 0;

	&:hover,
	&:focus {
		outline: none;

		& .iconSvgGroup {
			stroke: var(--colorGrey700);
		}
	}
}

.icon {
	display: flex;
	align-self: stretch;
	width: 24px;
	background-color: var(--colorWhite);
	border-bottom: 2px solid var(--marketplaceColor);
}

.iconSvg {
	margin: auto;
}

.iconSvgGroup {
	stroke: var(--marketplaceColor);
	stroke-width: 2.5px;

	@media (--viewportMedium) {
		stroke-width: 2px;
	}
}
