@import "../../../../styles/customMediaQueries.css";

.root {
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&:nth-of-type(odd) {
		background-color: var(--colorWhite);
	}

	&:target {
		scroll-margin-top: var(--topbarHeight);

		@media (--viewportMedium) {
			scroll-margin-top: var(--topbarHeightDesktop);
		}
	}
}

.sectionContent {
	position: relative;
	padding: 32px 0;
	word-break: break-word;

	@media (--viewportMedium) {
		padding: 64px 0;
	}
}

.backgroundImageWrapper {
	position: absolute;
	inset: 0;
}
