@import '../../../../styles/customMediaQueries.css';

.root {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;

  &:nth-of-type(odd) {
    background-color: var(--colorWhite);
  }

  &[id] {
    scroll-margin-top: var(--topbarHeight);
    @media (--viewportMedium) {
      scroll-margin-top: var(--topbarHeightDesktop);
    }
  }
}

.sectionContent {
  --contentPaddingY: 40px;
  --contentPaddingX: 32px;

  padding: var(--contentPaddingY, 32px) 0;
  position: relative;
  word-break: break-word;

  @media (--viewportMedium) {
    --contentPaddingY: 40px;
  }
}

.sectionContentLarge {
  --contentMaxWidthPages: 1370px;
  --contentPaddingX: 18px;

  @media (--viewportMedium) {
    --contentPaddingX: 25px;
  }
  @media (--viewportLarge) {
    --contentPaddingX: 35px;
  }
}

.sectionContentMedium {
  --contentMaxWidthPages: 740px;
  --contentPaddingX: 35px;

  margin: auto;

  header > p {
    text-wrap: initial;
    color: var(--colorGray300);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
  }
}

.sectionContentFullW {
  --contentMaxWidthPages: 100%;
  --contentPaddingX: 0;

  > div > div {
    > div:nth-child(2) {
      padding: 40px 20px;
      margin: 20px auto;
      

      @media (--viewportMedium) {
        padding-left: 80px;
      }
    }
  }

  @media (--viewportMedium) {
    --contentPaddingX: 0;
  }
  @media (--viewportLarge) {
    --contentPaddingX: 0;
  }

  img {
    border-radius: 0;
  }
}

.sectionContentShortC {
  header + div {
    gap: 60px;
    max-width: 880px;

    
  }
  header + div > div {

  }
}

.sectionContentFullH {
  padding-top: 0;
  padding-bottom: 0;

  @media (--viewportMedium) {
    
  }
}

.sectionContentSmallerTitle {
  header {
    margin-top: 50px;
  }
  header + div {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  header h1,
  header h2,
  header h3 {
    font-size: 28px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 0;
  } 
}

.sectionContentMediumTitle {
  header {
    margin-top: 30px;
  }
  header + div {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  header h1,
  header h2,
  header h3 {
    font-size: 34px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 0;
  } 
}

.sectionContentHasTextGray {
  header > p {
    color: var(--colorGrey300);
    font-size: 20px;
    font-weight: 700;
    line-height: 150%; /* 30px */
    line-height: 28px; /* 140% */
    letter-spacing: -1px;
  }
}

.customFooter {
  background-color: var(--avBlue);
  color: white;
}

.sectionContentHalf {
  width: 70%;

  @media (--viewportMedium) {

  }
}

.backgroundImageWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.starDeco {
  overflow: hidden;

  > *:not(header) {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 125px;
      height: 125px;
      background-image: url(./images/star_bg.webp);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 3;
    }
  }
}

.starDeco1 {
  > *:not(header) {
    &::after {
      top: -50px;
      right: -25px;
      transform: rotate(27deg);
    }
  }
}

.starDeco2 {
  > *:not(header) {
    &::after {
      top: -50px;
      right: -30px;
      transform: rotate(27deg);

      @media (min-width: 768px) {
        left: -30px;
        right: unset;
        transform: rotate(-27deg);
      }
    }
  }
}

.starDeco3 {
  > *:not(header) {
    &::after {
      top: -28px;
      right: -26px;
      transform: rotate(27deg);

      @media (min-width: 768px) {
        right: calc(25% - 5px);
      }
    }
  }
}

.starDeco4 {
  > *:not(header) {
    &::after {
      top: -28px;
      right: -28px;
      transform: rotate(22deg);

      @media (min-width: 768px) {
        right: unset;
        left: calc(25% - 5px);
        transform: rotate(-27deg);
      }
    }
  }
}

.starDeco5 {
  overflow: visible;

  > *:not(header) {  
    &::after {
      top: unset;
      bottom: 350px;
      left: calc(50% - 80px);
      right: unset;
      transform: rotate(-27deg);

      @media (min-width: 768px) {
        top: unset;
        bottom: -40px;
        left: calc(50% - 25px);
      }
    }
  }
}

.starDeco6 {
  > *:not(header) {
    &::after {
      top: unset;
      bottom: calc(50% - 35px);
      right: -40px;
      transform: rotate(20deg);

      @media (min-width: 768px) {
        top: unset;
        bottom: calc(50% - 75px);
        left: calc(50% - 100px);
        right: unset;
      }
    }
  }
}
