@import "../../../styles/customMediaQueries.css";

.root {
	position: relative;
	box-shadow: var(--boxShadowBottomForm);

	@media (--viewportLarge) {
		/* Clearfix */
		width: 100%;
		overflow: hidden;
		box-shadow: none;
	}
}

.spinner {
	width: 18px;
	height: 18px;
	stroke: var(--colorWhite);
	stroke-width: 4px;
}

.fillSuccess {
	fill: var(--colorSuccess);
}

.strokeMatter {
	stroke: var(--colorGrey700);
}

.submitContainer {
	display: flex;
	flex-direction: row;
}

.errorContainer {
	display: block;
	flex: 1;
	padding: 26px 24px 0 0;
	text-align: right;
}

.error {
	composes: h5 from global;
	margin: 0;
	font-weight: var(--fontWeightMedium);
	color: var(--colorFail);
}

.submitButton {
	float: right;
	min-width: 150px;
}

.sendIcon {
	margin: -3px 5px 0 0;
}
