@import '../../../styles/customMediaQueries.css';

.root {
  position: relative;
  box-shadow: var(--boxShadowBottomForm);

  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 16px;
  align-self: stretch;

  @media (--viewportLarge) {
    box-shadow: none;

    /* Clearfix */
    width: 100%;
    overflow: hidden;
  }
}

.spinner {
  stroke: var(--colorWhite);
  width: 18px;
  height: 18px;
  stroke-width: 4px;
}

.fillSuccess {
  fill: var(--colorSuccess);
}

.submitContainer {
  display: flex;
  flex-direction: column;
}

.errorContainer {
  display: block;
}

.error {
  composes: h5 from global;

  font-weight: var(--fontWeightMedium);
  color: var(--colorFail);
  margin: 0 0 8px 0;
  font-size: 16px;
}

.submitButton {
  margin-top: auto;
  flex-shrink: 0;
  width: 100%;
  font-size: 16px;

  @media (--viewportMedium) {
    /* width: auto; */
    width: 241px;
  }

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
  }
}

.messageActions {
  display: flex;
  padding-top: 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;

  @media (--viewportMedium) {
    flex-direction: row;

    display: flex;
    padding-top: 4px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
}

.fileLink {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--marketplaceColor);
  font-size: 16px;
  font-weight: var(--fontWeightMedium);
  cursor: pointer;
  justify-content: center;

  @media (--viewportMedium) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.hiddenFileInput {
  display: none;
}

.files {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}
