@import '../../../styles/customMediaQueries.css';

.root {
  position: relative;
  box-shadow: var(--boxShadowBottomForm);

  @media (--viewportLarge) {
    box-shadow: none;

    /* Clearfix */
    width: 100%;
    overflow: hidden;
  }
}

.spinner {
  stroke: var(--colorWhite);
  width: 18px;
  height: 18px;
  stroke-width: 4px;
}

.fillSuccess {
  fill: var(--colorSuccess);
}

.submitContainer {
  display: flex;
  flex-direction: column;
}

.errorContainer {
  display: block;
}

.error {
  composes: h5 from global;

  font-weight: var(--fontWeightMedium);
  color: var(--colorFail);
  margin: 0 0 8px 0;
}

.submitButton {
  margin-top: auto;
  flex-shrink: 0;
  width: 100%;

  @media (--viewportMedium) {
    /* width: auto; */
    width: 241px;
  }

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
  }
}

.messageActions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 16px;

  @media (--viewportMedium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.fileLink {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--marketplaceColor);
  font-size: 14px;
  font-weight: var(--fontWeightMedium);
  white-space: nowrap;
  cursor: pointer;
  min-height: 56px;

  @media (--viewportMedium) {
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.hiddenFileInput {
  display: none;
}
