.fieldInput {
  margin-bottom: 16px;

  & > label {
    font-size: 14px;
    line-height: 20px;
    font-weight: var(--fontWeightBold);
    color: --var(--colorGrey700);
  }
}

.locationAutocompleteInputIcon {
  display: none;
}
