.buttonLink {
  composes: button buttonFont buttonText buttonBorders buttonColors from global;
}

.buttonLinkPrimary {
  composes: button buttonFont buttonText buttonBorders buttonColorsPrimary from global;
}

.buttonLinkSecondary {
  composes: button buttonFont buttonText buttonBordersSecondary buttonColorsSecondary from global;
}

.customButton {
  composes: button buttonFont buttonText buttonBorders buttonColors from global;

  padding: 0;
  border-radius: 8px;
  height: 100px;
}

.customIcon {
  width: 24px;
  height: 24px;
  stroke: #fff;
  margin-right: 10px;
}

.h3Custom {
  margin: 18px 0 12px 0;

  @media (--viewportMedium) {
    margin: 16px 0;
  }
}
