.buttonLink {
	composes: buttondefault from global;
}

.buttonLinkPrimary {
	composes: buttonprimary from global;
}

.buttonLinkSecondary {
	composes: buttonsecondary from global;
}

.customButton {
	composes: buttondefault from global;
	height: 100px;
	padding: 0;
	border-radius: 8px;
}

.customIcon {
	width: 24px;
	height: 24px;
	margin-right: 10px;
	stroke: #fff;
}
