@import "../../../styles/customMediaQueries.css";

.root {
	display: flex;
	flex-direction: column;
}

.listingCardsMapVariant {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 24px;
	width: 100%;
	padding: 0 0 96px;

	@media (--viewportLarge) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (--viewportXLarge) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.listingCards {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 24px;
	width: 100%;
	padding: 0 0 72px;

	@media (width >= 550px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (--viewportMedium) {
		grid-template-columns: repeat(2, 1fr);
		padding: 0 0 96px;
	}

	@media (--viewportLarge) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (width >= 1440px) {
		grid-template-columns: repeat(4, 1fr);
	}

	@media (--viewportXLarge) {
		grid-template-columns: repeat(5, 1fr);
	}
}

.listingCard {
	width: 100%;
}

.pagination {
	/* margin-top: auto; pushes pagination to the end of the page. */
	margin-top: auto;
	background-color: transparent;
}
