@import "../../styles/customMediaQueries.css";

.root {
	margin-bottom: 16px;
}

.optionList {
	margin: 0;

	.optionList {
		margin: 3px 0;
	}

	@media (--viewportMedium) {
		.optionList {
			margin: 4px 0;
		}
	}
}

.option {
	padding-left: 12px;
}

.optionBtn {
	composes: h4 from global;
	position: relative;

	/* Layout */
	display: block;
	width: 100%;
	padding: 4px 0 8px;
	margin: 0;
	font-size: 16px;
	font-weight: var(--fontWeightMedium);
	line-height: 24px;
	color: var(--colorGrey700);
	text-align: left;
	cursor: inherit;
	border: none;

	/* Override button styles */
	outline: none;

	&:focus,
	&:hover {
		color: var(--colorBlack);
	}

	@media (--viewportMedium) {
		padding: 8px 0 0;
		padding: 0;
	}
}

.optionBtnSelected {
	composes: optionbtn;
	color: var(--marketplaceColor);

	&:focus,
	&:hover {
		color: var(--marketplaceColorDark);
	}
}

.optionBtnSelectedLowest {
	&:focus,
	&:hover {
		color: var(--marketplaceColor);
	}
}

.longWord {
	hyphens: auto;
	word-break: break-word;
}
