@import "../../../styles/customMediaQueries.css";

.root {
	composes: marketplacemodalbasestyles from global;
	padding-top: 70px;

	@media (--viewportMedium) {
		flex-basis: 567px;
		min-height: 687px;
	}
}

.modalContent {
	flex-grow: 1;
}

/* Icon of the modal */
.modalIcon {
	composes: marketplacemodaliconstyles from global;
}

/* Title of the modal */
.modalTitle {
	composes: marketplacemodaltitlestyles from global;
}

/* Paragraph for the Modal */
.modalMessage {
	composes: marketplacemodalparagraphstyles from global;
}

.formRoot {
	display: flex;
	flex-direction: column;

	/* Layout: size and positioning */
	width: 100%;
	height: auto;
	margin-top: 24px;
}

.errorPlaceholder {
	color: var(--colorFail);

	@media (--viewportMedium) {
		width: 100%;
		min-height: 32px;
		margin: 0;
	}
}

.disputeMessage {
	flex-shrink: 0;
	margin-top: 24px;
	margin-bottom: 24px;

	@media (--viewportMedium) {
		margin-top: 30px;
	}
}

.submitButton {
	flex-shrink: 0;
	margin-top: auto;
	margin-bottom: 96px;

	@media (--viewportMedium) {
		display: inline-block;
		width: 100%;
		margin-top: 36px;
		margin-bottom: 0;
	}
}
