@import "../../styles/customMediaQueries.css";

.root {
	width: 100%;
}

.noImageContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--colorGrey100);
}

.noImageWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.noImageIcon {
	box-sizing: content-box;
	padding-top: 24px;
	stroke: var(--colorGrey700);
}

.noImageText {
	composes: h6 from global;
	padding-bottom: 24px;
	margin-bottom: 0;
	color: var(--colorGrey700);

	@media (--viewportMedium) {
		margin-bottom: 0;
	}
}
