.root {
	position: relative;
	display: block;
	width: 200px;
	margin-bottom: 70px;
	overflow: hidden;
}

/* Firefox doesn't support image aspect ratio inside flexbox */
.aspectWrapper {
	padding-bottom: 66.6667%; /* 3:2 Aspect Ratio */
}

.rootForImageWithAspectRatio {
	position: absolute;
	inset: 0;
	width: 100%;
}

.rootForSizes {
	position: relative;
	display: block;
	width: 200px;
	margin-bottom: 70px;

	@media (width >= 601px) {
		width: 400px;
	}
}
