@import "../../styles/customMediaQueries.css";

.root {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.loading {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 16px;
	align-items: center;
	justify-content: center;
}

.error {
	composes: loading;
	color: var(--colorFail);
}

.tabContent {
	display: none;
}

.tabContentVisible {
	display: block;
}

.footer {
	display: none;

	@media (--viewportLarge) {
		display: block;
	}
}

/* OrderBreakdown subcomponent */
.breakdown {
	padding: 1px 0 5px;
	margin: 14px 24px 0;

	@media (--viewportMedium) {
		padding: 3px 0 5px;
		margin: 16px 24px 0;
	}

	@media (--viewportLarge) {
		padding: 6px 0 2px;
		margin: 0 48px 47px;
	}
}

/* OrderPanel subcomponent */
.orderPanel {
	margin: 16px 48px 48px;
}

.orderTitle {
	margin-top: 0;
	margin-bottom: 1px;

	/* Font */
	color: var(--colorGrey700);
}

.orderPanelTitle {
	/* Layout */
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;

	/* Font */
	font-weight: var(--fontWeightBold);
	color: var(--colorGrey700);
}
