@import "../../../styles/customMediaQueries.css";

.root {
	composes: marketplacemodalformrootstyles from global;
	justify-content: flex-start;

	@media (--viewportMedium) {
		justify-content: space-between;
	}
}

.password {
	composes: marketplacemodalpasswordmargins from global;
}

.bottomWrapper {
	composes: marketplacemodalbottomwrapper from global;
}

/* Adjust the bottomWrapper's margin to match modals without the helper text */
.bottomWrapperText {
	composes: marketplacemodalbottomwrappertext from global;
}

.recoveryLink {
	composes: marketplacemodalhelperlink from global;
}

.recoveryLinkInfo {
	composes: marketplacemodalhelpertext from global;
}
