@import "../../styles/customMediaQueries.css";

.content {
	@media (--viewportMedium) {
		width: 100%;
		max-width: 564px;
		margin: 32px auto 0;
	}

	@media (--viewportLarge) {
		margin: 0;
	}
}

.desktopTopbar,
.mobileTopbar {
	box-shadow: none;
}

.heading {
	hyphens: auto;
}

.stripeConnectAccountForm {
	margin-top: 0;
}
