@import "../../styles/customMediaQueries.css";

.mobileTopbar {
	/* Layout for child components */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	/* Size */
	width: 100%;
	height: var(--topbarHeight);

	/* fill */
	background-color: var(--colorWhite);

	/* shadows */
	box-shadow: none;

	@media (--viewportLarge) {
		display: none;
	}
}

.desktopTopbar,
.mobileTopbar {
	box-shadow: none;

	@media (--viewportLarge) {
		box-shadow: var(--boxShadowLight);
	}
}

.wizard {
	flex-grow: 1;
}
