.root {
  /* SectionContainer defaults */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;

  /* Hero specific */
  min-height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* test styles */
@media (min-width:200px) and (max-width:800px) {
  .heroContainerHome {
    height: 95vh;
  } 
}
#heroHome {
  max-width: 80%;
  margin-left: 20%;
  padding: 2rem;
  background: rgba(255,255,255,.9);
  h1 {
    font-size: 42px;
    font-weight: var(--fontWeightBold);
    line-height: 1.1;
    color: var(--colorSecondary);
  }
  p {
    font-weight: 300;
    line-height: 1.4;
    color: var(--colorSecondary);
  }
  a {
    text-transform: uppercase;
  }
}

@media (min-width:200px) and (max-width:800px) {
  #heroHome {
    max-width: 90%;
    margin: 0 auto;
  }
  #heroHome h1 {
    font-size: 32px;
    line-height: 1.1;
    text-align: center;
    color: var(--colorSecondary);
  }
  #heroHome p {
    text-align: center;
  }
  #heroHome a {
    width: 100%;
    text-align: center;
  }
}