.root {
  /* SectionContainer defaults */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;

  /* Hero specific */
  min-height: 800vh;
  display: flex;
  justify-content: start;
  align-items: end;
}
