@import "../../../styles/customMediaQueries.css";

.root {
	position: relative;

	/* Top Bar's drop shadow should always be visible */
	z-index: var(--zIndexTopbar);
	width: 100%;
}

.container {
	/* Layout for child components */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	/* Size */
	width: 100%;
	height: var(--topbarHeight);

	/* fill */
	background-color: var(--colorWhite);

	/* shadows */
	box-shadow: var(--boxShadow);

	@media (--viewportMedium) {
		height: var(--topbarHeightDesktop);
	}

	@media (--viewportLarge) {
		display: none;
	}
}

.logoutButton {
	margin: 0;
}

/* Child component's size (and positioning) should be given here */
.menu,
.searchMenu {
	/* Font */
	composes: h5 from global;

	/* Layout */
	display: flex;
	width: 66px;
	margin: 0;
	color: var(--colorGrey700);
	background-color: transparent;
	border-width: 0;

	/* Hovers */
	&:enabled {
		cursor: pointer;
	}

	&:enabled:hover,
	&:enabled:active {
		background-color: transparent;
		box-shadow: none;
	}

	&:disabled {
		cursor: auto;
		background-color: transparent;
	}
}

.menu {
	position: relative;
	padding: 15px 24px;

	@media (--viewportMedium) {
		padding: 21px 24px;
	}
}

.searchMenu {
	padding: 12px 24px;

	@media (--viewportMedium) {
		padding: 18px 24px;
	}
}

.menuIcon,
.searchMenuIcon {
	margin: 9px 0;
}

.notificationDot {
	/* Position */
	position: absolute;
	top: 17px;
	right: 17px;

	/* Dimensions */
	width: 12px;
	height: 12px;

	/* Style: red dot with white border */
	background-color: var(--colorFail);
	border: 2px solid var(--colorWhite);
	border-radius: 50%;
	opacity: 0;
	transform: scale(0);
	animation-name: notificationPop;
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-delay: 0.1s;
	animation-fill-mode: forwards;

	@media (--viewportMedium) {
		top: 23px;
	}
}

@keyframes notificationPop {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.desktop {
	display: none;

	@media (--viewportLarge) {
		display: block;
	}
}

/* Icon component styles */
.rootMenuIcon {
	fill: var(--colorGrey700);
}

.rootSearchIcon {
	stroke: var(--colorGrey700);
}

.searchContainer {
	position: relative;
	height: 100%;
	margin-top: 94px;
}

.mobileHelp {
	/* Absolute position to avoid affecting the layout of the autocomplete
   predictions list */
	position: absolute;
	top: 73px;
	margin: 0 24px;
	color: var(--colorGrey300);
}

/* ================ Modal ================ */

.modalContainer {
	composes: marketplaceModalInMobileBaseStyles from global;
	padding: 0;
	padding: var(--modalPadding);

	@media (--viewportMedium) {
		flex-basis: 576px;
		flex-grow: 1;
		height: auto;
		min-height: max(100%, 100vh);
		padding: 24px;
		background-color: var(--colorWhite);
		border-bottom: none;
	}
}

.modalContainerSearchForm {
	composes: modalContainer;
	padding: 0;

	@media (--viewportMedium) {
		padding: var(--modalPaddingMedium);
	}
}

.missingInformationModal {
	composes: marketplaceModalBaseStyles from global;
	padding-top: 70px;
}

/* Title of the modal */
.modalTitle {
	composes: marketplaceModalTitleStyles from global;
}

/* Paragraph for the Modal */
.modalMessage {
	composes: marketplaceModalParagraphStyles from global;
}

/* Make the email pop */
.email {
	font-weight: var(--fontWeightHighlightEmail);
}

.helperLink {
	composes: marketplaceModalHelperLink from global;
}

.helperText {
	composes: marketplaceModalHelperText from global;
}

.error {
	composes: marketplaceModalPasswordMargins from global;
}

.bottomWrapper {
	composes: marketplaceModalBottomWrapper from global;

	/* Align the helper links to the left since there isn't a Primary Button anymore */
	text-align: left;
}

.modalIcon {
	composes: marketplaceModalIconStyles from global;
}

.genericError {
	position: fixed;
	top: calc(var(--topbarHeight) + 15px);

	/* Place enough to the right to hide the error */
	right: -355px;

	/* Place on top of everything */
	z-index: var(--zIndexGenericError);
	max-width: 340px;

	/* Bleed the bg color from the bottom */
	padding-bottom: 4px;
	margin: 0 15px;
	background-color: var(--marketplaceColor);
	border-radius: var(--borderRadiusMedium);
	opacity: 0;

	/* Animate error from the right */
	transition: all ease-out 0.2s;
	transition-delay: 1s;

	@media (--viewportMedium) {
		top: calc(var(--topbarHeightDesktop) + 15px);
	}
}

.genericErrorVisible {
	right: 0;
	opacity: 1;
}

.genericErrorContent {
	padding: 16px 22px;
	background-color: var(--marketplaceColorLight);
	border-radius: var(--borderRadiusMedium);
}

.genericErrorText {
	composes: h5 from global;
	margin: 0;
	font-weight: var(--fontWeightSemiBold);
	color: var(--colorWhite);

	@media (--viewportMedium) {
		margin: 0;
	}
}
