@import '../../../styles/customMediaQueries.css';

.priceVariantName,
.priceVariantFieldSelect {
  width: calc(100% - 48px);
  margin: 0 24px 30px 24px;

  @media (--viewportMedium) {
    width: 100%;
    margin: 0 0 24px 0;
  }
}

.priceVariantSelect {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}
