@import '../../styles/customMediaQueries.css';

.root {
    /* Expand to the available space */
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @media (--viewSmallScreenMax) {
        width: 100vw;
        align-items: flex-start;
    }

    @media (--viewMiddleScreenMin) and (--viewLargeScreenMax) {
        width: 100vw;
        align-items: flex-start;
    }

    @media (--viewLargeScreenMin) and (--viewLargeScreenMax) {
        padding-top: 60px;
        align-items: center;
    }

    @media (--viewXLargeScreenMin) {
        padding-top: 60px;
        align-items: center;
    }
}

.content {
    padding-left: 25px;
    padding-right: 25px;
    @media (--viewSmallScreenMax) {
        width: 100vw;
    }

    @media (--viewMiddleScreenMin) and (--viewLargeScreenMax) {
        width: 100vw;
    }

    @media (--viewLargeScreenMin) and (--viewLargeScreenMax) {
        width: 1100px;
        padding: 0px;
    }

    @media (--viewXLargeScreenMin) {
        width: 1100px;
        padding: 0px;
    }
}
