.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.inputField {
  width: 100%;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  display: block;
}

.nameRow {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
}
.nameInput {
  flex-grow: 1;
}

.button {
  width: 60%;
  color: white;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #5d85ff;
}

.button {
  background-color: darkblue;
}
