.root {
  display: flex;
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
}

.dynamicNameBeginning {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fixedNameEnding {
  flex-shrink: 0;
  white-space: nowrap;
}
