@import "../../../styles/customMediaQueries.css";

.root {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--colorGrey50);
}

.filters {
	& > *:not(:last-child) {
		height: auto;
		margin-right: 8px;
		margin-bottom: 8px;
	}
}
