
.loader {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin: 20px 0;
}


.error {
  text-align: center;
  color: red;
  font-weight: bold;
  margin: 20px 0;
}


.giftCodesContainer {
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  text-align: center; 
}


.heading {
  margin: 0 0 15px;
  font-size: 1.4rem;
  color: #333;
}


.giftCodesList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.giftCode {
  font-size: 1.8rem; 
  font-weight: bold; 
  color: #444;
  margin: 15px 0; 
  text-align: center; 
}


.giftCode:last-child {
  border-bottom: none;
}

@media (max-width: 600px) {
  .heading {
    font-size: 1.2rem;
  }

  .giftCode {
    font-size: 1.5rem;
  }
}


.noGiftCodes {
  font-size: 1rem;
  color: #666;
  margin-top: 20px;
}