@import "../../../styles/customMediaQueries.css";

.root {
	margin-top: 24px;

	@media (--viewportMedium) {
		margin-top: 32px;
	}
}

.sectionContainer {
	padding: 0;
	margin-bottom: 36px;

	@media (--viewportMedium) {
		padding: 0;
		margin-bottom: 56px;
	}
}

.sectionTitle {
}

.lastSection {
	margin-bottom: 69px;

	@media (--viewportMedium) {
		margin-bottom: 111px;

		& .sectionTitle {
			margin-bottom: 16px;
		}
	}
}

.uploadAvatarInput {
	display: none;
}

.uploadAvatarWrapper {
	margin-top: 18px;
	margin-bottom: 18px;

	@media (--viewportMedium) {
		margin-top: 24px;
		margin-bottom: 16px;
	}
}

.label {
	width: var(--ProfileSettingsForm_avatarSize);

	@media (--viewportMedium) {
		width: var(--ProfileSettingsForm_avatarSizeDesktop);
	}
}

.avatarPlaceholder,
.avatarContainer {
	/* Dimension */
	position: relative;

	/* Center content */
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--ProfileSettingsForm_avatarSize);
	height: var(--ProfileSettingsForm_avatarSize);
	cursor: pointer;

	/* Initial coloring */
	background-color: var(--colorGrey50);
	border-radius: calc(var(--ProfileSettingsForm_avatarSize) / 2);

	@media (--viewportMedium) {
		width: var(--ProfileSettingsForm_avatarSizeDesktop);
		height: var(--ProfileSettingsForm_avatarSizeDesktop);
		border-radius: calc(var(--ProfileSettingsForm_avatarSizeDesktop) / 2);
	}
}

.avatarPlaceholder {
	border-color: var(--colorGrey100);

	/* Placeholder border */
	border-style: dashed;
	border-width: 2px;
	transition: var(--transitionStyleButton);

	&:hover {
		border-color: var(--colorGrey300);
	}
}

.avatarPlaceholderTextMobile {
	@media (--viewportMedium) {
		display: none;
	}
}

.avatarPlaceholderText {
	display: none;

	@media (--viewportMedium) {
		display: block;
		max-width: 130px;
		text-align: center;
	}
}

.avatarUploadError {
	border-color: var(--colorFail);

	/* Placeholder border */
	border-style: dashed;
	border-width: 2px;
}

.error {
	/* Font */
	composes: h4 from global;
	margin-top: 18px;
	margin-bottom: 0;
	color: var(--colorFail);

	@media (--viewportMedium) {
		margin-top: 22px;
		margin-bottom: 2px;
	}
}

.avatar {
	width: 100%;
	height: 100%;
}

.changeAvatar {
	/* Font */
	composes: h5 from global;

	/* Positioning: right */
	position: absolute;
	right: -129px;
	bottom: 27px;

	/* Dimensions */
	width: 105px;
	height: 41px;
	padding: 11px 10px 7px 35px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: var(--fontWeightMedium);

	/* Look and feel (buttonish) */
	background-color: var(--colorWhite);
	background-image: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><g stroke="%234A4A4A" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M5.307 11.155L1 13l1.846-4.308L10.54 1 13 3.46zM11 5L9 3M5 11L3 9"/></g></svg>');
	background-repeat: no-repeat;
	background-position: 15px 12px;
	border: solid 1px var(--colorGrey100);
	border-radius: 2px;

	@media (--viewportMedium) {
		right: auto;

		/* Position: under */
		bottom: -10px;
		padding: 11px 10px 7px 35px;
		margin-top: 0;
		margin-bottom: 0;
		transition: var(--transitionStyleButton);
	}

	&:hover {
		border: solid 1px var(--colorGrey300);
	}
}

.uploadingImage {
	position: relative;
	display: block;

	/* Dimensions */
	width: var(--ProfileSettingsForm_avatarSize);
	height: var(--ProfileSettingsForm_avatarSize);
	margin: 0;
	overflow: hidden;

	/* Image fitted to container */
	object-fit: cover;
	background-color: var(--colorGrey100); /* Loading BG color */
	border-radius: calc(var(--ProfileSettingsForm_avatarSize) / 2);

	@media (--viewportMedium) {
		width: var(--ProfileSettingsForm_avatarSizeDesktop);
		height: var(--ProfileSettingsForm_avatarSizeDesktop);
		border-radius: calc(var(--ProfileSettingsForm_avatarSizeDesktop) / 2);
	}
}

.uploadingImageOverlay {
	/* Cover everything (overlay) */
	position: absolute;
	inset: 0;

	/* Center content */
	display: flex;
	align-items: center;
	justify-content: center;

	/* Overlay style */
	background-color: var(--colorWhite);
	opacity: 0.8;
}

.avatarInvisible {
	position: absolute;
	top: -1000px;
	left: -1000px;
	visibility: hidden;
}

.tip {
	composes: marketplaceDefaultFontStyles from global;
	margin-top: 0;
	margin-bottom: 12px;
	color: var(--colorGrey300);

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.fileInfo {
	composes: h5 from global;
	padding-top: 5px;
	padding-bottom: 1px;
	margin-top: 0;
	margin-bottom: 0;
	color: var(--colorGrey300);

	@media (--viewportMedium) {
		padding: 4px 0;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.nameContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 12px;

	@media (--viewportMedium) {
		margin-top: 24px;
	}
}

.row {
	width: 100%;
}

.firstName {
	width: calc(34% - 9px);
}

.lastName {
	width: calc(66% - 9px);
}

.extraInfo {
	composes: textSmall from global;
	margin-top: 11px;
	color: var(--colorGrey300);

	@media (--viewportMedium) {
		margin-top: 16px;
	}
}

.submitButton {
	margin-top: 24px;
	margin-bottom: 56px;
}
