@import "../../../styles/customMediaQueries.css";

.root {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}

.card {
	composes: marketplaceInputStyles from global;

	@media (--viewportMedium) {
		padding: 11px 0 11px 16px;
	}
}

.cardError {
	border: var(--borderErrorField);
}

.error {
	font-size: 13px;
	color: var(--colorFail);
}

.errorMessage {
	margin-top: 24px;
	color: var(--colorFail);
}

.paymentHeading {
	padding-top: 8px;
	padding-bottom: 0;
	margin: 0 0 14px;
	color: var(--colorGrey300);

	@media (--viewportMedium) {
		margin: 0 0 26px;
	}
}

.messageHeading {
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 40px 0 14px;
	color: var(--colorGrey300);

	@media (--viewportMedium) {
		margin: 41px 0 26px;
	}

	@media (--viewportLarge) {
		margin: 40px 0 26px;
	}
}

.messageLabel {
	margin: 0 0 5px;

	@media (--viewportMedium) {
		margin: 0 0 6px;
	}
}

.messageOptional {
	color: var(--colorGrey300);
}

.message {
	border-bottom-color: var(--colorGrey300);
}

.submitContainer {
	margin-top: auto;
	margin-top: 48px;

	@media (--viewportLarge) {
		margin-top: 72px;
	}
}

.infoText {
	composes: h5 from global;
	padding: 0;
	margin: 14px 0 0;
	color: var(--colorGrey300);
}

.submitButton {
	margin-top: 22px;

	@media (--viewportMedium) {
		margin-top: 26px;
	}

	@media (--viewportLarge) {
		margin-top: 17px;
	}
}

.missingStripeKey {
	color: var(--colorFail);
}

.paymentAddressField {
	padding-top: 38px;
}

.formRow {
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 24px;
}

.postalCode {
	width: calc(40% - 9px);
	margin-top: 24px;
}

.city {
	width: calc(60% - 9px);
	margin-top: 24px;
}

.field {
	margin-top: 24px;
}
