@import '../../../styles/customMediaQueries.css';

.fieldContainer {
  @media (--viewportMedium) {
    padding: 7px 0 1px 0;
  }
  @media (--viewportLarge) {
  }
}

.fieldLabel {
  composes: p from global;
  font-weight: var(--fontWeightBold);
  padding: 0;
  margin-bottom: 16px;
}

.inquiryMessage,
.message {
  /* Preserve newlines, but collapse other whitespace */
  display: inline-block;
  margin: 0;
  padding: 8.5px 14px 8.5px 14px;
  border-radius: 8px;
  box-shadow: var(--boxShadow);
  background-color: var(--colorWhite);

  white-space: pre-line;

  margin-top: 12px;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 8px;
    padding: 8px 14px 8px 14px;
  }
}

.ownInquiryMessage,
.ownMessage {
  composes: message;
  background-color: var(--marketplaceColor);
  color: var(--colorWhite);
}

.ownMessageContentLink {
  color: var(--colorWhite);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    background-color: var(--marketplaceColorDark);
  }
}

.longWord {
  word-break: break-word;
  hyphens: auto;
}
