@import '../../../styles/customMediaQueries.css';

.fieldContainer {
  @media (--viewportMedium) {
    padding: 7px 0 1px 0;
  }
  @media (--viewportLarge) {
  }
}

.fieldLabel {
  composes: p from global;
  font-weight: var(--fontWeightBold);
  padding: 0;
  margin-bottom: 16px;
}

.ownMessageContentLink {
  color: var(--colorWhite);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    background-color: var(--marketplaceColorDark);
  }
}

.longWord {
  word-break: break-word;
  hyphens: auto;
}

.text {
  font-weight: var(--fontWeightRegular);
  padding: 1px 0 5px 0;
  margin: 0;

  /* Preserve newlines, but collapse other whitespace */
  white-space: pre-line;

  @media (--viewportMedium) {
    padding: 3px 0 5px 0;
    margin: 0;
  }
}
