@import "../../styles/customMediaQueries.css";

.root {
	margin: 0;
}

.reviewItem {
	margin-bottom: 32px;

	&:last-of-type {
		margin-bottom: 0;
	}

	@media (--viewportMedium) {
		margin-bottom: 39px;
	}
}

.review {
	display: flex;
	flex-basis: 564px;
	flex-direction: row;
	flex-grow: 0;
	flex-shrink: 1;
}

.avatar {
	flex-shrink: 0;
	margin-right: 22px;
}

.reviewContent {
	composes: textSmall from global;
	margin: 0;
	font-style: italic;
	white-space: pre-line;
}

.reviewInfo {
	composes: h5 from global;
	margin-top: 10px;
	margin-bottom: 0;
	color: var(--colorGrey300);

	@media (--viewportMedium) {
		margin-top: 9px;
	}
}

.separator {
	margin: 0 7px;
}

.desktopSeparator {
	display: none;
	margin: 0 7px;

	@media (--viewportMedium) {
		display: inline;
	}
}

.mobileReviewRating {
	display: block;
	margin-top: 3px;
	margin-bottom: 9px;

	@media (--viewportMedium) {
		display: none;
	}
}

.desktopReviewRatingWrapper {
	/* For aligning rating starts in the middle
   * of a paragraph line */
	display: none;

	@media (--viewportMedium) {
		display: inline-flex;
	}
}

.desktopReviewRating {
	/* For aligning rating starts in the middle
   * of a paragraph line */
	display: inline-flex;
	white-space: nowrap;
}

.reviewRatingStar {
	width: 12px;
	height: 12px;
	margin-right: 2px;

	&:last-of-type {
		margin-right: 0;
	}
}
