.ul {
	display: block;
	padding-inline-start: 40px;
	margin-block: 0;
	margin-inline: 0;
	list-style-type: disc;

	& .ul {
		list-style-type: circle;

		& .ul {
			list-style-type: square;
		}
	}
}

/* Handle margin-top of next adjacent element against this list element */
.ul,
.ol {
	& + p,
	& + a,
	& + ul,
	& + ol,
	& + code,
	& + div,
	& + h1,
	& + h2,
	& + h3,
	& + h4,
	& + h5,
	& + h6 {
		margin-top: 24px;
	}
}

.li {
}

.li > p {
	margin: 0;
}
