@import '../../../../styles/customMediaQueries.css';

header.sectionHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @media (--viewportMedium) {
    flex-direction: row;
    align-items: center;
  }

  .textBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    .description {
      width: 100%;
      max-width: none;
      text-align: left;
    }
  }

  h2 + p {
    margin-top: 8px;
  }
}

.title {
  font-family: var(--fontFamilyHeadings);
  font-size: 30px;
  font-weight: 400;
  line-height: 120%;
}

.description {
  font-family: var(--fontFamilyRoboto);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.ctaButton {
  font-family: var(--fontFamilyHeadings);
  font-size: 14px;
  font-weight: 400;
  line-height: 139%;
}

.baseColumn {
  max-width: var(--contentMaxWidthPages);
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  gap: 32px;
  margin: 0 auto;
  padding: 32px;

  @media (--viewportXSmall) {
    grid-template-columns: repeat(2, calc((100% - 1 * 32px) / 2));
  }

  @media (--viewportMedium) {
    grid-template-columns: repeat(4, calc((100% - 3 * 32px) / 4));
  }
}
