
<html>
  <body>
    {{#with transaction}}
    <h1>Disputed order for {{listing.title}} was canceled</h1>

    <p>The disputed order by {{customer.display-name}} for {{listing.title}} was marked as canceled by the marketplace admin.</p>

    <p>If you have any questions, please contact the marketplace admin.</p>
    {{/with}}

    <hr />

    <p>You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact {{marketplace.name}} team.</p>
  </body>
</html>
