@import "../../../styles/customMediaQueries.css";

.label,
.labelSelected {
	display: inline-block;
	width: auto;
	height: 35px;
	min-height: 35px;
	padding: 0 18px;
	margin: 0 9px 0 0;
	font-size: 13px;

	/* Font */
	font-weight: var(--fontWeightSemiBold);
	line-height: 18px;

	/* Button text styles */

	/* Default button text is centered without decorations */
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.2px;
	cursor: pointer;
	transition: all var(--transitionStyleButton);

	&:focus,
	&:hover {
		text-decoration: none;
		outline: none;
		box-shadow: var(--boxShadowFilterButton);
	}

	&:disabled {
		cursor: not-allowed;
		box-shadow: none;
	}

	@media (--viewportMedium) {
		height: auto;
		min-height: 0;
		padding: var(--marketplaceButtonSmallDesktopPadding);
		margin: 0;
		font-size: 13px;
		font-weight: var(--fontWeightMedium);
		line-height: 20px;
	}
}

.label {
	background-color: var(--colorWhite);

	/* Button borders */
	border: 1px solid var(--colorGrey100);
	border-radius: var(--borderRadiusMedium);

	&:hover,
	&:focus {
		border-color: var(--colorGrey300);
	}

	&:disabled {
		border-color: var(--colorGrey100);
	}

	@media (--viewportMedium) {
		&:hover,
		&:focus {
			border-color: transparent;
		}
	}
}

.labelSelected {
	color: var(--colorWhite);

	/* Button colors: secondary */
	background-color: var(--marketplaceColor);
	border: 1px solid var(--marketplaceColor);

	/* Button borders */
	border-radius: var(--borderRadiusMedium);

	&:hover,
	&:focus {
		border: 1px solid var(--marketplaceColorDark);
	}

	&:disabled {
		color: var(--colorWhite);
		background-color: var(--colorGrey100);
	}
}

.labelEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
