@import '../../../styles/customMediaQueries.css';

.root {
  display: flex;
  flex-direction: column;
}

.bookingBreakdownTitle {
  letter-spacing: 1px;
  font-weight: var(--fontWeightMedium);
}

.totalDivider {
  /* dimensions */
  width: 100%;
  height: 1px;
  margin: 12px 0 5px 0;

  border: none;
  background-color: var(--colorGrey100);

  @media (--viewportMedium) {
    margin: 7px 0 0px 0;
  }
}

.bookingDates {
  flex-shrink: 0;

  /* Ensure that calendar dropdown gets some stacking context relative to other form items below */
  z-index: 1;
}

.priceBreakdownContainer {
  padding: 0 24px;
  margin-top: 24px;

  @media (--viewportMedium) {
    padding: 0;
    margin-top: 40px;
  }
}

.receipt {
  flex-shrink: 0;
  margin: 0 0 24px 0;
}

.error {
  color: var(--colorFail);
  margin: 0 24px;
  display: inline-block;
}

.sideBarError {
  composes: h4 from global;
  color: var(--colorFail);
  margin: 0 24px 12px 24px;

  @media (--viewportMedium) {
    margin: 24px 0 12px 0;
  }
}

.finePrint {
  composes: marketplaceTinyFontStyles from global;
  text-align: center;
  margin-top: 8px;
}

.submitButton {
  padding: 0 24px;
  margin-top: 24px;

  @media (--viewportMedium) {
    padding: 0;
    margin-top: 72px;
  }
}

.fieldSeats {
  width: calc(100% - 48px);
  margin: 30px 24px 6px 24px;

  @media (--viewportMedium) {
    width: 100%;
    margin: 24px 0;
  }
}
