@import "../../styles/customMediaQueries.css";

.root {
	position: relative;
}

.input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;

	/* Display the "check" when checked */
	&:checked + label .checked {
		display: inline;
	}

	/* Highlight the borders if the checkbox is hovered, focused or checked */
	&:hover + label .notChecked,
	&:hover + label .required,
	&:focus + label .notChecked,
	&:focus + label .required,
	&:checked + label .required {
		stroke: var(--colorBlack);
	}

	&:checked + label .notChecked {
		stroke: none;
	}

	/* Hightlight the text on checked, hover and focus */
	&:focus + label .text,
	&:hover + label .text,
	&:checked + label .text {
		color: var(--colorBlack);
	}

	/* Disabled radio-button label should look like disabled */
	&:disabled + label {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&:disabled + label .text {
		cursor: not-allowed;
	}
}

.label {
	display: flex;
	align-items: center;
	padding-top: 1px;
	padding-bottom: 5px;

	@media (--viewportMedium) {
		padding-top: 0;
		padding-bottom: 8px;
	}
}

.radioButtonWrapper {
	display: inline-flex;
	align-items: center;
	align-self: center;

	/* This should follow line-height */
	height: 24px;
	margin-top: -1px;
	margin-right: 12px;
	cursor: pointer;
}

.checkedStyle {
	fill: var(--marketplaceColor);
	stroke: var(--marketplaceColor);
}

.checked {
	display: none;
}

.notChecked {
	stroke: var(--colorGrey300);

	&:hover {
		stroke: pink;
	}
}

.required {
	stroke: var(--colorAttention);

	&:hover {
		stroke: pink;
	}
}

.text {
	composes: marketplacelistingattributefontstyles from global;
	margin-top: -1px;
	margin-bottom: 1px;
	color: var(--colorGrey700);
	cursor: pointer;
}
