@import "../../../../styles/customMediaQueries.css";

.root {
	/* Layout */
	display: flex;
	flex: 1;
	flex-direction: column;

	/* Dimensions */
	width: 100%;
	height: auto;
	padding-top: 1px;

	@media (--viewportMedium) {
		padding-top: 2px;
	}
}

.error {
	color: var(--colorFail);
}

.formMargins {
	margin-bottom: 24px;

	@media (--viewportMedium) {
		margin-bottom: 32px;
	}
}

.title {
	composes: formmargins;
}

.description {
	composes: formmargins;
	flex-shrink: 0;
}

.listingTypeSelect {
	margin-bottom: 24px;

	@media (--viewportMedium) {
		margin-bottom: 32px;
	}
}

.selectedLabel {
	composes: label from global;
}

.selectedValue {
	margin-top: 0;
	margin-bottom: 6px;

	@media (--viewportMedium) {
		padding: 2px 0 6px;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.unitTypeHidden {
	display: none;
}

.submitButton {
	flex-shrink: 0;
	margin-top: auto;
	margin-bottom: 24px;

	@media (--viewportLarge) {
		display: inline-block;
		width: 241px;
		margin-top: 100px;
	}
}
