@import '../../../../../styles/customMediaQueries.css';

.root {
  position: relative;
  width: 100%;
  height: 100%;
}

.datePicker {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 16px);
  min-width: 288px;
  margin-top: 4px;
  background-color: white;

  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadowPopup);
  z-index: calc(var(--zIndexPopup) + 1);

  @media (--viewportLarge) {
    top: 51px;
    right: 0;
    left: auto;
    transform: none;
    width: 100%;
    min-width: 288px;
    margin-top: 0;
  }
}

.toggleButton {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 12px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--colorGrey700);
  font-weight: 400;

  @media (--viewportMedium) {
    height: 48px;
    padding: 0 16px;
  }

  @media (--viewportLarge) {
    margin: 0;
    padding: 10px 20px 10px 16px;
  }

  &:hover {
    .label {
      color: var(--colorGrey700);
    }
  }
}

.label {
  transition: all 0.1s;
  margin-left: 8px;
  color: var(--colorGrey300);
}

.active {
  color: var(--colorGrey700);
}
