@import '../../../../styles/customMediaQueries.css';

.root {
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 36px;
  background-color: var(--colorWhite);

  @media (--viewportLarge) {
    width: 80%;
  }
}

.submitButton {
  margin-top: auto;
  flex-shrink: 0;
  text-wrap: nowrap;
  padding: 12px;

  @media (--viewportLarge) {
    display: inline-block;
  }
}

.editableRow:hover .editableCellValueWrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.editableCellValueWrap {
  padding: 5px 12px;
  cursor: pointer;
}

.stickyHeader {
  position: sticky;
  top: 0;
  background-color: var(--colorWhite);
  z-index: 100;
  justify-content: space-between;
}

.stickyTitle {
  margin: 0;
}

.stickyHeader .subTitle {
  transition: opacity 0.3s ease, max-height 0.3s ease;
  opacity: 1;
  overflow: hidden;
}

.subTitle.hidden {
  opacity: 0;
  max-height: 0; /* Collapse subtitle */
}

.buttonWrapper {
  justify-content: center;
  align-self: center;
  padding: 0 24px;
}

.stickyHeader.scrolled .submitButton {
  transform: scale(0.8); /* Shrink button */
}

.displayCell {
  margin-bottom: 24px;
}

.formItem input:focus,
.formItem textarea:focus,
.formItem select:focus {
  border: none;
  box-shadow: none;
}

