@import "../../../../styles/customMediaQueries.css";

.root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
	width: 100%;
	height: auto;
}

.imagesFieldArray {
	display: grid;
	flex-shrink: 0;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
	margin: 0 0 24px;
}

.thumbnail {
	width: 100%;
	background-color: var(--colorGrey50);
}

.addImageWrapper {
	position: relative;
	float: left;
	width: 100%;
	overflow: hidden;

	&::after {
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		content: ".";
	}
}

.addImage {
	/* Layout */

	/* Maintain aspect ratio */
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin-top: 0;

	/* Behaviour */
	cursor: pointer;

	/* Colors */
	background-color: var(--colorWhite);
	border-color: var(--colorGrey100);
	border-style: dashed;
	border-width: 2px;
	border-radius: 2px;
	transition: var(--transitionStyleButton);

	@media (--viewportLarge) {
		background-color: var(--colorGrey50);
	}

	&:hover {
		border-color: var(--colorGrey300);
	}
}

.chooseImageText {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chooseImage {
	composes: h4 from global;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: var(--fontWeightSemiBold);
	color: var(--colorGrey700);

	@media (--viewportLarge) {
		margin-top: 0;
		margin-bottom: 0;
		font-weight: var(--fontWeightSemiBold);
	}
}

.imageTypes {
	composes: marketplaceTinyFontStyles from global;
	margin-top: 0;
	margin-bottom: 0;
	color: var(--colorGrey300);

	@media (--viewportLarge) {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.addImageInput {
	display: none;
}

.tip {
	composes: h5 from global;
	flex-shrink: 0;
	margin-top: 24px;
	margin-bottom: 60px;
	color: var(--colorGrey300);

	@media (--viewportLarge) {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.error {
	color: var(--colorFail);
}

.arrayError {
	width: 100%;
	margin-top: 6px;
	margin-bottom: 12px;
	clear: both;
	font-size: 15px;
	font-weight: var(--fontWeightMedium);
	line-height: 24px;
	color: var(--colorFail);
	letter-spacing: 0;

	@media (--viewportMedium) {
		margin-top: 6px;
		margin-bottom: 10px;
		font-weight: var(--fontWeightMedium);
	}
}

.submitButton {
	flex-shrink: 0;
	margin-top: auto;
	margin-bottom: 24px;

	@media (--viewportLarge) {
		display: inline-block;
		width: 241px;
		margin-top: 100px;
	}
}
