@import "../../../../styles/customMediaQueries.css";

.root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	height: auto;
}

.form {
	flex-grow: 1;
}

/* ================ Modal ================ */

.modalHeaderWrapper {
	padding: 0;
	margin-top: 58px;
	margin-bottom: 36px;

	@media (--viewportMedium) {
		padding: 0;
		margin-top: 0;
		margin-bottom: 34px;
	}
}

/* ================ Typography ================ */

/* Title of the modal */
.modalTitle {
	composes: marketplacemodaltitlestyles from global;
}

/* Paragraph for the Modal */
.modalMessage {
	composes: marketplacemodalparagraphstyles from global;
}
