@import '../../../styles/customMediaQueries.css';

.root {
  /* Position action button row above the footer */
  z-index: 9;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 18px 24px 18px 24px;

  /* Contain repainting to this component only */
  /* 3D painting container helps scrolling */
  transform: translate3d(0, 0, 0);

  box-shadow: var(--boxShadowTop);
  background-color: white;

  @media (--viewportLarge) {
    z-index: unset;
    position: static;
    box-shadow: none;
    width: auto;
    margin: 0 48px 0 48px;
    padding: 0;
  }
}

.actionButtonsWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;

  @media (--viewportLarge) {
    flex-direction: column;
    gap: 8px;
  }
}

.multipleButtons {
  flex-direction: column;
}

.actionButtonWrapper {
  display: block;
  width: 100%;
}

.error,
.actionError {
  composes: h5 from global;
  color: var(--colorFail);
  margin: 0 0 11px 0;

  @media (--viewportMedium) {
    margin: 0 0 10px 0;
    padding: 1px 0 7px 0;
  }
  @media (--viewportLarge) {
    margin: 0;
  }
}

.actionErrors {
  width: 100%;
  text-align: center;
}

.finePrint {
  composes: marketplaceTinyFontStyles from global;
  color: var(--colorGrey700);
  margin-top: 4px;
}
