@import "../../styles/customMediaQueries.css";

.root {
	/* Layout */
	display: flex;
	flex-direction: column;

	/* Remove link's hover effect */
	&:hover {
		text-decoration: none;
	}
}

.aspectRatioWrapper {
	background: var(--colorGrey100); /* Loading BG color */
	border-radius: var(--borderRadiusMedium);
	transition: var(--transitionStyleButton);

	@media (--viewportMedium) {
		&:hover {
			box-shadow: var(--boxShadowListingCard);
			transform: scale(1.02);
		}
	}
}

.rootForImage {
	width: 100%;
	height: 100%;
	border: solid 1px var(--colorGrey100);
	border-radius: var(--borderRadiusMedium);
}

.info {
	/* Layout */
	display: flex;
	flex-direction: column;
	padding: 14px 0 2px;
}

.price {
	/* Layout */
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	justify-content: flex-start;
	margin-bottom: 4px;
}

.priceValue {
	/* Font */
	composes: textsmall from global;

	/* Remove default margins from font */
	margin-top: 0;
	margin-bottom: 0;
	font-weight: var(--fontWeightSemiBold);

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.perUnit {
	/* Font */
	composes: textsmall from global;
	display: inline-flex;
	align-items: center;

	/* Remove default margins from font */
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 2px;
	font-weight: var(--fontWeightSemiBold);
	color: var(--marketplaceColor);

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.mainInfo {
	display: flex;
	flex-direction: column;
}

.title {
	/* Font */
	composes: textsmall from global;
	margin: 0;
	font-weight: var(--fontWeightBold);
	color: var(--colorGrey700);
}

.authorInfo {
	/* Font */
	composes: marketplacetinyfontstyles from global;
	padding-top: 4px;
	padding-bottom: 4px;

	/* Remove default margins from font */
	margin-top: 0;
	margin-bottom: 0;
	font-weight: var(--fontWeightMedium);
	color: var(--colorGrey700);

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.longWord {
	hyphens: auto;

	/* fallback option */
	word-break: break-all;

	/* use break-word if available */
	word-break: break-word;
}
