@import "../../../styles/customMediaQueries.css";

.sortBy {
	margin-right: 9px;
}

.sortByDesktop {
	margin-left: auto;
}

.sortByMenuLabel {
	display: inline-block;
	width: auto;
	height: 35px;
	min-height: 35px;
	padding: 0 18px;
	margin: 0 9px 0 0;
	font-size: 13px;

	/* Font */
	font-weight: var(--fontWeightSemiBold);
	line-height: 18px;

	/* Button text styles */

	/* Default button text is centered without decorations */
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.2px;
	cursor: pointer;
	background-color: var(--colorWhite);

	/* Button borders */
	border: 1px solid var(--colorGrey100);
	border-radius: var(--borderRadiusMedium);
	transition: all var(--transitionStyleButton);

	&:focus,
	&:hover {
		text-decoration: none;
		border-color: var(--colorGrey300);
		outline: none;
		box-shadow: var(--boxShadowFilterButton);
	}

	&:disabled {
		cursor: not-allowed;
		box-shadow: none;
	}

	@media (--viewportMedium) {
		height: auto;
		min-height: 0;
		padding: var(--marketplaceButtonSmallDesktopPadding);
		margin: 0;
		font-size: 13px;
		font-weight: var(--fontWeightMedium);
		line-height: 20px;

		&:hover,
		&:focus {
			border-color: transparent;
		}
	}
}
