@import '../../styles/propertySets.css';

.root {
  @apply --marketplaceH4FontStyles;
  margin-top: 7px;
  margin-bottom: 0;
  color: var(--failColor);
  overflow: hidden;
  font-size: 13px;

  @media (--viewportMedium) {
    margin-top: 7px;
  }
}
