@import '../../styles/customMediaQueries.css';

.root {
  background-color: var(--colorWhite);
}
.content {
  width: calc(100% - 48px);
  margin: 12px 24px 24px 24px;

  @media (--viewportMedium) {
    max-width: 565px;
    margin: 55px auto 56px auto;
  }
}

.headingContainer {
  display: flex;
  flex-direction: row;
}

.heading {
  margin-right: 24px;
}

.profileLink {
  composes: buttonSecondaryInline from global;

  padding: 12px 16px 5px 16px;
  margin: 19px 0 0 auto;

  float: right;
  flex-shrink: 0;
}
