@import '../../styles/customMediaQueries.css';

.root {
  background-color: var(--colorWhite);
}
.content {
  width: calc(100% - 48px);
  margin: 12px 24px 24px 24px;

  @media (--viewportMedium) {
    max-width: 565px;
    margin: 55px auto 56px auto;
  }
}

.headingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heading {
  margin-right: 24px;
}

.profileLink {
  display: inline-block;
  padding: 11px 22px;
  margin: 0 0 0 auto;
  float: right;
  flex-shrink: 0;

  background-color: var(--avBlue);
  color: var(--avYellowLight);
  border: none;
  outline: 1px solid var(--avYellowLight);
  outline-offset: 0;
  border-radius: 26px;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--fontFamily);
  line-height: 150%;
  text-align: center;
  text-decoration: none;
  transition: var(--colorTransition);

  &:hover {
    background-color: #1d4ed8;
    color: var(--avYellowLight);
    outline-color: var(--avYellowLight);
    text-decoration: none;
  }
}

.desktopTopbar,
.mobileTopbar {
  box-shadow: none;
}
