@import "../../../../styles/customMediaQueries.css";

.baseColumn {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 32px;
	max-width: var(--contentMaxWidthPages);
	padding: 32px;
	margin: 0 auto;
}

.featuresMain {
	composes: baseColumn;
}

.block {
	display: flex;
	flex-direction: column;
	grid-auto-flow: dense;
	gap: 0;
	align-items: center;

	@media (--viewportMedium) {
		flex-direction: row-reverse;
		gap: 64px;
	}

	&:nth-child(even) {
		@media (--viewportMedium) {
			flex-direction: row;
		}
	}
}

.noSidePaddings {
	padding-right: 0;
	padding-left: 0;
}
