@import "../../styles/customMediaQueries.css";

.layoutWrapperMain {
	min-height: calc(100vh - var(--topbarHeight));

	@media (--viewportMedium) {
		min-height: calc(100vh - var(--topbarHeightDesktop));
	}
}

.root {
	flex-grow: 1;
}

.contentContainer {
	composes: marketplacemodalrootstyles from global;
}

.content {
	composes: marketplacemodalbasestyles from global;
}

.form {
	composes: marketplacemodalformrootstyles from global;
}

.error {
	composes: marketplacemodalpasswordmargins from global;
}

/* ================ Typography ================ */

/* Title of the modal */
.modalTitle {
	composes: marketplacemodaltitlestyles from global;
}

/* Paragraph for the Modal */
.modalMessage {
	composes: marketplacemodalparagraphstyles from global;
}

/* Make the email pop */
.email {
	font-weight: var(--fontWeightHighlightEmail);
}

.helperLink {
	composes: marketplacemodalhelperlink from global;
}

.helperText {
	composes: marketplacemodalhelpertext from global;
}

.submitButton {
	composes: buttonprimary from global;
	margin-top: 24px;
}

.modalIcon {
	composes: marketplacemodaliconstyles from global;
}
