@import '../../styles/customMediaQueries.css';

.mobileTopbar {
  /* Size */
  width: 100%;
  height: var(--topbarHeight);

  /* Layout for child components */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* fill */
  background-color: var(--colorWhite);

  /* shadows */
  box-shadow: none;

  @media (--viewportMedium) {
    height: var(--topbarHeightDesktop);
  }

  @media (--viewportLarge) {
    display: none;
  }
}

.desktopTopbar,
.mobileTopbar {
  box-shadow: none;

  @media (--viewportLarge) {
    box-shadow: var(--boxShadowLight);
  }
}

.navigation {
  /* Layout */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 24px 12px 24px;

  border-top-width: 1px;
  border-top-color: var(--colorGrey100);
  border-top-style: solid;
  background-color: var(--colorWhite);
  box-shadow: var(--boxShadow);

  width: auto;
  margin: 0;

  position: sticky;
  top: 10px;

  @media (--viewportMedium) {
    padding: 24px 24px 12px 24px;
    top: 72px;
  }

  @media (--viewportLarge) {
    flex-wrap: unset;
    padding: 40px 0 82px 36px;
    flex-direction: column;
    justify-content: flex-start;
    border: none;
    box-shadow: none;
    background-color: transparent;
    align-self: flex-start;
  }
  @media (--viewportLargeWithPaddings) {
    padding: 40px 0 82px calc((100% - 1056px) / 2);
  }
}
.titleContainer {
  display: flex;
  gap: 40px;
  @media (--viewportLarge) {
    display: block;
  }
}
.title {
  align-self: center;
  padding: 0px 0 8px 0;

  /* Layout */
  margin-top: 0;
  margin-bottom: 0;

  position: absolute;
  top: 20px;

  @media (--viewportMedium) {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: unset;
  }

  @media (--viewportLarge) {
    padding: 5px 0 3px 0;
    align-self: unset;
  }
}

.tabs {
  padding-top: 2px;

  display: flex;
  flex-direction: row;
  overflow-x: auto;

  @media (--viewportMedium) {
    padding-top: 12px;
  }

  @media (--viewportLarge) {
    padding-top: 24px;
    padding-left: 12px;
    flex-direction: column;
  }
}

.tab {
  margin-left: 16px;

  &:first-child {
    margin-left: 0;
  }

  @media (--viewportLarge) {
    margin-left: 0;
  }
}

.error {
  color: var(--colorFail);
  margin: 23px 24px 24px 24px;

  @media (--viewportLarge) {
    margin-top: 18px;
  }
}

.noResults {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 1px;

  @media (--viewportLarge) {
    margin-top: 25px;
  }
}

.itemList {
  margin: 0;
  padding: 0;
}

@keyframes loadingSpinnerFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.listItemsLoading {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  opacity: 0;

  /* animation shorthand property doesn't work with local scope of CSS Modules */
  animation-duration: 1s;
  animation-name: loadingSpinnerFadeIn;
  animation-fill-mode: forwards;
}

.listItem {
  /* Layout */
  margin-bottom: 10px;
  padding-bottom: 12px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--colorGrey100);

  &:last-child {
    border-bottom: none;
  }

  @media (--viewportLarge) {
    margin-bottom: 16px;
  }
}

.item {
  display: flex;
  flex-direction: row;
}

.itemAvatar {
  display: flex;
  align-items: center;
  margin-right: 8px;

  @media (--viewportMedium) {
    display: block;
    align-items: unset;
  }

  @media (--viewportLarge) {
    margin-top: 3px;
    margin-right: 7px;
  }
}

.itemLink {
  flex: 1;

  /* Layout */
  display: inline-grid;
  grid-template-columns: 22px auto;
  grid-template-areas:
    'dot name    state'
    '... item    state'
    '... details state'
    '... message message';
  padding: 2px 0 6px;
  gap: 4px 0;

  /* Remove text underline from this link */
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }

  &:hover .itemUsername {
    /* Hightlight the username when the whole item is hovered */
    color: var(--marketplaceColor);
  }
}

.itemMessage {
  grid-area: message;

  font-size: 12px;
  line-height: 16px;
  color: var(--colorGrey700);

  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;

  > .messageDate {
    color: var(--colorGrey300);
  }

  background-color: var(--colorGrey75);
  padding: 3px 8px;
  border-radius: 6px;

  @media (--viewportMedium) {
    margin-left: 24px;
  }
}
.messageContainer {
  display: flex;
  gap: 12px;
  @media (--viewportMedium) {
    margin-left: -32px;
  }
}
.messageIcon {
  display: none;
  color: var(--colorGrey300);

  @media (--viewportMedium) {
    display: inline;
    flex: 1 0 16px;
  }
}
.messageContent {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.rowNotificationDot {
  grid-area: dot;
  justify-self: center;
  align-self: flex-start;
  margin-top: 8px;

  width: 6px;
  height: 6px;

  @media (--viewportLarge) {
    margin-top: 5px;
    margin-left: 5px;
  }

  @media (--viewportLarge) {
    justify-self: flex-start;
    width: 8px;
    height: 8px;
  }
}

.notificationDot {
  color: var(--colorWhite);

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--colorBlueNote);
}

.itemUsername {
  grid-area: name;

  /* Font */
  composes: textSmall from global;
  font-weight: var(--fontWeightBold);
  color: var(--colorGrey700);

  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    line-height: 16px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.itemTitle {
  composes: marketplaceTinyFontStyles from global;
  grid-area: item;
  color: var(--colorGrey700);

  margin-top: 0;
  margin-bottom: 0;
}

.itemDetails {
  composes: marketplaceTinyFontStyles from global;
  grid-area: details;
  color: var(--colorGrey700);

  margin-top: 0;
  margin-bottom: 0;
}

.itemState {
  grid-area: state;

  /* Font */
  composes: marketplaceTinyFontStyles from global;
  line-height: 18px;
  font-weight: var(--fontWeightMedium);
  letter-spacing: normal;

  justify-self: flex-end;
  text-align: end;

  margin-top: 6px;
  margin-bottom: 0px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.pagination {
  margin: auto 24px 0 24px;
}

/* Transaction status affects to certain font colors and weights */

.stateName {
  /* This class is empty on purpose, it is used below for banned users */
}

.stateActionNeeded {
  font-weight: var(--fontWeightMedium);
  color: var(--colorAttention);
}

.stateNoActionNeeded {
  color: var(--colorGrey700);
}

.stateConcluded {
  color: var(--colorGrey300);
}

.bookingActionNeeded {
  color: var(--colorGrey700);
  margin-top: 4px;

  @media (--viewportMedium) {
    margin-top: 9px;
  }
}

.bookingNoActionNeeded {
  color: var(--colorGrey300);
}

.lastTransitionedAtEmphasized {
  color: var(--colorGrey700);
  font-weight: var(--fontWeightMedium);
}

.lastTransitionedAtNotEmphasized {
  color: var(--colorGrey300);
}

.bannedUserLink {
  & .itemUsername,
  &:hover .itemUsername,
  & .stateName {
    color: var(--colorGrey300);
  }
}

.searchContainer {
  margin-top: 0;
  display: flex;
  align-items: center;
  width: 160px;
  background-color: transparent;
  border: none;
  position: relative;
  margin-left: -8px;

  @media (--viewportMedium) {
    margin-left: 0;
    width: 230px;
  }
  @media (--viewportLarge) {
    margin-top: 10px;
  }
}
.searchIcon {
  position: absolute;
  left: 14px;
  color: #999;
  pointer-events: none;
  transform: scaleX(-1);
}

.searchBox {
  width: 100%;
  padding: 0.3rem 0.5rem 0.3rem 2.5rem;
  border: 1px solid var(--colorGrey100);
  outline: none;
  background-color: white;
  font-size: 1rem;
  border-radius: 30px;
}
