@import "../../styles/customMediaQueries.css";

.mobileTopbar {
	/* Layout for child components */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	/* Size */
	width: 100%;
	height: var(--topbarHeight);

	/* fill */
	background-color: var(--colorWhite);

	/* shadows */
	box-shadow: none;

	@media (--viewportMedium) {
		height: var(--topbarHeightDesktop);
	}

	@media (--viewportLarge) {
		display: none;
	}
}

.desktopTopbar,
.mobileTopbar {
	box-shadow: none;

	@media (--viewportLarge) {
		box-shadow: var(--boxShadowLight);
	}
}

.navigation {
	/* Layout */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 29px 24px 0;
	background-color: var(--colorWhite);
	border-top: 1px solid var(--colorGrey100);
	box-shadow: var(--boxShadow);

	@media (--viewportMedium) {
		padding: 24px 24px 0;
	}

	@media (--viewportLarge) {
		flex-direction: column;
		flex-wrap: unset;
		justify-content: flex-start;
		padding: 40px 0 82px 36px;
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

	@media (--viewportLargeWithPaddings) {
		padding: 40px 0 82px calc((100% - 1056px) / 2);
	}
}

.title {
	align-self: center;
	padding: 0 0 8px;

	/* Layout */
	margin-top: 0;
	margin-bottom: 0;

	@media (--viewportMedium) {
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	@media (--viewportLarge) {
		align-self: unset;
		padding: 5px 0 3px;
	}
}

.tabs {
	display: flex;
	flex-direction: row;
	padding-top: 2px;
	overflow-x: auto;

	@media (--viewportMedium) {
		padding-top: 20px;
	}

	@media (--viewportLarge) {
		flex-direction: column;
		padding-top: 24px;
	}
}

.tab {
	margin-left: 16px;

	&:first-child {
		margin-left: 0;
	}

	@media (--viewportLarge) {
		margin-left: 0;
	}
}

.error {
	margin: 23px 24px 24px;
	color: var(--colorFail);

	@media (--viewportLarge) {
		margin-top: 18px;
	}
}

.noResults {
	margin-top: 1px;
	margin-right: 24px;
	margin-left: 24px;

	@media (--viewportLarge) {
		margin-top: 25px;
	}
}

.itemList {
	padding: 0;
	margin: 0;
}

@keyframes loadingSpinnerFadeIn {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.listItemsLoading {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 60px;
	opacity: 0;
	animation-name: loadingSpinnerFadeIn;

	/* animation shorthand property doesn't work with local scope of CSS Modules */
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.listItem {
	padding-bottom: 12px;

	/* Layout */
	margin-bottom: 10px;
	border-bottom: 1px solid var(--colorGrey100);

	&:last-child {
		border-bottom: none;
	}

	@media (--viewportLarge) {
		margin-bottom: 16px;
	}
}

.item {
	display: flex;
	flex-direction: row;
}

.itemAvatar {
	display: flex;
	align-items: center;
	margin-right: 8px;

	@media (--viewportMedium) {
		display: block;
		align-items: unset;
	}

	@media (--viewportLarge) {
		margin-top: 3px;
		margin-right: 7px;
	}
}

.itemLink {
	/* Layout */
	display: inline-grid;
	flex: 1;
	grid-template-areas:
		"dot name    state"
		"... item    state"
		"... details state";
	grid-template-columns: 22px auto;
	gap: 4px 0;
	padding: 2px 0 6px;

	/* Remove text underline from this link */
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

	&:hover .itemUsername {
		/* Hightlight the username when the whole item is hovered */
		color: var(--marketplaceColor);
	}
}

.rowNotificationDot {
	grid-area: dot;
	place-self: flex-start center;
	width: 6px;
	height: 6px;
	margin-top: 8px;

	@media (--viewportLarge) {
		margin-top: 5px;
		margin-left: 5px;
	}

	@media (--viewportLarge) {
		justify-self: flex-start;
		width: 8px;
		height: 8px;
	}
}

.notificationDot {
	width: 100%;
	height: 100%;
	color: var(--colorWhite);
	background-color: var(--colorFail);
	border-radius: 50%;
}

.itemUsername {
	/* Font */
	composes: textSmall from global;
	grid-area: name;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: var(--fontWeightBold);
	color: var(--colorGrey700);

	@media (--viewportMedium) {
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 16px;
	}
}

.itemTitle {
	composes: marketplaceTinyFontStyles from global;
	grid-area: item;
	margin-top: 0;
	margin-bottom: 0;
	color: var(--colorGrey700);
}

.itemDetails {
	composes: marketplaceTinyFontStyles from global;
	grid-area: details;
	margin-top: 0;
	margin-bottom: 0;
	color: var(--colorGrey700);
}

.itemState {
	/* Font */
	composes: marketplaceTinyFontStyles from global;
	grid-area: state;
	justify-self: flex-end;
	margin-top: 6px;
	margin-bottom: 0;
	font-weight: var(--fontWeightMedium);
	line-height: 18px;
	text-align: end;
	letter-spacing: normal;

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.pagination {
	margin: auto 24px 0;
}

/* Transaction status affects to certain font colors and weights */

.stateName {
	/* This class is empty on purpose, it is used below for banned users */
}

.stateActionNeeded {
	font-weight: var(--fontWeightMedium);
	color: var(--colorAttention);
}

.stateNoActionNeeded {
	color: var(--colorGrey700);
}

.stateConcluded {
	color: var(--colorGrey300);
}

.bookingActionNeeded {
	margin-top: 4px;
	color: var(--colorGrey700);

	@media (--viewportMedium) {
		margin-top: 9px;
	}
}

.bookingNoActionNeeded {
	color: var(--colorGrey300);
}

.lastTransitionedAtEmphasized {
	font-weight: var(--fontWeightMedium);
	color: var(--colorGrey700);
}

.lastTransitionedAtNotEmphasized {
	color: var(--colorGrey300);
}

.bannedUserLink {
	& .itemUsername,
	&:hover .itemUsername,
	& .stateName {
		color: var(--colorGrey300);
	}
}
