.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  width: 100%; 
  
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 20px; 
  width: 80%; 
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.circle {
  width: 250px;
  height: 250px;
  background-color: #d3d3d3; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
}

.arrow {
  width: 50px;
  height: 2px;
  background-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow::after {
  content: '';
  position: absolute;
  top: 50%; /* Center the arrow */
  transform: translateY(-50%);
  right: -6px; /* Adjust spacing */
  border: 6px solid transparent;
  border-left-color: black;
}

.enjoy {
  color: blue;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
