@import "../../../../../styles/customMediaQueries.css";

.currentPage {
	position: relative;
	color: var(--colorBlack);

	& .menuItemBorder {
		width: 6px;
		background-color: var(--colorBlack);
	}

	&:hover {
		& .menuItemBorder {
			background-color: var(--colorBlack);
		}
	}
}

.linkMenuLabelWrapper {
	display: inline-flex;
	flex-direction: row;
	align-items: baseline;
	margin: 28px 0;
	text-decoration: inherit;
}

.linkMenuLabel {
	display: inline;
	flex-shrink: 0;
	height: 100%;
	padding: 0 12px;
	margin: 0;
	font-size: 14px;
	font-weight: var(--fontWeightMedium);
	line-height: 18px;
	color: var(--colorGrey700);
	letter-spacing: 0;
	border-bottom: 0 solid;
	transition: var(--transitionStyleButton);

	&:hover {
		color: var(--colorBlack);
		text-decoration: none;
		border-bottom: 4px solid var(--marketplaceColor);
		border-radius: 0;
	}

	&:active {
		border-bottom: 0;
	}
}

.linkMenuIsOpen {
	&:hover {
		border-bottom: 0;
	}
}

.arrowIcon {
	margin-left: 8px;
}

.linkMenuContent {
	min-width: 276px;
	padding: 20px 0;
}

/* left animated "border" like hover element */
.menuItemBorder {
	position: absolute;
	top: 2px;
	left: 0;
	width: 0;
	height: calc(100% - 4px);
	transition: width var(--transitionStyleButton);
}

.menuLink {
	composes: textsmall from global;
	position: relative;
	display: block;

	/* Dimensions */
	width: 100%;
	min-width: 276px;
	padding: 4px 24px;
	margin: 0;

	/* Layout details */
	color: var(--colorGrey700);
	text-align: left;
	transition: var(--transitionStyleButton);

	&:hover {
		color: var(--colorBlack);
		text-decoration: none;

		& .menuItemBorder {
			width: 6px;
			background-color: var(--marketplaceColor);
		}
	}

	@media (--viewportMedium) {
		margin: 0;
	}
}
