@import '../../../../../styles/customMediaQueries.css';

.priorityLinkWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.priorityLink {
  border-bottom: 0px solid;
  transition: var(--transitionStyleButton);
  font-weight: var(--fontWeightMedium);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: var(--colorGrey700);

  flex-shrink: 0;
  height: 100%;
  padding: 0 12px 0 12px;
  margin: 0;

  &:hover {
    color: var(--colorBlack);
    border-bottom: 4px solid var(--marketplaceColor);
    border-radius: 0;
    text-decoration: none;
  }

  @media (--viewportMedium) {
    line-height: 16px;
    margin: 0;
  }
}

.button {
  display: flex;

   &:hover {
    border-bottom: 0;
   }

  .priorityLinkLabel {
    margin: auto;
    padding: 11px 22px;
    font-size: 14px;
    background-color: var(--ctaPrimaryBG);
    border-radius: 10px;
    color: var(--ctaPrimary);
    border: 1px solid var(--ctaPrimary);
    text-decoration: none;
    /* box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%); */
    font-weight: 400;
    font-family: var(--fontFamilyHeadings);
    transition: var(--colorTransition);

    background-color: var(--ctaSecondaryBG);
    color: var(--ctaSecondary);
    border-color: var(--ctaSecondaryBG);

    &:hover {
      background-color: var(--ctaPrimaryBG);
      color: var(--ctaPrimary);
      border-color: var(--ctaPrimary);
    }
  }
}

.highlight {
  color: var(--marketplaceColor);
  &:hover {
    color: var(--marketplaceColorDark);
  }
}

.priorityLinkLabel {
  font-weight: var(--fontWeightBold);
  font-size: 17px;
  letter-spacing: -1px;
  display: inline-block;
  margin: 28px 0;
  text-decoration: inherit;
  text-wrap: nowrap;
}
