@import '../../styles/customMediaQueries.css';

.background {
  flex-shrink: 0;
  height: 310px;
  width: 1110px;
  border-radius: 20px;
  background: var(--primary-eaf-6-f-6, #EAF6F6);
  background-image: url(../../assets/images/helpcenter-banner.svg);
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;

  @media (--viewMiddleScreenMax) {
    width: 100%;
    top: 40px;
    text-align: center;
    background-position: bottom;
    background-size: 80%;
    background-image: url(../../assets/images/helpcenter_mobile.svg);
  }
}

.breadcrumb {
  position: absolute;
  left: 40px;
  bottom: 40px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  @media (--viewMiddleScreenMax) {
    top: 40px;
    left: 0px;
    width: 100%;
    align-items: center;
  }
}

.title {
  color: #000;

  text-align: center;
  /* H1 */
  font-family: Clash Display;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 66px */

  @media (--viewMiddleScreenMax) {
    font-size: 35px;
  }
}
.subTitle {
  color: var(--primary-1-b-242-d, #1B242D);
/* P20 - Standard */
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}
