.wrapper {
  display: flex;
  justify-content: center;
}

.consultationBox {
  border: 1px solid var(--colorGrey200);
  border-radius: 1em;
  padding: .25em 1em .25em 1em;
  box-shadow: 0 2px 3px 0 #d8dce6b3;
  text-align: left;
  margin: 0;
  width: 90%;
}

.prompt {
  color: black;
}

.consultationBox p, .consultationBox button {
  font-size: .8em;
  margin-top: 2px;
  margin-bottom: 2px;
}
