@import '../../styles/customMediaQueries.css';

.h1 {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.5px;
  font-weight: 800;
  text-wrap: balance;

  @media (--viewportMedium) {
    font-size: 38px;
  }

  & + p,
  & + a,
  & + ul,
  & + ol,
  & + code,
  & + div,
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: 8px;
  }
}

.h2 {
  font-size: 20px;
  margin-top: 28px;

  @media (--viewportMedium) {
    font-size: 22px;
  }

  & + p,
  & + a,
  & + ul,
  & + ol,
  & + code,
  & + div,
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: 4px;
  }
}

.h3 {
  font-size: 17px;
  margin-top: 20px;

  @media (--viewportMedium) {
    font-size: 18px;
  }
}

.h4 {
  font-size: 15px;
  margin-top: 16px;
}

.h3,
.h4,
.h5,
.h6 {
  & + p,
  & + a,
  & + ul,
  & + ol,
  & + code,
  & + div,
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: 4px;
  }
}
