@import '../../../styles/customMediaQueries.css';

.page {
  padding: 30px 0 66px 0;
  justify-content: center;
  align-items: center;
  background: var(--primary-eaf-6-f-6, #eaf6f6);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root {
  width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 65px;

  @media (--viewLargeScreenMax) {
    width: 100vw;
    padding-left: 25px;
    padding-right: 25px;
  }
}
.content {
  display: flex;
  align-items: flex-start;
  gap: 30px;

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.rTitleArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.title {
  color: var(--primary-1-b-242-d, #1b242d);

  /* H4 */
  font-family: Clash Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 36px */

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.subtitle {
  color: var(--primary-1-b-242-d, #1b242d);

  /* P20 - Standard */
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  width: 636px;

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.rContentArea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.textarea {
  width: 825px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #d3ebeb;
  background: var(--primary-ffffff, #fff);

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.textContent {
  width: 100%;
  height: 100%;
  color: rgba(27, 36, 45, 0.6);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  padding: 16px 20px;
  resize: none; 
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.copyLinkContainer {
  display: flex;
  padding-right: 0px;
  align-items: center;
  flex: 1 0 0;

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.btnCopyLink {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  background: var(--primary-ffffff, #fff);
  color: var(--primary-1-b-242-d, #1b242d);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */

  @media (--viewLargeScreenMax) {
    width: 100%;
  }
}

.btnTestEmail {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  background: var(--primary-ffffff, #fff);
  color: var(--primary-1-b-242-d, #1b242d);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */

  @media (--viewLargeScreenMax) {
    width: 100%;
  }
}

.btnInvite {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  background: var(--primary-1-b-242-d, #1b242d);
  color: var(--primary-ffffff, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */

  @media (--viewLargeScreenMax) {
    width: 100%;
  }
}
