.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

* > h1 {
  margin: 0;
  padding: 0;
}

* > button {
  border: none;
  outline: none;
}

.container {
  width: 100vw;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
  box-sizing: border-box;
  border-bottom: 1px solid #d4d4d4;
}

.wrapper {
  display: flex;
  gap: 30px;
}

.button {
  width: 100px;
  height: 100%;
  background-color: #6a42c2;
  color: white;
  transition: ease-in 0.2s;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #523696;
}

.contents {
  width: 100%;
  height: 100%;
  padding: 40px 100px 300px;
  box-sizing: border-box;
}

.banner {
  width: 100%;
  height: 500px;
  border-radius: 4rem;
  border: 3px solid black;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  overflow: hidden;
  position: relative;
  background-color: #a77bff;
}

.bannerTitle {
  text-align: center;
  color: white;
  font-size: 58px;
}

.searchBarArea {
  width: 592px;
  height: 60px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.searchBar {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 0 22px 0 40px;
  transition: 0.3s ease-in-out;
  border: 0.01px solid #5a32a2;
}

.searchBar:focus {
  border: 3px solid #5a32a2;
}
