@import "../../../styles/customMediaQueries.css";

.coverEverything {
	position: absolute;
	inset: 0;
}

.root {
	/* Positioning */
	composes: covereverything;
}

.overlay {
	/* Positioning */
	composes: covereverything;

	/* Overlay background style */
	background-color: var(--colorWhite);
	opacity: 0.9;
}

.overlayContent {
	composes: h4 from global;

	/* Positioning */
	composes: covereverything;

	/* Layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	/* Remove default margins from font */
	margin-top: 0;
	margin-bottom: 0;
	color: var(--colorGrey700);
	cursor: default;
}

@media (--viewportMedium) {
	.overlayContent {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.message {
	composes: textxsmall from global;
	max-width: 220px;
	text-align: center;
}

.errorMessage {
	composes: message;
	color: var(--colorFail);
}
