@import "../../styles/customMediaQueries.css";

.layoutWrapperMain {
	min-height: calc(100vh - var(--topbarHeight));

	@media (--viewportMedium) {
		min-height: calc(100vh - var(--topbarHeightDesktop));
	}
}

.root {
	flex-grow: 1;
}

.contentContainer {
	composes: marketplacemodalrootstyles from global;
}

.content {
	composes: marketplacemodalbasestyles from global;
}

.error {
	composes: marketplacemodalpasswordmargins from global;
}
