.root {
	position: relative;
	display: inline-block;
	width: 11px;
	stroke: var(--colorGrey700);
}

.horizontalLine {
}

.verticalLine {
	transition: transform 200ms ease-in-out;
	transform: rotate(-270deg);
	transform-origin: center;
	transform-box: fill-box;
}

.lineVerticalOpen {
	transform: rotate(0deg);
}
