@import "../../../styles/customMediaQueries.css";

.root {
	display: flex;
	flex-direction: column;
	margin-bottom: 48px;
}

.heading {
	composes: p from global;
	padding-top: 4px;
	padding-bottom: 2px;
	margin: 0 0 12px;
	font-weight: var(--fontWeightBold);

	@media (--viewportMedium) {
		padding-top: 5px;
		padding-bottom: 3px;
		margin: 0;
	}
}

.formRow {
	/* This container uses flexbox layout */
	display: flex;

	/* parent aka root is flexbox, this container takes all available space */
	flex-grow: 1;
	flex-shrink: 0;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

	@media (--viewportSmall) {
		flex-wrap: no-wrap;
	}
}

.field {
	width: 100%;
	margin-top: 24px;

	@media (--viewportSmall) {
		width: calc(50% - 12px);
	}
}

.fieldFullWidth {
	width: 100%;
	margin-top: 24px;
}
