@import '../../../../styles/customMediaQueries.css';

.root{
    padding:0;
    margin-top:40px;
    position: relative;

    & .closeButton{
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        border: 0;
        margin: 0;
        padding: 6px 13px 9px 5px;
        border-radius: 20px;

        &:hover{
            background-color: white;
            box-shadow: var(--boxShadowButton);
        }
    }

    & .modal{
        border:none;
        background: white;  
        border-radius:6px;  
        border-bottom:3px solid var(--colorGrey600);
        max-width: 90vw;
    }
}