.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.title {
}

.content {
  display: flex;
  padding: 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  border-radius: 15px;
  background: var(--primary-eaf-6-f-6, #eaf6f6);
}
.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.item_normal {
  display: flex;
  width: 725px;
  padding: 15px;
  align-items: flex-start;
  gap: 12px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}
.item_opened {
  display: flex;
  width: 725px;
  padding: 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}
.item_opened_title {
  display: flex;
  width: 694px;
  align-items: flex-start;
  gap: 12px;
}
.item_title {
  flex: 1 0 0;
  color: var(--primary-1-b-242-d, #1b242d);
  font-family: Clash Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.item_button {
  display: flex;
  padding: 7.722px;
  justify-content: center;
  align-items: center;
  gap: 6.435px;
  border-radius: 63.71px;
  border: 0.644px solid rgba(34, 118, 103, 0.2);
  background: var(--primary-ffffff, #fff);
}
.item_content {
  width: 701px;
  color: var(--primary-1-b-242-d, #1b242d);

  /* P16 - Standard */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
h4 {
  color: var(--primary-1-b-242-d, #1b242d);

  /* H4 */
  font-family: Clash Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 36px */
  padding: 0;
  margin: 0;
}
