@import "../../styles/customMediaQueries.css";

.root {
}

.pageRoot {
	padding-bottom: 90px;

	@media (--viewportLarge) {
		padding-bottom: 0;
	}
}

.loadingText {
	margin: 24px;
}

.errorText {
	margin: 24px;
	color: var(--colorFail);
}

.sectionHero {
	position: relative;
	margin: 0 0 36px;

	@media (--viewportMedium) {
		margin: 0;
	}
}

.heroHeight {
	@media (--viewportMedium) {
		height: calc(0.41 * 100vw);
		max-height: 50vh;
		overflow-y: hidden;
	}
}

.imageWrapperForSectionHero {
	composes: heroHeight;

	/* Image carousel can be opened from the image, therefore we should show a pointer */
	cursor: pointer;
	background-color: var(--colorGrey100); /* Loading BG color */
}

.actionBar {
	z-index: 1; /* bring on top of mobile image */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	color: var(--colorGrey100);

	/* Action bar prevents the image click events going to the parent and
   should not show a pointer */
	cursor: initial;
	background-color: var(--colorGrey700);
	border-radius: var(--borderRadius);

	@media (--viewportMedium) {
		flex-direction: row;
	}
}

.actionBarForProductLayout {
	width: calc(100% - 48px);
	margin: 24px;

	@media (--viewportMedium) {
		width: 100%;
		margin: 24px 0;
	}

	@media (--viewportLarge) {
		margin: 0 0 24px;
	}
}

.actionBarContainerForHeroLayout {
	position: absolute;
	top: 13px;
	left: 13px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: calc(100% - 26px);
}

.actionBarForHeroLayout {
	/* Action bar prevents the image click events going to the parent and
   should not show a pointer */
	cursor: initial;
}

.ownListingText {
	composes: h5 from global;
	margin: 14px 24px 11px;

	@media (--viewportMedium) {
		margin: 24px 12px 24px 24px;
	}
}

.ownListingTextPendingApproval {
	color: var(--colorAttention);
}

.closedListingText {
	composes: h4 from global;
	width: 100%;
	margin: 14px 12px 11px 24px;
	text-align: center;

	@media (--viewportMedium) {
		margin: 25px 12px 22px 24px;
	}
}

.addPayoutDetails,
.editListingLink {
	composes: h5 from global;
	flex-shrink: 0;
	margin: 14px 24px 11px;
	color: var(--colorGrey100);
	transition: var(--transitionStyleButton);

	&:hover {
		color: var(--colorWhite);
		text-decoration: none;
	}

	@media (--viewportMedium) {
		margin: 24px 24px 24px 12px;
	}
}

.missingPayoutDetailsText {
	color: var(--colorAttention);
}

.payoutDetailsWarning {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.editIcon {
	margin: -6px 7px 0 0;
}

.rootForImage {
	composes: heroHeight;
	width: 100%;
	transition: var(--transitionStyleButton);

	@media (--viewportMedium) {
		object-fit: cover;
		border-radius: var(--borderRadius);

		&:hover {
			box-shadow: var(--boxShadowListingCard);
			transform: scale(1.005);
		}
	}
}

.viewPhotos {
	composes: marketplaceTinyFontStyles from global;

	/* Position and dimensions */
	position: absolute;
	right: 24px;
	bottom: 19px;
	padding: 8px 13px 6px;
	margin: 0;
	font-weight: var(--fontWeightMedium);
	cursor: pointer;

	/* Colors */
	background-color: var(--colorWhite);

	/* Borders */
	border: none;
	border-radius: var(--borderRadius);
	transition: var(--transitionStyleButton);

	&:hover {
		color: var(--colorWhite);
		background-color: var(--marketplaceColor);
	}

	@media (--viewportMedium) {
		margin: 0;
	}
}

.carouselModalScrollLayer {
	width: 100vw;
	height: 100vh;
	background-color: rgb(1 1 1 / 92%);
}

.carouselModalContainer {
	width: 100%;
	height: 100%;
}

.contentWrapperForHeroLayout {
	@media (--viewportMedium) {
		position: relative;
		display: flex;
		width: 100%;
		max-width: var(--contentMaxWidth);
		padding: 0 24px;
		margin: 0 auto;
	}

	@media (--viewportLarge) {
		max-width: calc(var(--contentMaxWidth) + 72px);
		padding: 0 36px;
		margin: 0 auto 117px;
	}

	@media (--viewportXLarge) {
		max-width: var(--contentMaxWidth);
		padding: 0;
	}
}

.mainColumnForProductLayout {
	@media (--viewportMedium) {
	}

	@media (--viewportLarge) {
		flex-basis: calc(100% - 360px);
		flex-grow: 1;
		flex-shrink: 0;

		/* contentContainer's full width - (orderColumn + paddings + margin) */
		max-width: calc(100% - 360px);
	}
}

.orderColumnForProductLayout {
	@media (--viewportMedium) {
	}

	@media (--viewportLarge) {
		display: block;
		flex-basis: 312px;
		flex-shrink: 0;
		margin-left: 48px;
	}
}

.contentWrapperForProductLayout {
	margin: 0 0 56px;

	@media (--viewportMedium) {
		width: 100%;
		max-width: var(--contentMaxWidth);
		padding: 0 24px;
		margin: 0 auto 56px;
	}

	@media (--viewportLarge) {
		display: flex;
		flex-direction: row;
		width: min(calc(var(--contentMaxWidth) + 72px), 100vw);
		max-width: unset;
		padding: 64px 36px 0;
		margin: 0 auto 117px;
	}
}

.mainColumnForHeroLayout {
	flex-basis: 100%;
	margin-bottom: 23px;

	@media (--viewportMedium) {
		flex-shrink: 0;
		margin-top: 50px;
		margin-bottom: 51px;
	}

	@media (--viewportLarge) {
		flex-basis: calc(100% - 433px);
		flex-grow: 1;
		flex-shrink: 0;

		/* contentContainer's full width - (orderColumn + two paddings + margin + border) */
		max-width: calc(100% - 433px);
		margin-top: 80px;
		margin-bottom: 0;
	}
}

.orderColumnForHeroLayout {
	@media (--viewportMedium) {
	}

	@media (--viewportLarge) {
		display: block;
		flex-basis: 312px;
		flex-shrink: 0;
		padding-left: 60px;
		margin-top: 80px;
		margin-left: 60px;
		border-left: 1px solid var(--colorGrey100);
	}
}

.orderPanel {
	/* Note: panel height might be too much on small viewport - hence min-height */
	@media (--viewportLarge) and (height >= 950px) {
		position: sticky;
		top: 108px;
	}
}

.productOrderPanel {
	@media (--viewportLarge) {
		display: block;
		margin-top: 24px;
	}

	/* Note: panel height might be too much on small viewport - hence min-height */
	@media (--viewportLarge) and (height >= 950px) {
		position: sticky;
		top: 108px;
	}
}

.orderPanelTitle {
	/* Layout */
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;

	/* Font */
	font-weight: var(--fontWeightBold);
}

.sectionAvatar {
	/* Rendering context to the same lavel as listing image */
	position: relative;

	/* Flexbox would give too much width by default. */
	width: 60px;
	margin-top: -31px;

	/* Position (over the listing image) */
	margin-left: 24px;

	@media (--viewportMedium) {
		position: absolute;
		top: -49px;
		margin-top: 0;
		margin-left: 0;
	}
}

.avatarMobile {
	display: flex;

	@media (--viewportMedium) {
		display: none; /* Hide the medium avatar from the bigger screens */
	}
}

.avatarDesktop {
	display: none; /* Hide the large avatar from the smaller screens */

	@media (--viewportMedium) {
		display: flex;
	}
}

.desktopPriceContainer {
	display: none;

	@media (--viewportLarge) {
		/* Layout */
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		align-items: flex-start;
		padding: 0;
		margin: 0 48px 0 0;
	}
}

.desktopPriceValue {
	/* Font */
	composes: marketplaceModalTitleStyles from global;
	color: var(--marketplaceColor);

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 1px;
	}
}

.desktopPerUnit {
	/* Font */
	composes: h5 from global;
	color: var(--colorGrey700);

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.heading {
	padding: 0 24px;
	margin-bottom: 33px;

	@media (--viewportMedium) {
		padding: 0;
		margin-bottom: 0;
	}
}

.title {
	/* Font */
	composes: marketplaceModalTitleStyles from global;

	/* Layout */
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	color: var(--colorGrey700);

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 2px;
	}
}

.author {
	composes: h5 from global;
	width: 100%;
	margin-top: 7px;
	margin-bottom: 0;

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 0;
		color: var(--colorGrey700);
	}
}

.authorNameLink {
	composes: textSmall from global;
	color: var(--colorGrey700);
}

.contactWrapper {
	display: none;

	@media (--viewportMedium) {
		display: inline;
	}
}

.separator {
	margin: 0 6px;
}

.contactLink {
	/* Position and dimensions */
	display: inline;
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-weight: var(--fontWeightMedium);
	line-height: 18px;

	/* Colors */
	color: var(--marketplaceColor);

	/* Text size should be inherited */
	text-decoration: none;
	letter-spacing: 0;

	/* Borders */
	border: none;

	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}

	@media (--viewportMedium) {
		line-height: 16px;
	}
}

.sectionText {
	padding: 0 24px;
	margin-bottom: 36px;

	@media (--viewportMedium) {
		padding: 0;
		margin-bottom: 40px;
	}
}

.sectionHeading,
.sectionHeadingWithExtraMargin {
	/* Font for sections titles */
	composes: p from global;
	padding: 0;
	margin-top: 0;
	margin-bottom: 12px;
	font-weight: var(--fontWeightBold);

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 8px;
	}
}

.sectionHeadingWithExtraMargin {
	@media (--viewportMedium) {
		margin-bottom: 16px;
	}
}

.text {
	padding: 1px 0 5px;
	margin: 0;
	font-weight: var(--fontWeightRegular);

	/* Preserve newlines, but collapse other whitespace */
	white-space: pre-line;

	@media (--viewportMedium) {
		padding: 3px 0 5px;
		margin: 0;
	}
}

.ingress {
	composes: p from global;
	margin: 0;

	/* Preserve newlines, but collapse other whitespace */
	white-space: pre-line;

	@media (--viewportMedium) {
		margin: 0;
	}
}

.sectionDetails,
.sectionMultiEnum {
	padding: 0 24px;
	margin-bottom: 32px;

	@media (--viewportMedium) {
		padding: 0;
		margin-bottom: 40px;
	}
}

.sectionMap {
	padding: 0 24px;
	margin-bottom: 35px;

	@media (--viewportMedium) {
		padding: 0;
		margin-bottom: 0;
	}
}

.sectionReviews,
.sectionAuthor {
	padding: 0 24px;
	margin-top: 42px;
	scroll-margin-top: calc(var(--topbarHeight) + 24px);

	@media (--viewportMedium) {
		padding: 0;
		margin-top: 40px;
		scroll-margin-top: calc(var(--topbarHeightDesktop) + 24px);
	}

	@media (--viewportLarge) {
		padding: 8px 0;
	}
}

.details {
	padding-bottom: 1px;
	margin: 0;
}

.detailsRow {
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
	padding: 1px 0 4px;
	font-weight: var(--fontWeightRegular);
	line-height: 36px;
	list-style: none;

	&:not(:last-child) {
		border-bottom: 1px solid var(--colorGrey100);
	}

	@media (--viewportMedium) {
		padding: 5px 0 2px;
		line-height: 32px;
	}
}

.detailLabel {
	font-weight: var(--fontWeightSemiBold);
	letter-spacing: -0.09px;
}

.inquiryModalContent {
	display: flex;
	flex-grow: 1;
}

.inquiryForm {
	flex-grow: 1;
	margin: 70px 0 100px;

	@media (--viewportMedium) {
		display: flex;
		flex-direction: column;
		min-height: 400px;
		margin: 0;
	}
}

.inquirySubmitButtonWrapper {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 24px;
	background-color: var(--colorWhite);

	@media (--viewportMedium) {
		position: static;
		padding: 0;
		margin-top: auto;
	}
}

.map {
	width: 100%;

	/* Static map: dimensions are 640px */
	max-width: 640px;

	/* Dimensions: Map takes all available space from viewport (excludes action button and section title) */
	height: calc(100vh - 193px);
	max-height: 640px;
	padding: 0;
	cursor: pointer;
	background-color: #eee;
	border: 0;

	@media (--viewportMedium) {
		height: 75vh;
	}

	@media (--viewportLarge) {
		height: 417px;
		margin-bottom: 7px;
	}
}

.longWord {
	hyphens: auto;
	word-break: break-word;
}

.productGallery {
	margin: 0 0 36px;

	@media (--viewportMedium) {
		margin: 24px 0 48px;
	}

	@media (--viewportLarge) {
		padding-bottom: 4px;
		margin: 0 0 40px;
	}
}

.mobileHeading {
	margin: 0 24px 24px;

	@media (--viewportMedium) {
		margin: 0 0 24px;
	}

	@media (--viewportLarge) {
		display: none;
	}
}

.productDesktopHeading {
	display: none;

	@media (--viewportLarge) {
		display: block;
	}
}

.productSideContent {
}

.productBookingPanel {
	@media (--viewportLarge) {
		display: block;

		/* The calendar needs 312px */
		flex-basis: 312px;
		flex-shrink: 0;
		margin-top: 24px;
	}
}
