@import "../../../styles/customMediaQueries.css";

.root {
	position: relative;
	display: inline-block;
}

.fieldGroup {
	padding: 0;
	margin: 0;
	border: none;
}

.fieldGroupPlain {
	padding-bottom: 6px;
	padding-left: 12px;
	margin: 0;
	border: none;

	@media (--viewportMedium) {
		padding: 4px 0 4px 12px;
	}
}

.list {
	margin: 0;
}

.item {
	padding: 4px 0 2px;

	/* Fix broken multi-column layout in Chrome */
	page-break-inside: avoid;

	@media (--viewportMedium) {
		padding: 4px 0;
	}
}
