@import '../../../styles/customMediaQueries.css';

.root {
  padding: 0px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  font-size: x-large;
}

.content {
  margin: 11px;
  width: 100vh;
  height: 15vh;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contentAnonymous {
  width: 100vh;
  height: 18vh;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--marketplaceColor);

  @media (--viewportMedium) {
    margin: -11px;
    width: 100vw;
    height: 20vh;
  }
}

.logo {
  margin-left: 5%;
  width: 12%;
  height: 40%;

  @media (--viewportMedium) {
    margin-left: 5%;
    width: 20%;
    height: 60%;
  } 
}

.categories {
  margin-top: 5%;
  display: flex;
  @media (--viewportMedium) {
    width: 100%;
  }
}

.categories h1 {
  font-weight: var(--fontFamily);
  @media (--viewportMedium) {
    margin-top: 0%;
    width: 100%;
    font-size: 44px;
    line-height: 24px;
  }
}

.arrow {
  width: 30px;
  color: var(--marketplaceColor);
  margin-Left: 10px;
  cursor: pointer;

  @media (--viewportMedium) {
    width: 10%;
    color: var(--marketplaceColor);
    margin-right: 50%;
    margin-bottom: 10px;
  }
}

.menu h1 {
  font-weight: var(--fontFamily);
  @media (--viewportMedium) {
    margin-top: 0%;
    width: 100%;
    font-size: 34px;
    line-height: 24px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 24px;
  background-color: var(--colorWhite);
  box-shadow: var(--boxShadowTop);

  @media (--viewportMedium) {
    width: 100%;
  }
}

.avatar {
  /* Layout */
  flex-shrink: 0;
  margin: var(--TopbarMobileMenu_topMargin) 0 0 0;  
  margin-left: 11px;
}

.greeting {
  /* Font */
  font-weight: var(--fontWeightBlack);
  font-size: 24px;
  line-height: 24px;

  padding: 3px 0 3px 0;
  margin-bottom: 1px;
  margin-top: 16px;

  @media (--viewportMedium) {
    font-size: 40px;
    line-height: 56px;
    padding: 5px 0 3px 0;
    /* x * 8px */
    margin-top: 24px;
  }
}

.logoutButton {
  /* Position and dimensions */
  display: inline;

  /* Borders */
  border: none;

  /* Text size should be inherited */
  text-decoration: none;

  /* Logout font is smaller and gray since the action is not recommended. */
  font-weight: var(--fontWeightSemiBold);
  font-size: 18px;
  line-height: 24px;

  color: var(--colorGrey300);

  /* Position component */
  width: initial;
  margin: 4px 0 24px 0;
  padding: 0;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  @media (--viewportMedium) {
    margin: 0 0 36px 0;
  }
}

.customLinkFont {
  /* Font */
  font-weight: var(--fontWeightBold);
  font-size: 21px;
  line-height: 24px;

  padding: 4px 0 2px 0;
  /* x * 6px */
  margin-top: 24px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    font-size: 30px;
    line-height: 40px;
    padding: 1px 0 7px 0;
  }
}

.inbox {
  /* Font */
  composes: customLinkFont;
  color: var(--marketplaceColor);
  position: relative;

  margin-top: auto;
  margin-bottom: 13px;
}

.navigationLink {
  /* Font */
  composes: customLinkFont;
  color: var(--marketplaceColor);

  /* Layout */
  margin-top: 0;
  margin-bottom: 11px;
}

.currentPageLink {
  color: var(--marketplaceColorDark);
}

.notificationBadge {
  position: absolute;
  top: 4px;
  right: -26px;

  /* This is inside a link - remove underline */
  &:hover {
    text-decoration: none;
  }
}

.createNewListingLink {
  composes: buttonPrimary from global;
}

.LoginListingLink {
  composes: buttonPrimary from global;

}


.authenticationGreeting {
  margin-left: 5%;
  /* Font */

  width: 100%;

  /*   margin-bottom: 24px;
  margin-top: var(--TopbarMobileMenu_topMargin); */
  /* background-color: var(--marketplaceColor); */
  @media (--viewportMedium) {
    width: 100%;
    height: 10vh;
  }
}

.authenticationLinks {
  white-space: nowrap;
  color: aliceblue
}

.menuLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
}

.signupLink {
  text-decoration: none;
  white-space: nowrap;
  color: var(--marketplaceColor);
}

.loginLink {
  text-decoration: none;
  white-space: nowrap;
  color: var(--marketplaceColor);
}

.currentPage {
  color: var(--colorBlack);

  /* black left border */
  border-left: 5px solid black;
  margin-left: -24px;
  padding-left: 19px;
}

.spacer {
  width: 100%;
  height: 124px;
}