.root {
	position: absolute;
	z-index: var(--zIndexPopup);
	background-color: var(--colorWhite);
	border-top: 1px solid var(--colorGrey100);
	border-radius: 0 0 2px 2px;
	box-shadow: var(--boxShadowPopup);
	transition: var(--transitionStyleButton);
}

.isClosed {
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
}

.isOpen {
	pointer-events: auto;
	visibility: visible;
	opacity: 1;
}

.content {
	display: flex;
	flex-direction: column;
	margin: 0;
}

/* Styles for arrow (if arrowPosition is defined) */
.arrowTop,
.arrowBelow {
	position: absolute;
	bottom: 100%;
	width: 0;
	height: 0;
	pointer-events: none;
	content: " ";
	border: solid transparent;
}

.arrowTop {
	margin-left: -7px;
	border-width: 7px;
	border-bottom-color: var(--colorWhite);
}

.arrowBelow {
	margin-left: -9px;
	border-width: 9px;
	border-bottom-color: var(--colorGrey100);
}
