.container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  margin-left: 10px;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .container {
    margin-left: 0;
  }
}

.searchContainer {
  display: flex;
  align-items: center;
}

.input {
  padding: 2px;
  font-size: 13px;
  line-height: 20px;
  border-radius: 5px;
  margin-right: 10px;
  width: 100px;
  height: 36px;  
  text-align: center;
}

@media (max-width: 768px) {
  .input {
    width: 120px;
    height: 36px;    
  }
}

.customButton {
  border: 1px solid var(--colorGrey100);
  border-radius: 4px;
  background-color: var(--colorWhite);
  background-color: blue;
  display: inline-block;
  height: 40px;
  padding: 0 18px;
  margin: 0 9px 0 0;
  transition: all var(--transitionStyleButton);
  cursor: pointer;
  font-weight: var(--fontWeightSemiMedium);
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  text-decoration: none;
  font-family: var(--fontFamily);
}

@media (max-width: 768px) {
  .customButton {
    height: 35px;
    font-weight: var(--fontWeightSemiBold);
  }
}

.searchButton {
  color: #4a4a4f;
  background-color: var(--colorWhite);
}
@media (max-width: 768px) {
  .searchButton {
    width: 140px;
  }
}

.searchButton:hover {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.searchButtonSubmit {
  background-color: #4a4a4f;
  color: var(--colorWhite);
  font-size: 12px;
}

.searchButtonSubmit:hover {
  background-color: #4a4a4f;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 4px 10px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px; /* Added for spacing below the button */
}
