@import '../../../../styles/customMediaQueries.css';

.root {
  display: inline-block;

  &:first-child a {
    padding-left: 0px;
  }

  & a {
    padding: 12px 6px;

    @media (--viewportLarge) {
      padding: 12px 12px;
    }
  }

  & a:hover {
    color: var(--colorGrey700);
  }
}

.media {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0;
}

.text {
  width: 100%;
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}
