@import "../../../../styles/customMediaQueries.css";

.root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	height: auto;
}

.sectionHeader {
	display: flex;
	flex-direction: row;
	gap: 6px;
	align-items: flex-end;
	margin-top: 0;
	margin-bottom: 0;

	@media (--viewportMedium) {
		gap: 8px;
		align-items: baseline;
		padding: 5px 0 3px;
		margin-top: 0;
	}
}

.planInfo {
	@media (--viewportMedium) {
		padding: 1px 0 7px;
	}
}

.section {
	margin: 24px 0 0;
}

.editPlanButton {
	padding: 1px 0 5px;
	margin: 0;

	@media (--viewportMedium) {
		padding: 5px 0 3px;
	}
}

.addExceptionButton {
	composes: h4 from global;
	padding: 1px 0 5px;
	margin: 0 0 24px;

	@media (--viewportMedium) {
		padding: 3px 0 5px;
		margin: 0 0 72px;
	}
}

.goToNextTabButton {
	flex-shrink: 0;
	margin-top: auto;
	margin-bottom: 24px;

	@media (--viewportLarge) {
		display: inline-block;
		width: 241px;
	}
}

.modalContainer {
	composes: marketplaceModalBaseStyles from global;
	height: 100%;
	min-height: 100vh;
	padding-right: 0;
	padding-left: 0;
	background-color: var(--colorGrey50);

	@media (--viewportMedium) {
		flex-basis: 576px;
		height: auto;
		min-height: auto;
	}
}

.error {
	color: var(--colorFail);
}
