@import '../../styles/customMediaQueries.css';

.root {
    /* Expand to the available space */
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;

    @media (--viewLargeScreenMax) {
        padding-left: 25px;
        padding-right: 25px;
        width: 100vw;
        padding-top: 0px;
    }
}

.content {
    width: 1100px;

    @media (--viewLargeScreenMax) {
        width: 100%;
    }
}

.header {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;

    color: var(--primary-1-b-242-d, #1B242D);

    /* P20 - Standard */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */

    @media (--viewLargeScreenMax) {
        width: 100%;
    }
}

.title {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    color: var(--primary-1-b-242-d, #1B242D);

    /* H1 */
    font-family: Clash Display;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 66px */

    @media (--viewLargeScreenMax) {
        font-size: 35px;
    }
}

.sectionbody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-bottom: 60px;
    padding-top: 60px;

    @media (--viewLargeScreenMax) {
        width: 100%;
        padding-bottom: 34px;
        padding-top: 34px;
    }
}

.sectioncontent {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    @media (--viewLargeScreenMax) {
        width: 100%;
    }
}

.sectionfiltercontet {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;

    @media (--viewLargeScreenMax) {
        width: 100%;
        overflow-x: auto;
    }
}

.desktopfilter {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    @media (--viewLargeScreenMax) {
        display: none;
    }
}

.mobilefilter {
    @media (--viewLargeScreenMin) {
        display: none;
    }
}

.sectionfilterdiv {
    @media (--viewLargeScreenMax) {
        width: 100%;
    }
}

.sectionfiltercontainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;

    @media (--viewLargeScreenMax) {
        flex-direction: column;
        gap: 34px;
        align-items: flex-start;
    }
}

.sectionfilter {
    display: inline-flex;
    height: 53px;
    padding: 3px;
    align-items: flex-start;
    gap: 2px;
    flex-shrink: 0;
    border-radius: 99px;
    background: var(--primary-eaf-6-f-6, #EAF6F6);
}

.sectionfilterbtn {
    display: flex;
    height: 53px;
    padding: 6px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 99px;
    background: var(--primary-eaf-6-f-6, #EAF6F6);


    color: var(--primary-1-b-242-d, #1B242D);
    text-align: center;

    /* P16 - Medium */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;

    cursor: pointer;
}

.filteritemactive {
    display: flex;
    padding: 6px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 99px;
    background: #FFF;

    color: var(--primary-1-b-242-d, #1B242D);
    text-align: center;

    /* P16 - Medium */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
}

.filteritem {
    display: flex;
    padding: 6px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 99px;

    color: var(--primary-1-b-242-d, #1B242D);
    text-align: center;

    /* P16 - Medium */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;

    cursor: pointer;

    &:hover {
        background: rgba(255, 255, 255, 0.50);
    }

    /* 22.4px */
}

.totalcount {
    color: var(--primary-1-b-242-d, #1B242D);

    /* P14 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
}

.cardgroup {
    display: flex;
    align-items: flex-start;
    gap: 30px;

    @media (--viewLargeScreenMax) {
        width: 100%;
        overflow-x: auto;
    }
}

.schedulebody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-bottom: 120px;

    width: 1110px;
    height: 356px;

    @media (--viewLargeScreenMax) {
        width: 100%;
        height: 600px;
    }
}

.schedulecontent {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;

    border-radius: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.71) 100%), url(../../assets/images/marketplace2/landing.png);
    width: 1110px;
    height: 356px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (--viewLargeScreenMax) {
        width: 100%;
        height: 600px;
    }
}

.scheduledescription {
    display: flex;
    align-items: flex-end;
    gap: 63px;

    padding: 245px 51px 45px 45px;

    @media (--viewLargeScreenMax) {
        padding: 100px 51px 45px 45px;
        flex-direction: column;
    }
}

.scheduledescriptioncontent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
}

.scheduledescriptiontitle {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    color: var(--primary-ffffff, #FFF);

    /* H2 */
    font-family: Clash Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 48px */
}

.scheduledescriptiontext {
    color: var(--primary-ffffff, #FFF);
    /* P20 - Standard */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
}

.scheduleaction {
    display: flex;
    height: 53px;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 7px;
    background: var(--primary-ffffff, #FFF);

    color: var(--primary-1-b-242-d, #1B242D);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */

    @media (--viewLargeScreenMax) {
        width: 100%;
    }
}

.experiencefilter {
    position: absolute;
}

.overlay {
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(37.5px);
    position: absolute;
    z-index: 20;
}

.filtermodalcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
}