.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
  }

.calendlyButton {
    display: inline-block;
    background-color: #0048ff;
    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    width: 300px;
    border-radius: 20px;
    cursor: pointer;
    height: 55px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .calendlyButton:hover {
    background-color: #0056b3;
  }
  
  .calendlyButton:focus {
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }
  
  .calendlyButton:active {
    background-color: #0048ff;
  }
  .button {
    width: 300px;
    color: white;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #0048ff;
  }
  
  .button:hover {
    background-color: #5d85ff;
  }
  
  @media (max-width: 768px) {
    .buttonContainer {
      flex-direction: column;
      gap: 8px;
    }
  }