{:format :v3,
 :transitions
 [{:name :transition/inquire,
   :actor :actor.role/customer,
   :actions [{:name :action/update-protected-data}],
   :to :state/inquiry}
  {:name :transition/request-payment,
   :actor :actor.role/customer,
   :privileged? true,
   :actions
   [{:name :action/update-protected-data}
    {:name :action/privileged-set-line-items}
    {:name :action/stripe-create-payment-intent}],
   :to :state/pending-payment}
  {:name :transition/purchase-after-inquiry,
   :actor :actor.role/customer,
   :privileged? true,
   :actions
   [{:name :action/update-protected-data}
    {:name :action/privileged-set-line-items}
    {:name :action/stripe-create-payment-intent}],
   :from :state/inquiry,
   :to :state/pending-payment}
  {:name :transition/confirm-payment,
   :actor :actor.role/customer,
   :actions
   ;; One more action to add once it is available in Core: "{:name :action/reveal-protected-files}"
   [{:name :action/stripe-confirm-payment-intent}
    {:name :action/stripe-capture-payment-intent}],
   :from :state/pending-payment,
   :to :state/purchased}
  {:name :transition/expire-payment,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/pending-payment]}
     {:fn/period ["PT15M"]}]},
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}],
   :from :state/pending-payment,
   :to :state/payment-expired}
  {:name :transition/auto-complete,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/purchased]}
     {:fn/period ["P7D"]}]},
   :actions [{:name :action/stripe-create-payout}],
   :from :state/purchased,
   :to :state/completed}
  {:name :transition/operator-complete,
   :actor :actor.role/operator,
   :actions [{:name :action/stripe-create-payout}],
   :from :state/purchased,
   :to :state/completed}
  {:name :transition/operator-report,
   :actor :actor.role/operator,
   :actions [],
   :from :state/purchased,
   :to :state/reported}
  {:name :transition/report,
   :actor :actor.role/customer,
   :actions [],
   :from :state/purchased,
   :to :state/reported}
  {:name :transition/operator-cancel,
   :actor :actor.role/operator,
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}],
   :from :state/reported,
   :to :state/canceled}
  {:name :transition/auto-cancel,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/reported]}
     {:fn/period ["P14D"]}]},
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}],
   :from :state/reported,
   :to :state/canceled}
  {:name :transition/complete-from-reported,
   :actor :actor.role/operator,
   :actions [{:name :action/stripe-create-payout}],
   :from :state/reported,
   :to :state/completed}
  {:name :transition/review,
   :actor :actor.role/customer,
   :actions
   [{:name :action/post-review-by-customer}
    {:name :action/publish-reviews}],
   :from :state/completed,
   :to :state/reviewed}
  {:name :transition/expire-review-period,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/completed]}
     {:fn/period ["P7D"]}]},
   :actions [],
   :from :state/completed,
   :to :state/reviewed}],
 :notifications []}
