.root {
  p > a{
    display: inline-block !important;
    padding: 8px 20px;
    font-size: 15px;
    background-color: var(--marketplaceColor);
    border:1px solid var(--marketplaceColor);
    border-radius: 4px;
    text-decoration: none !important;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    font-weight: 500;
    margin-top: 12px;
    white-space: nowrap;
  
    &:hover {
      text-decoration: none;
      color:white !important;
      border-color: var(--marketplaceColorDark);
      background-color: var(--marketplaceColorDark);
    }
  }
  p > a:first-child{
    color: white;
  }
  p > a:last-child{
    background-color:rgba(255,255,255,0.9);
    border:1px solid white;
    color:var(--marketplaceColor);
    box-shadow:none;
    &:hover{
      color:var(--marketplaceColorDark) !important;
      background-color:white;
    }
  }
  
}

.media {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.text {
  width: 100%;
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;

  & > ul,
  & > ol {
    text-align: left;
    width: fit-content;
    /* center */
    margin-left: auto;
    margin-right: auto;
  }

  & > p {
    /* center */
    margin-left: auto;
    margin-right: auto;
  }
}

.alignRight {
  text-align: right;
  & > ul,
  & > ol {
    text-align: left;
    width: fit-content;
    /* push to right */
    margin-left: auto;
  }

  & > p {
    /* push to right */
    margin-left: auto;
  }
}
