@import '../../../../styles/customMediaQueries.css';

.root {
}

.media {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0;
}

.fullHeightMedia {
  height: 100%;
}

.text {
  width: 100%;
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;

  & > ul,
  & > ol {
    text-align: left;
    width: fit-content;
    /* center */
    margin-left: auto;
    margin-right: auto;
  }

  & > p {
    /* center */
    margin-left: auto;
    margin-right: auto;
  }
}

.alignRight {
  text-align: right;
  & > ul,
  & > ol {
    text-align: left;
    width: fit-content;
    /* push to right */
    margin-left: auto;
  }

  & > p {
    /* push to right */
    margin-left: auto;
  }
}

.reverseMediaPos {
  flex-direction: column !important;

  @media (--viewportMedium) {
    flex-direction: row !important;
  }
}

.titleEyebrow {
  color: var(--gray, #BCBCBC);
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 22.5px */
  margin-bottom: 10px;
}

.buttonWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;

  a {
    margin-top: 0;
  }
}

.btnInstagram {
  color: var(--avBlue);
  font-size: 16px;
  font-weight: var(--fontWeightBold);
  line-height: 150%; /* 24px */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: 1px;
  text-decoration-thickness: 2px;
  text-underline-position: from-font;
  transition: var(--linkTransition);

  &:hover {
    color: var(--colorBlack);
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
  }
}

.colWrap {
  display: flex;
  flex-direction: row;
  gap: 24px;

  h3 {
    font-family: var(--fontFamilyRoboto);
    font-size: 20px;
    font-style: normal;
    font-weight: var(--fontWeightBold);
    line-height: 140%; /* 28px */
  }

  h3, p {
    padding: 0;
  }
}

.iconImg {
    width: 48px;
    margin: auto;
}

.textGray {
  p {
    color: var(--colorGrey300);
    font-size: 20px;
    font-weight: 700;
    line-height: 150%; /* 30px */
  }
}

.textDarkGray {
  h3, h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
  }

  p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 30px */
  }
}

.textLarger {
  p {
    font-size: 18px;
  }
}

.textSmaller {
  h3 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0;
    padding: 0;
    text-transform: none;
  }
}

.largeList {
  ol {
    list-style-type: decimal-leading-zero;
    padding-left: 4em;

    li {
      color: var(--colorGrey600);
      font-family: var(--fontFamilyHeadings);
      font-weight: 400;
      font-size: 20px;
      line-height: 110%; /* 24px */
      padding: 14px 0;

      &::marker {
        font-family: var(--fontFamilyRoboto);
        font-size: 24px;
        font-weight: var(--fontWeightBold);
        color: var(--colorGrey300);
        line-height: 140%; /* 33.6px */
        transition: var(--colorTransition);
      }

      &:hover {
        &::marker {
          color: var(--colorGrey600);
        } 
      }

      @media (--viewportLarge) {
        padding: 24px 0;
        font-size: 30px;
        line-height: 120%; /* 36px */
      }
    }

  }
}

ol.titleList {
  list-style: none; /* Removes the default numbers */
  padding-left: 0; /* Remove default padding from the ol */
  counter-reset: item;

  li::before {
    content: "0" counter(item) ". "; /* Displays the counter value */
    margin-right: 0.5em; /* Adds space between number and content */
    font-family: var(--fontFamilyRoboto);
    font-size: 24px;
    font-weight: var(--fontWeightBold);
    color: var(--colorGrey300);
    line-height: 140%;
    transition: var(--colorTransition);
    flex-basis: 3rem;
  }

  li {
    display: flex; /* Makes the list item a flex container */
    align-items: center; /* Vertically centers content along the cross-axis */
    /* Add padding/margin as needed for the list items */
    counter-increment: item;

    >div {
      width: 100%;
    }

    div > * {
      font-family:  var(--fontFamilyHeadings);
      font-weight: var(--fontWeightRegular);
      font-style: normal;
      font-size: 15px;
      line-height: 120%;
      letter-spacing: 0;
      color: var(--colorGrey600);
    }

    div >h3 {
      font-family: var(--fontFamilyHeadings);
      font-weight: var(--fontWeightRegular);
      font-style: normal;
      font-size: 25px;
      line-height: 120%;
      letter-spacing: 0;
      color: var(--colorGrey700);
      margin-bottom: 0;
      transition: var(--colorTransition);
    }

    &:hover {
      &::before,
      div > h3 {
        color: #000;
      }
    }
  }
}

.slimContent {
  h3, h4 {
    font-family: var(--fontFamilyRoboto);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%; /* 28px */

    + h4, + h3 {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  p {
    margin: 0 auto;
    line-height: 150%; /* 24px */
  }

  a {
    display: inline-block;
  }
}

.shortContent {
  > * {
    max-width: 500px;
  }
}

.colsSecondary {
  h1, h2, h3 {
    color: var(--ctaSecondaryBG);
    margin-top: 0;
  }
}

.ctaSecondary {
  display: inline-block;
  padding: 11px 22px;
  font-size: 14px;
  background-color: var(--ctaSecondaryBG);
  color: var(--ctaSecondary);
  border: 1px solid var(--ctaSecondaryBG);
  border-radius: 10px;
  text-decoration: none;
  font-weight: 400;
  margin-top: 12px;
  font-family: var(--fontFamilyHeadings);
  line-height: 150%; /* 21px */
  transition: var(--colorTransition);

  &:hover {
    text-decoration: none;
    background-color: var(--ctaPrimaryBG);
    color: var(--ctaSecondaryBG);
    border-color: var(--ctaSecondaryBG);
  }
}

.ctaTertiary {
  composes: ctaSecondary;
  background-color: var(--ctaPrimaryBG);
  color: var(--ctaSecondaryBG);
  border-color: var(--ctaSecondaryBG);
  transition: var(--colorTransition);

  &:hover {
    background-color: var(--ctaSecondaryBG);
    color: var(--ctaPrimaryBG);
  }
}

.textNoGap {
  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p {
    margin-top: 0;
    padding-top: 0;
  }
}
