@import "../../styles/customMediaQueries.css";

.root {
}

.verificiationBox {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 15px 32px 23px;
	margin-bottom: 72px;
	border-radius: var(--borderRadiusMedium);

	@media (--viewportMedium) {
		flex-wrap: nowrap;
	}
}

.verificiationBoxTextWrapper {
	display: flex;
	flex-wrap: wrap;
	padding: 5px 24px 3px 0;
	margin-bottom: 16px;

	@media (--viewportMedium) {
		margin-bottom: 0;
	}
}

.verificationBoxTitle {
	composes: h5 from global;
	align-self: center;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: var(--fontWeightSemiBold);
}

.verificationBoxText {
	composes: h5 from global;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: var(--fontWeightRegular);
}

.getVerifiedButton {
	composes: h5 from global;
	width: 300px;
	max-width: 110px;
	min-height: 38px;
	font-weight: var(--fontWeightSemiBold);
	border-radius: var(--borderRadiusMedium);
}

/* Verification required box */
.verficiationNeededBox {
	background: var(--colorAttentionLight);
	border: 1px solid var(--colorAttention);
}

/* Verification error box */
.verficiationErrorBox {
	background: var(--colorFailLight);
	border: var(--borderErrorField);
}

/* Verification success box */
.verficiationSuccessBox {
	padding: 8px 24px;
	background: var(--colorSuccessLight);
	border: 1px solid var(--colorSuccess);
}

.verificationBoxSuccessTextWrapper {
	margin-bottom: 0;
}

.editVerificationButton {
	composes: h4 from global;
	min-height: 46px;
	padding-top: 3px;
	margin: 0;
	font-weight: var(--fontWeightNormal);
	color: var(--colorGrey700);

	&:hover,
	&:focus {
		color: var(--colorBlack);
		outline: none;
	}
}

.icon {
	margin-right: 10px;
}

.iconEditPencil {
	stroke: var(--colorGrey700);
}

.spinner {
	width: 24px;
	height: 24px;
	stroke: var(--colorSuccess);
	stroke-width: 3px;
}
