@import "../../../../../styles/customMediaQueries.css";

.titleWrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: baseline;

	@media (width >= 435px) {
		flex-direction: row;
	}

	@media (--viewportMedium) {
		padding: 5px 0 3px;
	}
}

.weekPicker,
.sectionTitle {
	composes: marketplacesearchfiltersublabelfontstyles from global;
	padding: 3px 0;
	margin-top: 0;
	margin-bottom: 0;
	color: var(--colorGrey300);

	@media (--viewportMedium) {
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.sectionTitle {
	margin-right: 5px;
}

.weekPickerLabel {
	composes: marketplacesearchfiltersublabelfontstyles from global;
	display: inline-flex;
	gap: 8px;
	align-items: center;
	text-align: left;
}

.weekPicker {
	color: var(--colorGrey700);
}

.weekRange {
	display: inline-flex;
	flex-wrap: wrap;
}

.rangePart {
	margin-right: 5px;
}

.weekPickerIcon {
	display: flex;
	align-items: center;
	height: 18px;
}

.navigation {
	display: flex;
	margin-left: auto;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px 8px;
	cursor: pointer;
	border: solid 1px var(--colorGrey100);

	&:hover {
		background-color: var(--colorGrey50);
	}

	@media (--viewportMedium) {
		padding: 11px 13px;
	}
}

.prev {
	composes: button;
	margin-right: -1px;

	&:only-child {
		margin-right: 0;
	}
}

.next {
	composes: button;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 17px;
	border-top: solid 1px var(--colorGrey100);
	border-right: solid 1px var(--colorGrey100);
	border-left: solid 1px var(--colorGrey100);
	border-radius: var(--borderRadiusMedium);

	@media (--viewportMedium) {
		grid-template-columns: auto 1fr;

		/* this takes border-top into account */
		margin-top: 15px;
	}
}

.dateLabelContainer {
	padding: 24px 24px 12px;

	@media (--viewportMedium) {
		padding: 24px 24px 23px;
		border-bottom: solid 1px var(--colorGrey100);
	}
}

.dateLabel {
	composes: p from global;
	margin: 0;
	font-weight: var(--fontWeightBold);

	&::first-letter {
		text-transform: capitalize;
	}

	@media (--viewportMedium) {
		margin: 0;
	}
}

.dateAndMonth {
	composes: h5 from global;
}

.blockedDateLabel {
	color: var(--colorGrey300);
	background-color: #f3f3f3;
}

.info {
}

.planEntries {
	display: flex;
	flex-direction: column;
	padding: 4px 0 2px;

	@media (--viewportMedium) {
		padding: 8px 0 0;
	}
}

.exceptionsContainer {
	display: flex;
	flex-direction: column;
	margin-top: 12px;

	&:only-child {
		margin-top: 0;
	}

	@media (--viewportMedium) {
		margin-top: 16px;
	}
}

.exceptionsTitle {
	composes: marketplacesmallfontstyles from global;
	padding: 6px 0 0;
	margin: 0;

	@media (--viewportMedium) {
		padding: 6px 0 2px;
	}
}

.exceptionsSubtitle {
	composes: marketplacetinyfontstyles from global;
	margin: 6px 0 0;
	text-transform: unset;
	letter-spacing: 0;

	@media (--viewportMedium) {
		margin: 8px 0 0;
	}
}

.timeRange {
	composes: marketplacetinyfontstyles from global;
	display: inline-flex;
	flex-wrap: wrap;
	margin: 0;
	color: var(--colorGrey700);
	transition: color var(--transitionStyleButton);

	@media (--viewportMedium) {
		padding: 3px 0 5px;
	}
}

.availabilityDot {
	flex-shrink: 0;
	place-self: center center;
	width: 8px;
	height: 8px;
	margin: 0 0 2px;
	margin-right: 8px;
	background-color: var(--colorFail);
	border-radius: var(--borderRadiusMedium);
}

.isAvailable {
	background-color: var(--colorSuccess);
}

.planEntry {
	display: inline-flex;
}

.deleteIconWrapper {
	position: relative;
}

.deleteIcon {
	margin-top: -6px;
	stroke: var(--colorGrey300);
	transition: var(--transitionStyleButton);
}

.deleteButton {
	padding: 0 8px;
	cursor: pointer;
	border: 0;
}

.exception {
	display: inline-flex;

	&:hover > .timeRange {
		color: var(--colorBlack);
	}

	&:hover .deleteIcon {
		stroke: var(--colorFail);
	}
}

.date {
	composes: marketplacetabnavhorizontalfontstyles from global;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0 24px 23px;
	border-bottom: solid 1px var(--colorGrey100);

	@media (--viewportMedium) {
		flex-direction: row;
		flex-wrap: wrap;
		padding: 24px 24px 23px;
	}
}

.blockedDate {
	color: var(--colorGrey300);
	background-color: #f3f3f3;

	& .timeRange {
		color: var(--colorGrey300);
	}

	&:hover .exceptionsTitle,
	&:hover .exceptionsSubtitle,
	&:hover .exception > .timeRange {
		color: var(--colorGrey700);
	}

	&:hover .exception:hover > .timeRange {
		color: var(--colorBlack);
	}
}
