.root {
	position: relative;
	display: block;
}

.label {
	width: auto;
	height: auto;
	min-height: 0;
	margin-right: 8px;
	color: var(--colorGrey700);

	&:hover {
		text-decoration: none;
	}

	&:focus {
		text-decoration: none;
	}
}

.popup {
	/* Position */
	position: absolute;
	z-index: var(--zIndexPopup);

	/* By default hide the content */
	display: block;

	/* Layout */
	min-width: 300px;
	margin-top: 7px;
	pointer-events: none;
	visibility: hidden;
	background-color: var(--colorWhite);

	/* Borders */
	border-top: 1px solid var(--colorGrey100);
	border-radius: var(--borderRadiusMedium);
	box-shadow: var(--boxShadowPopup);
	opacity: 0;
	transition: var(--transitionStyleButton);
}

.isOpen {
	display: block;
	pointer-events: auto;
	visibility: visible;
	opacity: 1;
}
