@import "../../../styles/customMediaQueries.css";

.root {
	display: flex;
	flex-direction: column;
}

.locationWrapper {
	margin-bottom: 40px;
}

.heading {
	composes: p from global;
	padding: 0;
	margin-bottom: 16px;
	font-weight: var(--fontWeightBold);
}

.locationDetails {
	padding: 0;
	margin: 0;
}

.card {
	composes: marketplaceInputStyles from global;

	@media (--viewportMedium) {
		padding: 11px 0 11px 16px;
	}
}

.cardError {
	border: var(--borderErrorField);
}

.error {
	font-size: 13px;
	color: var(--colorFail);
}

.errorMessage {
	margin-top: 24px;
	color: var(--colorFail);
}

.paymentMethodSelector {
	margin-bottom: 36px;

	@media (--viewportMedium) {
		margin-bottom: 40px;
	}
}

.saveForLaterUse {
	padding-top: 6px;
	margin-bottom: 36px;

	@media (--viewportMedium) {
		padding-top: 8px;
		margin-top: 0;
		margin-bottom: 48px;
	}
}

.saveForLaterUseCheckbox {
	display: inline-block;
	padding: 2px 0 3px;

	@media (--viewportMedium) {
		padding: 1px 0 0;
	}
}

.saveForLaterUseLabel {
	composes: h5 from global;
	margin-top: 3px;
	margin-bottom: 0;
	color: var(--colorGrey700);
	cursor: pointer;
}

.saveForLaterUseLegalInfo {
	composes: h5 from global;
	display: inline-block;
	padding: 0 0 0 26px;
	margin-top: -2px;
	margin-bottom: 2px;
	color: var(--colorGrey300);

	@media (--viewportMedium) {
		margin-top: -1px;
		margin-bottom: 1px;
	}
}

.billingDetails {
	margin-bottom: 48px;
}

.sameAddressCheckbox {
	display: block;
	margin: 24px 0;
}

.messageLabel {
	margin: 0 0 5px;

	@media (--viewportMedium) {
		margin: 0 0 6px;
	}
}

.messageOptional {
	color: var(--colorGrey300);
}

.message {
	border-bottom-color: var(--colorGrey300);
}

.submitContainer {
	margin-top: auto;

	@media (--viewportLarge) {
		margin-top: 72px;
	}
}

.paymentInfo {
	composes: h5 from global;
	margin: 28px 0 0;
	color: var(--colorGrey300);
	text-align: center;

	@media (--viewportLarge) {
		padding: 2px 0 6px;
		margin: 24px 0 0;
		font-size: 14px;
	}
}

.submitButton {
	margin-top: 22px;

	@media (--viewportMedium) {
		margin-top: 26px;
	}

	@media (--viewportLarge) {
		margin-top: 16px;
	}
}

.missingStripeKey {
	color: var(--colorFail);
}
