@import "../../../styles/customMediaQueries.css";

.root {
	composes: marketplacemodalformrootstyles from global;
}

.email {
	margin-top: 37px;

	@media (--viewportMedium) {
		margin-top: 38px;
	}
}

.bottomWrapper {
	composes: marketplacemodalbottomwrapper from global;
}

/* Adjust the bottomWrapper's margin to match modals without the helper text */
.bottomWrapperText {
	composes: marketplacemodalbottomwrappertext from global;
}

/* Helper links */
.modalHelperLink {
	composes: marketplacemodalhelperlink from global;
}

/* Helper texts for the links, not the actual links */
.modalHelperText {
	composes: marketplacemodalhelpertext from global;
}
