@import '../../../styles/customMediaQueries.css';

.page {
  padding: 30px 0 66px 0;
  justify-content: center;
  align-items: center;
  background: var(--primary-eaf-6-f-6, #eaf6f6);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root {
  width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 65px;

  @media (--viewMiddleScreenMax) {
    width: 100vw;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 30px;

  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 81px;

  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.title {
  display: flex;
  width: 825px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  color: var(--primary-1-b-242-d, #1b242d);

  /* H4 */
  font-family: Clash Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 36px */

  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.workInProgress {
}
.descArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 606px;

  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

h5 {
  color: var(--primary-1-b-242-d, #1b242d);
  text-align: center;

  /* H5 */
  font-family: Clash Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 30px */
  padding: 0;
  margin: 0;
}

.desc {
  color: var(--primary-1-b-242-d, #1b242d);
  text-align: center;

  /* P20 - Standard */
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  width: 532px;

  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 15px;

  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.buttonSlack {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  background: #000;
  color: var(--primary-ffffff, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */

  @media (--viewMiddleScreenMax) {
    width: 100%;
  }
}
.buttonInvite {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  background: var(--primary-227667, #227667);
  color: var(--primary-ffffff, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */

  @media (--viewMiddleScreenMax) {
    width: 100%;
  }
}
