@import "../../styles/customMediaQueries.css";

.root {
	flex-grow: 1;
}

.contentContainer {
	composes: marketplacemodalrootstyles from global;
}

.layoutWrapperMain {
	min-height: calc(100vh - var(--topbarHeight));

	@media (--viewportMedium) {
		min-height: calc(100vh - var(--topbarHeightDesktop));
	}
}

.submitEmailContent,
.genericErrorContent,
.emailSubmittedContent,
.emailNotVerifiedContent {
	composes: marketplacemodalbasestyles from global;
}

.bottomWrapper {
	composes: marketplacemodalbottomwrapper from global;

	/* Align the helper links to the left since there isn't a Primary Button anymore */
	text-align: left;
}

.modalIcon {
	composes: marketplacemodaliconstyles from global;
}

/* ================ Typography ================ */

/* Title of the modal */
.modalTitle {
	composes: marketplacemodaltitlestyles from global;
}

/* Paragraph for the Modal */
.modalMessage {
	composes: marketplacemodalparagraphstyles from global;
}

/* Make the email pop */
.email {
	font-weight: var(--fontWeightHighlightEmail);
}

.helperLink {
	composes: a from global;
	composes: marketplacemodalhelperlink from global;
}

.helperText {
	composes: marketplacemodalhelpertext from global;
}
