@import "../../../styles/customMediaQueries.css";

.root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	background-color: var(--colorGrey50);
}

.filtersWrapper {
	@media (--viewportMedium) {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 72px;
	}

	@media (--viewportLarge) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (width >= 1200px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (--viewportXLarge) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.footer {
	display: flex;
	margin-top: 8px;
}

.filterButton {
	/* Position and dimensions */
	display: inline;
	padding: 0;

	/* margin-top + n * line-height + margin-bottom => x * 6px */
	margin-top: 10px;
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: var(--fontWeightMedium);
	line-height: 18px;

	/* Text size should be inherited */
	text-decoration: none;
	letter-spacing: 0;

	/* Borders */
	border: none;

	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}

	@media (--viewportMedium) {
		/* margin-top + n * line-height + margin-bottom => x * 8px */
		margin-top: 10px;
		margin-bottom: 14px;
		line-height: 16px;
	}
}

.resetAllButton {
	composes: filterButton;

	/* Layout */
	margin: 0 auto 0 0;
	color: var(--colorGrey300);

	/* Override button styles */
	outline: none;

	&:focus,
	&:hover {
		color: var(--colorGrey700);
	}
}

.cancelButton {
	composes: filterButton;

	/* Layout */
	margin: 0 24px;
	color: var(--colorGrey300);

	/* Override button styles */
	outline: none;

	&:focus,
	&:hover {
		color: var(--colorGrey700);
	}
}

.applyButton {
	composes: filterButton;

	/* Layout */
	margin: 0;
	color: var(--marketplaceColor);

	/* Override button styles */
	outline: none;

	&:focus,
	&:hover {
		color: var(--marketplaceColorDark);
	}
}
