.root {
	padding: 10px 20px 9px;
	text-align: center;
	background-color: #df492a;
}

.text {
	display: inline-block;
	margin: 0;
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}

.button {
	padding: 8px 16px;
	margin: 0 16px;
	font-size: 14px;
	color: #fff;
	background: #2a3d4b;
	border: 0;
	border-radius: var(--borderRadiusMedium);

	&:hover {
		text-decoration: none;
		background: #364f61;
	}
}
