.root {
	/* Adding empty .root class to enforce className overwrite */
}

/* Title of the modal */
.modalTitle {
	composes: marketplacemodaltitlestyles from global;
}

/* Paragraph for the Modal */
.modalMessage {
	composes: marketplacemodalparagraphstyles from global;
}

/* Make the email pop */
.email {
	font-weight: var(--fontWeightHighlightEmail);
}

.helperLink {
	composes: a from global;
	composes: marketplacemodalhelperlink from global;
}

.helperText {
	composes: marketplacemodalhelpertext from global;
}

.error {
	composes: marketplacemodalpasswordmargins from global;
}

.bottomWrapper {
	composes: marketplacemodalbottomwrapper from global;

	/* Align the helper links to the left since there isn't a Primary Button anymore */
	text-align: left;
}

.modalIcon {
	composes: marketplacemodaliconstyles from global;
}

.reminderModalLinkButton {
	composes: buttonprimary from global;
}
