{:format :v3,
 :transitions
 [{:name :transition/request-payment,
   :actor :actor.role/customer,
   :actions
   [{:name :action/update-protected-data}
    {:name :action/create-pending-booking, :config {:type :time}}
    {:name :action/privileged-set-line-items}],
   :to :state/preauthorized,
   :privileged? true}
  {:name :transition/accept,
   :actor :actor.role/provider,
   :actions [{:name :action/accept-booking}],
   :from :state/preauthorized,
   :to :state/accepted}
  {:name :transition/operator-accept,
   :actor :actor.role/operator,
   :actions [{:name :action/accept-booking}],
   :from :state/preauthorized,
   :to :state/accepted}
  {:name :transition/decline,
   :actor :actor.role/provider,
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/decline-booking}],
   :from :state/preauthorized,
   :to :state/declined}
  {:name :transition/operator-decline,
   :actor :actor.role/operator,
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/decline-booking}],
   :from :state/preauthorized,
   :to :state/declined}
  {:name :transition/expire,
   :at
   {:fn/min
    [{:fn/plus
      [{:fn/timepoint [:time/first-entered-state :state/preauthorized]}
       {:fn/period ["P6D"]}]}
     {:fn/plus
      [{:fn/timepoint [:time/booking-start]} {:fn/period ["P1D"]}]}
     {:fn/timepoint [:time/booking-end]}]},
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/decline-booking}],
   :from :state/preauthorized,
   :to :state/expired}
  {:name :transition/complete-start,
   :at
   {:fn/minus
    [{:fn/timepoint [:time/booking-start]} {:fn/period ["P1D"]}]},
   :from :state/accepted,
   :to :state/complete-start}
  {:name :transition/complete,
   :at
   {:fn/minus
    [{:fn/timepoint [:time/booking-end]} {:fn/period ["P1D"]}]},
   :from :state/complete-start,
   :to :state/complete}
  {:name :transition/review,
  :at
  {:fn/timepoint [:time/booking-end]}, 
   :from :state/complete,
   :to :state/review}
  {:name :transition/cancel,
   :actor :actor.role/operator,
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/cancel-booking}],
   :from :state/accepted,
   :to :state/cancelled}
  {:name :transition/cancel2,
   :actor :actor.role/operator,
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/cancel-booking}],
   :from :state/complete-start,
   :to :state/cancelled}
  {:name :transition/review-1-by-provider,
   :actor :actor.role/provider,
   :actions [{:name :action/post-review-by-provider}],
   :from :state/review,
   :to :state/reviewed-by-provider}
  {:name :transition/review-2-by-provider,
   :actor :actor.role/provider,
   :actions
   [{:name :action/post-review-by-provider}
    {:name :action/publish-reviews}],
   :from :state/reviewed-by-customer,
   :to :state/reviewed}
  {:name :transition/review-1-by-customer,
   :actor :actor.role/customer,
   :actions [{:name :action/post-review-by-customer}],
   :from :state/review,
   :to :state/reviewed-by-customer}
  {:name :transition/review-2-by-customer,
   :actor :actor.role/customer,
   :actions
   [{:name :action/post-review-by-customer}
    {:name :action/publish-reviews}],
   :from :state/reviewed-by-provider,
   :to :state/reviewed}
  {:name :transition/expire-review-period,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/booking-end]} {:fn/period ["P7D"]}]},
   :actions [],
   :from :state/complete,
   :to :state/reviewed}
  {:name :transition/expire-provider-review-period,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/booking-end]} {:fn/period ["P7D"]}]},
   :actions [{:name :action/publish-reviews}],
   :from :state/reviewed-by-customer,
   :to :state/reviewed}
  {:name :transition/expire-customer-review-period,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/booking-end]} {:fn/period ["P7D"]}]},
   :actions [{:name :action/publish-reviews}],
   :from :state/reviewed-by-provider,
   :to :state/reviewed}],
 :notifications
 [{:name :notification/booking-new-request,
   :on :transition/request-payment,
   :to :actor.role/provider,
   :template :booking-new-request}
  {:name :notification/booking-new-request-customer,
   :on :transition/request-payment,
   :to :actor.role/customer,
   :template :booking-new-request-customer}
  {:name :notification/booking-accepted-request,
   :on :transition/accept,
   :to :actor.role/customer,
   :template :booking-accepted-request}
  {:name :notification/booking-operator-accepted-request-to-customer,
   :on :transition/operator-accept,
   :to :actor.role/customer,
   :template :booking-accepted-request}
  {:name :notification/booking-operator-accepted-request-to-provider,
   :on :transition/operator-accept,
   :to :actor.role/provider,
   :template :booking-operator-accepted-request}
  {:name :notification/booking-declined-request,
   :on :transition/decline,
   :to :actor.role/customer,
   :template :booking-declined-request}
  {:name :notification/booking-cancelled-customer,
   :on :transition/cancel,
   :to :actor.role/customer,
   :template :booking-cancel-customer}
  {:name :notification/booking-cancelled-provider,
   :on :transition/cancel,
   :to :actor.role/provider,
   :template :booking-cancel-provider}
  {:name :notification/booking-cancelled-2-customer,
   :on :transition/cancel2,
   :to :actor.role/customer,
   :template :booking-cancel-customer}
  {:name :notification/booking-cancelled-2-provider,
   :on :transition/cancel2,
   :to :actor.role/provider,
   :template :booking-cancel-provider}
  {:name :notification/booking-operator-declined-request-to-customer,
   :on :transition/operator-decline,
   :to :actor.role/customer,
   :template :booking-cancel-customer}
  {:name :notification/booking-operator-declined-request-to-provider,
   :on :transition/operator-decline,
   :to :actor.role/provider,
   :template :booking-operator-declined-request}
  {:name :notification/booking-expired-request,
   :on :transition/expire,
   :to :actor.role/customer,
   :template :booking-expired-request}
  {:name :notification/booking-reminder-customer,
   :on :transition/complete-start,
   :to :actor.role/customer,
   :template :booking-reminder-customer}
  {:name :notification/booking-reminder-provider,
   :on :transition/complete-start,
   :to :actor.role/provider,
   :template :booking-reminder-provider}
  {:name :notification/booking-reminder-end-provider,
   :on :transition/complete,
   :to :actor.role/provider,
   :template :booking-reminder-end-provider}
  {:name :notification/booking-reminder-end-customer
   :on :transition/complete,
   :to :actor.role/customer
   :template :booking-reminder-end-customer}
  {:name :notification/review-period-start-provider,
   :on :transition/review,
   :to :actor.role/provider,
   :template :booking-review-by-provider-wanted}
  {:name :notification/review-period-start-customer,
   :on :transition/review,
   :to :actor.role/customer,
   :template :booking-review-by-customer-wanted}
  {:name :notification/review-by-provider-first,
   :on :transition/review-1-by-provider,
   :to :actor.role/customer,
   :template :booking-review-by-other-party-unpublished}
  {:name :notification/review-by-customer-first,
   :on :transition/review-1-by-customer,
   :to :actor.role/provider,
   :template :booking-review-by-other-party-unpublished}
  {:name :notification/review-by-provider-second,
   :on :transition/review-2-by-provider,
   :to :actor.role/customer,
   :template :booking-review-by-other-party-published}
  {:name :notification/review-by-customer-second,
   :on :transition/review-2-by-customer,
   :to :actor.role/provider,
   :template :booking-review-by-other-party-published}
  ]}
