@import "../../styles/customMediaQueries.css";

.root {
	display: flex;
	flex-direction: column;

	/* Expand to the available space */
	flex-grow: 1;
	align-items: center;
}

.topbar {
	/* Layout for child components */
	display: flex;
	align-items: center;
	justify-content: center;

	/* Size */
	width: 100%;
	height: var(--topbarHeight);

	/* fill */
	background-color: var(--colorWhite);

	/* shadows */
	box-shadow: var(--boxShadow);

	@media (--viewportLarge) {
		justify-content: center;
		height: var(--topbarHeightDesktop);
	}
}

.logoMobile {
	display: block;

	& path {
		fill: var(--marketplaceColor);
	}

	@media (--viewportLarge) {
		display: none;
	}
}

.logoDesktop {
	display: none;
	width: auto;
	height: 27px;

	@media (--viewportLarge) {
		display: block;
	}
}

.content {
	width: 80%;
	max-width: 587px;
	margin-top: 60px;
	margin-bottom: 60px;

	@media (--viewportMedium) {
		margin-top: 10vh;
	}
}

.number {
	composes: marketplaceherotitlefontstyles from global;
	margin: 1px 0 0;
	color: var(--marketplaceColor);
	text-align: center;

	@media (--viewportMedium) {
		margin: 0;
	}
}

.heading {
	composes: marketplacemodaltitlestyles from global;
	margin-top: 16px;
	text-align: center;

	@media (--viewportMedium) {
		margin-top: 22px;
	}
}

.description {
	margin-bottom: 0;
	text-align: center;

	@media (--viewportMedium) {
		margin-top: 24px;
		margin-bottom: 0;
	}
}
