@import '../../../styles/customMediaQueries.css';

.root {
  /* Expand to the available space */
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 60px;

  @media (--viewMiddleScreenMax) {
    padding-left: 25px;
    padding-right: 25px;
    width: 100vw;
  }
}

.content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;

  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.title {
  color: var(--primary-1-b-242-d, #1b242d);

  /* H5 */
  font-family: Clash Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 30px */

  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.details {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 55px;
  border-radius: 12px;
  background: var(--primary-eaf-6-f-6, #eaf6f6);

  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.balance {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}

.label {
  color: var(--primary-1-b-242-d, #1b242d);

  /* P16 - Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}

.value {
  color: var(--primary-227667, #227667);

  /* H2 */
  font-family: Clash Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 48px */
}

.btnBillingHistory {
  display: flex;
  height: 53px;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--White, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  border-radius: 7px;
  background: var(--primary-1-b-242-d, #1b242d);

  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}
