.modalTitle {
  composes: marketplaceModalTitleStyles from global;
  text-align: center;
}

.ctaButtonWrapper {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.confirmModalCheckBoxIcon {
  margin-right: 4px;
}
