.modalTitle {
  composes: marketplaceModalTitleStyles from global;
  text-align: left;
  margin-bottom: 8px;
}

.ctaButtonWrapper {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}
.confirmBox {
  padding: 12px;
  line-height: 1.2;
  margin: 13px auto;
  border-radius: 4px;
  font-size: 13px;
  border: 1px solid var(--colorAttention);
  background: var(--colorAttentionLight);
}

.confirmModalCheckBoxIcon {
  margin-right: 4px;
}
