@import '../../styles/customMediaQueries.css';

.root {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 120px;
  padding-top: 60px;

  @media (--viewMiddleScreenMax) {
    width: 100vw;
    padding-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;

  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.section_header {
  width: 1110px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--primary-eaf-6-f-6, #eaf6f6);
  position: relative;
  margin-bottom: 30px;

  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.section_header img {
  position: absolute;
  top: 0;
  right: 0;
}

.title_container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.helpCards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.helpCardRow {
  display: flex;
  width: 1110px;
  align-items: flex-start;
  gap: 30px;

  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}
