@import "../../../styles/customMediaQueries.css";

.root {
	display: flex;
	flex-direction: column;
}

.bookingBreakdownTitle {
	font-weight: var(--fontWeightMedium);
	letter-spacing: 1px;
}

.totalDivider {
	/* dimensions */
	width: 100%;
	height: 1px;
	margin: 12px 0 5px;
	background-color: var(--colorGrey100);
	border: none;

	@media (--viewportMedium) {
		margin: 7px 0 0;
	}
}

.bookingDates {
	/* Ensure that calendar dropdown gets some stacking context relative to other form items below */
	z-index: 1;
	flex-shrink: 0;
}

.priceBreakdownContainer {
	padding: 0 24px;
	margin-top: 24px;

	@media (--viewportMedium) {
		padding: 0;
		margin-top: 40px;
	}
}

.error {
	display: inline-block;
	margin: 0 24px;
	color: var(--colorFail);
}

.sideBarError {
	composes: h4 from global;
	margin: 0 24px 12px;
	color: var(--colorFail);

	@media (--viewportMedium) {
		margin: 24px 0 12px;
	}
}

.finePrint {
	composes: marketplacetinyfontstyles from global;
	text-align: center;
}

.submitButton {
	padding: 0 24px;
	margin-top: 24px;

	@media (--viewportMedium) {
		padding: 0;
		margin-top: 72px;
	}
}

.arrowIcon {
	fill: var(--colorWhite);
	stroke: var(--colorWhite);
}
