@import "../../styles/customMediaQueries.css";

.inputRoot {
	/* Override react-dates default styles to match input styles */

	& :global(.SingleDatePicker) {
		display: block;
	}

	& :global(.SingleDatePicker_picker__directionLeft) {
		left: unset !important;
		width: calc(100% - 48px);
		background-color: var(--marketplaceColor);
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;

		/* !important is added to top because react-dates uses inline style for height */

		/* Similar problem as in issue: https://github.com/airbnb/react-dates/issues/947 */
		box-shadow: var(--boxShadowButton);

		@media (--viewportMedium) {
			/* !important is added to top because react-dates uses inline style for height */

			/* Similar problem as in issue: https://github.com/airbnb/react-dates/issues/947 */
			top: 48px !important;
			width: 100%;
			min-height: auto;
			border-radius: 0 0 6px 6px;
			box-shadow: var(--boxShadowPopup);
		}
	}

	& :global(.DateInput_input) {
		display: block;
		width: 100%;
		padding: 5px 0 5px 30px;
		margin: 0;
		font-family: var(--fontFamily);
		font-size: 16px;
		font-weight: var(--fontWeightMedium);
		line-height: 24px;
		letter-spacing: -0.1px;
		background-color: #fff;
		background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><g stroke="%234A4A4A" transform="translate(1 1)"><rect stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" x=".292" y="1.459" width="13.417" height="12.25" rx="1"/><path d="M3.208.292V3.21M10.792.292V3.21M.292 4.376h13.416" stroke-linecap="round" stroke-linejoin="round"/><rect x="3.5" y="6.5" width="1" height="1" rx=".5"/><rect x="6.5" y="6.5" width="1" height="1" rx=".5"/><rect x="9.5" y="6.5" width="1" height="1" rx=".5"/><rect x="3.5" y="9.5" width="1" height="1" rx=".5"/><rect x="6.5" y="9.5" width="1" height="1" rx=".5"/><rect x="9.5" y="9.5" width="1" height="1" rx=".5"/></g></g></svg>');
		background-repeat: no-repeat;
		background-position: 8px 8px;
		border: 1px solid #d8dce6;
		border-radius: 6px;
		outline: none;
		transition: all 0.1s ease-in-out;

		&:hover {
			border: 1px solid #b8bfd1;
			transition: all ease-in-out 100ms;
		}

		&:focus {
			border-color: #80bdff;
			border-radius: 6px 6px 0 0;
			box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
			transition: all ease-in-out 100ms;
		}

		&::placeholder {
			color: var(--colorGrey300);
		}

		@media (--viewportMedium) {
			padding: 7px 0 7px 32px;
			font-size: 16px;
			line-height: 32px;
			background-position: 8px 13px;

			&:focus {
				border-color: #80bdff;
				border-radius: 6px 6px 0 0;
				box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
				transition: all ease-in-out 100ms;
			}
		}
	}

	& :global(.SingleDatePickerInput) {
		display: flex;
		justify-content: space-between;
		width: 100%;
		background: none;
		border: none;
	}

	& :global(.DayPicker__horizontal) {
		margin: 0 auto;
		background-color: var(--marketplaceColor);
		box-shadow: none;
	}

	& :global(.DayPickerNavigation__horizontal) {
		position: relative;
		width: 100%;
	}

	& :global(.DayPickerNavigation_button__horizontal) {
		position: absolute;
		top: 16px;
		display: inline;
		padding: 6px 9px;
		cursor: pointer;

		&:first-of-type {
			left: 24px;
		}

		&:last-of-type {
			right: 24px;
		}
	}

	& :global(.DayPickerNavigation_button) {
		color: var(--colorWhite);
		border: 0;
	}

	& :global(.CalendarMonth),
	& :global(.CalendarMonthGrid) {
		background-color: transparent;
	}

	& :global(.DateInput) {
		display: block;
		width: 100%;
	}

	& :global(.DayPicker_weekHeader) {
		top: 57px;
		color: var(--colorWhite);
	}

	& :global(.DayPicker_weekHeader_li) {
		font-weight: var(--fontWeightRegular);
	}

	& :global(.CalendarMonth_caption) {
		margin: 1px 0 14px;
		font-size: 21px;
		font-weight: var(--fontWeightRegular);
		line-height: 24px;
		color: var(--colorWhite);

		@media (--viewportMedium) {
			margin-top: 0;
			margin-bottom: 0;
			line-height: 32px;
		}
	}

	& :global(.CalendarDay__default) {
		width: 100%;
		height: 100%;
		padding: 0;
		background-color: var(--marketplaceColor);
		border: 0;
	}

	& :global(.CalendarDay) {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 15px;
		font-weight: var(--fontWeightMedium);
		line-height: 24px;
		color: var(--colorWhite);
		letter-spacing: 0;
		border: 0;

		@media (--viewportMedium) {
			margin-top: 0;
			margin-bottom: 0;
			font-weight: var(--fontWeightMedium);
		}
	}

	/* Add an underline for '.renderedDay' */
	& :global(.CalendarDay__today .renderedDay) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: var(--DateInput_selectionHeight);
		background-image: url("data:image/svg+xml;utf8,<svg width='14' height='2' viewBox='0 0 14 2' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h14v2H0z' fill='%23FFF' fill-rule='evenodd'/></svg>");
		background-position: center 28px;
	}

	/* Remove default bg-color and use our extra span instead '.renderedDay' */
	& :global(.CalendarDay__hovered_span),
	& :global(.CalendarDay__selected_span) {
		background-color: transparent;
		background-image: transparent;
	}

	& :global(.CalendarDay__hovered_span .renderedDay) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: var(--DateInput_selectionHeight);
		background-color: var(--DateInput_hoveredOverlayColor);
	}

	& :global(.CalendarDay__selected_span .renderedDay) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: var(--DateInput_selectionHeight);
		background-color: var(--colorSuccess);
		transition: all 0.2s ease-out;
	}

	/* Remove default bg-color and use our extra span instead '.renderedDay' */
	& :global(.CalendarDay__selected) {
		background-color: transparent;
		background-image: none;
	}

	& :global(.CalendarDay__selected .renderedDay) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: var(--DateInput_selectionHeight);
		background-color: var(--colorSuccess);
		border-radius: calc(var(--DateInput_selectionHeight) / 2);
	}

	/* Remove default bg-color and use our extra span instead '.renderedDay' */
	& :global(.CalendarDay__after-hovered) {
		background-color: transparent;
	}

	& :global(.CalendarDay__after-hovered .renderedDay) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: var(--DateInput_selectionHeight);
		background-color: var(--DateInput_hoveredOverlayColor);
	}

	& :global(.CalendarDay:hover .renderedDay) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: var(--DateInput_selectionHeight);
		background-color: var(--DateInput_hoveredOverlayColor);
	}

	/* Remove default bg-color and use our extra span instead '.renderedDay' */
	& :global(.CalendarDay__blocked_out_of_range),
	& :global(.CalendarDay__blocked_out_of_range:active),
	& :global(.CalendarDay__blocked_out_of_range:hover) {
		color: var(--marketplaceColorDark);
		background-color: transparent;
		border: 0;
	}

	/* Remove default bg-color and use our extra span instead '.renderedDay' */
	& :global(.CalendarDay__blocked_calendar),
	& :global(.CalendarDay__blocked_calendar:active),
	& :global(.CalendarDay__blocked_calendar:hover) {
		color: var(--marketplaceColorDark);
		background-color: transparent;
		border: 0;
	}

	& :global(.CalendarDay__blocked_out_of_range .CalendarDay__blocked_calendar .renderedDay) {
		background-color: transparent;
	}

	& :global(.DateInput_fang) {
		display: none;
	}

	& :global(.CalendarMonth_caption) {
		text-transform: capitalize;
	}

	& :global(.DateInput__disabled) {
		background: none;
	}

	& :global(.DateInput_input__disabled) {
		/* Dimensions */
		display: block;
		width: 100%;

		/* 6 + 24 + 4 + borders are divisible by 6 */
		padding: 6px 12px 4px 30px;
		margin: 0;
		font-family: var(--fontFamily);
		font-size: 14px;
		font-weight: var(--fontWeightMedium);
		line-height: 24px;
		letter-spacing: -0.1px;
		background: none;
		background-color: #fff;
		background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><g stroke="%23E6E6E6" transform="translate(1 1)"><rect stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" x=".292" y="1.459" width="13.417" height="12.25" rx="1"/><path d="M3.208.292V3.21M10.792.292V3.21M.292 4.376h13.416" stroke-linecap="round" stroke-linejoin="round"/><rect x="3.5" y="6.5" width="1" height="1" rx=".5"/><rect x="6.5" y="6.5" width="1" height="1" rx=".5"/><rect x="9.5" y="6.5" width="1" height="1" rx=".5"/><rect x="3.5" y="9.5" width="1" height="1" rx=".5"/><rect x="6.5" y="9.5" width="1" height="1" rx=".5"/><rect x="9.5" y="9.5" width="1" height="1" rx=".5"/></g></g></svg>');
		background-repeat: no-repeat;
		background-position: 8px 8px;
		border: 1px solid #d8dce6;
		border-bottom-color: var(--colorGrey100);
		border-bottom-style: solid;

		/* Borders */
		border-radius: 6px;
		outline: none;

		/* Transition */
		transition: border-bottom-color var(--transitionStyle);
		transition: all 0.15s ease-out;

		/* Effects */
		&:hover {
			border: 1px solid #b8bfd1;
			transition: all ease-in-out 100ms;
		}

		&:focus {
			background-color: #fff;
			border-color: #80bdff;
			box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
			transition: all ease-in-out 100ms;
		}

		&:disabled {
			opacity: 0.5;

			&:hover {
				cursor: not-allowed;
			}
		}

		@media (--viewportMedium) {
			/* 7 + 32 + 7 + borders = 48, which is divisible by 8. */
			padding: 7px 16px 7px 32px;
			font-size: 16px;
			line-height: 32px;
			background-position: 8px 13px;
		}
	}

	& :global(.DateInput_input__disabled::placeholder) {
		font-style: normal;
		color: var(--colorGrey100);
	}
}

/**
 * Mobile margins mean that labels, inputs (incl separate borders) get margins,
 * but calendar popup doesn't.
 */
.withMobileMargins {
	& :global(.SingleDatePickerInput) {
		width: calc(100vw - 48px);
		margin: 0 24px;

		@media (--viewportMedium) {
			width: 100%;
			margin: 0;
		}
	}

	& :global(.SingleDatePicker_picker__directionLeft) {
		/* !important is added to top because react-dates uses inline style for height */

		/* Similar problem as in issue: https://github.com/airbnb/react-dates/issues/947 */
		top: 34px !important;

		@media (--viewportMedium) {
			/* !important is added to top because react-dates uses inline style for height */

			/* Similar problem as in issue: https://github.com/airbnb/react-dates/issues/947 */
			top: 40px !important;
			min-height: auto;
			border-top: 0;
		}
	}

	/* Create gutter between inputs */
	& :global(.DateInput) {
		width: 100%;
		background: none;
	}
}

.rootNextMonthIcon,
.rootPreviousMonthIcon {
	fill: var(--colorWhite);
	stroke: var(--colorWhite);
}
