@import '../../../styles/customMediaQueries.css';

.labelPlain {
}

.labelPlainSelected {
  font-size: 12px;
  font-weight: var(--fontWeightMedium);
  color: var(--colorText);
  text-transform: uppercase;
}
