@import '../../../styles/customMediaQueries.css';

.root {
}

.labelPlain {
}

.labelPlainSelected {
  color: var(--marketplaceColor);

  &:focus,
  &:hover {
    color: var(--marketplaceColorDark);
  }
}
