@import "../../styles/customMediaQueries.css";

/* Order form inside modalContainer needs special handling */

/* since "inMobile" breakpoint is actually --viewportLarge */
.modalContainer {
	composes: marketplaceModalInMobileBaseStyles from global;
	height: 100vh;

	@media (--viewportMedium) {
		flex-basis: 576px;
		height: unset;
		padding: var(--modalPaddingMedium);
		margin-top: 12.5vh;
		margin-bottom: 12.5vh;
		background-color: var(--colorWhite);
	}

	@media (--viewportLarge) {
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
		background-color: transparent;
	}
}

.modalHeading {
	padding: 0 24px;
	margin-top: 89px;
	margin-bottom: 0;

	@media (--viewportMedium) {
		padding: 0;
	}

	@media (--viewportLarge) {
		display: none;
	}
}

.heading {
	/* Layout */
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;

	/* Font */
	color: var(--colorGrey700);

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 5px;
	}
}

.price {
	composes: h4 from global;
	margin: 0 0 0 24px;
	font-weight: var(--fontWeightBold);
	color: var(--marketplaceColor);

	@media (--viewportMedium) {
		padding: 0;
		margin: 0;
	}
}

.perUnit {
	/* Font */
	composes: h4 from global;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: var(--fontWeightBold);
	color: var(--marketplaceColor);

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 0;
	}

	@media (--viewportLarge) {
	}
}

.author {
	composes: p from global;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 24px 32px;

	@media (--viewportMedium) {
		width: 100%;
		margin: 12px 0 36px;
		color: var(--colorGrey700);
	}
}

.providerAvatar {
	display: none;

	@media (--viewportLarge) {
		display: flex;
		margin-right: 10px;
	}
}

.providerNamePlain {
	display: inline;

	@media (--viewportLarge) {
		display: none;
	}
}

.providerNameLinked {
	display: none;

	@media (--viewportLarge) {
		display: inline;
	}
}

.orderHeading {
	display: none;

	@media (--viewportLarge) {
		display: block;
		margin-bottom: 0;
	}
}

.orderTitle {
	margin-top: 0;
	margin-bottom: 2px;

	/* Font */
	color: var(--colorGrey700);

	@media (--viewportLarge) {
		margin-bottom: 0;
	}
}

.orderHelp {
	composes: h5 from global;
	display: none;

	@media (--viewportMedium) {
		display: block;
		margin-top: 0;
		color: var(--colorGrey700);
	}
}

.bookingForm {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 0;

	@media (--viewportMedium) {
		min-height: 400px;
		padding: 0;
	}

	@media (--viewportLarge) {
		min-width: 312px;
		min-height: auto;
	}
}

.openOrderForm {
	position: fixed;
	bottom: 0;
	left: 0;

	/* Ensure that mobile button is over Footer too */
	z-index: 9;
	display: flex;
	width: 100vw;
	padding: 18px 24px 18px 16px;
	background-color: var(--colorWhite);
	box-shadow: var(--boxShadowTop);

	/* Contain repainting to this component only */

	/* 3D painting container helps scrolling */
	transform: translate3d(0, 0, 0);

	@media (--viewportMedium) {
		padding: 18px 60px;
	}

	@media (--viewportLarge) {
		display: none;
	}
}

.priceContainerInCTA,
.priceContainer {
	/* Layout */
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	gap: 4px;
	align-items: baseline;
	padding: 3px 0;
	margin-right: 22px;

	@media (--viewportMedium) {
		padding: 4px 0;
	}

	@media (--viewportLarge) {
		flex-direction: row;
		padding: 0;
		margin-right: unset;
	}
}

.priceContainerInCTA {
	flex-direction: column;
	gap: unset;
	align-items: center;
	justify-content: center;
}

.priceValue {
	/* Font */
	composes: h3 from global;
	margin-top: 0;
	margin-bottom: 0;
	color: var(--marketplaceColor);

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.perUnitInCTA {
	/* Font */
	composes: marketplaceTinyFontStyles from global;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: var(--fontWeightSemiBold);
	color: var(--marketplaceColor);

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 0;
	}

	@media (--viewportLarge) {
	}
}

.closedListingButton {
	width: 100%;
	padding: 15px 24px;
	text-align: center;
	border-left: 1px solid var(--colorGrey100);
}

.receipt {
	flex-shrink: 0;
}

.error {
	composes: h4 from global;
	padding: 0 24px;
	color: var(--colorFail);

	@media (--viewportMedium) {
		padding: 0;
	}
}

.errorSidebar {
	padding: 0 24px;
	color: var(--colorFail);

	@media (--viewportMedium) {
		padding: 0;
	}
}
