@import '../../../styles/customMediaQueries.css';

.title {
  composes: h2 from global;
  margin-top: 0;
}

.steps {
  display: flex;
  flex-direction: column;

  @media (--viewportMedium) {
    flex-direction: row;
  }
}

.step {
  @media (--viewportMedium) {
    width: 324px;
    margin-right: 40px;
  }
}

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.stepTitle {
  composes: h4 from global;
  margin-top: 0px;
  margin-bottom: 0px;

  @media (--viewportMedium) {
    margin: 0;
  }
}

.createListingLink {
  margin-top: 18px;

  @media (--viewportMedium) {
    padding: 5px 0 3px 0;
    margin-top: 24px;
  }
}
