@import '../../../styles/customMediaQueries.css';

.root {
  /* Expand to the available space */
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 60px;

  @media (--viewLargeScreenMax) {
    padding-left: 25px;
    padding-right: 25px;
    width: 100vw;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 1120px;

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}
.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.h4 {
  color: var(--primary-1-b-242-d, #1b242d);

  /* H4 */
  font-family: Clash Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 36px */
  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.p20 {
  color: var(--primary-1-b-242-d, #1b242d);

  /* P20 - Standard */
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  width: 960px;

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.leftBtnGroup {
  display: flex;
  align-items: flex-start;
  gap: 15px;

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}
.rightBtnGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  flex: 1 0 0;
  @media (--viewLargeScreenMax) {
    width: 100%;
  }
}
.btnDark {
  display: flex;
  height: 53px;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  background: var(--primary-1-b-242-d, #1b242d);
  color: var(--White, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */

  @media (--viewLargeScreenMax) {
    width: 100%;
  }
}
.btnSecondary {
  display: flex;
  height: 53px;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--primary-1-b-242-d, #1b242d);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border-radius: 7px;
  background: var(--primary-eaf-6-f-6, #eaf6f6);
  line-height: 24px; /* 150% */
  @media (--viewLargeScreenMax) {
    width: 100%;
  }
}
.bottom {
  display: flex;
  padding-right: 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 21px;

  @media (--viewLargeScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}
