@import '../../../styles/customMediaQueries.css';
.root {
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.topbar {
  position: sticky;
  top: 0;
  z-index: var(--zIndexTopbar);
}

.main {
  display: grid;
  scroll-margin-top: var(--topbarHeight);

  @media (--viewportMedium) {
    scroll-margin-top: var(--topbarHeightDesktop);
  }
}
