@import '../../../styles/customMediaQueries.css';

.root {
  /* Expand to the available space */
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 60px;

  @media (--viewMiddleScreenMax) {
    padding-left: 25px;
    padding-right: 25px;
    width: 100vw;
  }
}

.content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.title {
  color: var(--primary-1-b-242-d, #1b242d);

  /* H5 */
  font-family: Clash Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 30px */
}

.details {
  display: flex;
  width: 460px;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  border-radius: 12px;
  background: var(--primary-eaf-6-f-6, #eaf6f6);

  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
}
.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  @media (--viewMiddleScreenMax) {
    width: 100%;
  }
}
.formLabel {
  color: var(--primary-1-b-242-d, #1b242d);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  color: var(--primary-1-b-242-d, #1b242d);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.formInput {
  display: flex;
  height: 53px;
  padding: 8px 17px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 7px;
  border: 1px solid #d3ebeb;
  background: var(--primary-ffffff, #fff);
  color: var(--primary-1-b-242-d, #1b242d);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.placeholder {
  color: rgba(27, 36, 45, 0.5);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.w100 {
  width: 380px;
  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}
.btnSubmit {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  background: var(--primary-1-b-242-d, #1b242d);
  color: var(--White, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  @media (--viewMiddleScreenMax) {
    width: 100%;
    flex-direction: column;
  }
}

.nameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  align-self: stretch;
}

.companyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
