@import "../../../styles/customMediaQueries.css";

.root {
	position: relative;
	padding-top: 24px;
	padding-bottom: 17px;
	border-bottom: 1px solid var(--colorGrey100);

	@media (--viewportMedium) {
		padding-top: 16px;
		padding-bottom: 0;
		border-bottom: 0;
	}
}

.filterHeader {
	line-height: 24px;
}

.labelButton {
	/* Override button styles */
	width: 100%;
	padding: 0;
	line-height: 24px;
	text-align: left;
	cursor: pointer;
	border: none;
	outline: none;
}

.labelButtonContent {
	display: inline-block;
	width: 100%;

	&:hover {
		color: var(--marketplaceColor);

		& * {
			color: var(--marketplaceColor);
			stroke: var(--marketplaceColor);
		}
	}
}

.labelWrapper {
	display: inline-block;
	max-width: calc(100% - 16px);
}

.label,
.labelSelected {
	composes: marketplacesmallfontstyles from global;

	/* Baseline adjustment for label text */
	margin-top: 0;
	margin-bottom: 12px;
	font-weight: var(--fontWeightBold);

	@media (--viewportMedium) {
		margin-bottom: 8px;
	}
}

.label {
	color: var(--colorGrey700);
}

.labelSelected {
	margin-left: 5px;
	color: var(--marketplaceColor);
}

.openSign {
	float: right;
}

.clearButton {
	composes: h5 from global;
	display: block;
	padding: 2px 0 4px 12px;
	margin: 0;
	font-weight: var(--fontWeightMedium);
	color: var(--colorGrey300);
	text-align: left;
	cursor: pointer;
	border: none;

	/* Override button styles */
	outline: none;

	&:focus,
	&:hover {
		color: var(--colorGrey700);
	}

	@media (--viewportMedium) {
		padding: 4px 0 4px 12px;
		margin-top: 8px;
	}
}

.plain {
	display: none;
	width: 100%;

	@media (--viewportMedium) {
		padding-bottom: 16px;
	}
}

.isOpen {
	display: block;
}
