@import '../../../../styles/customMediaQueries.css';

.root {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
}

.error {
  margin-top: 48px;
  color: var(--colorFail);
}

.submitButton {
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: 24px;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 100px;
  }
}

.radioButtonsContainer {
  display: flex;
  gap: 7px;
  position: relative;
  left: -2px;
}

.radioButtonInput {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.radioButtonLabel {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
}

/* Radio buttob selected */
.radioButtonInput:checked + .radioButtonLabel {
  border-radius: 10px;
  border: 2px solid var(--marketplaceColor);
}

.radioButtonIcon {
  width: 42px;
  height: 42px;
  background-color: transparent;
  border-radius: 2px;
  padding: 2px;
}

/* not really not checked, but the base styles that are applied to the thingy */
.radioButtonBaseStyle {
  border: 1px solid var(--colorGrey100);
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.previewText {
  color: var(--colorGrey300);
}

.aspectRatioWrapper {
  max-width: 366px;
  display: grid;
  grid-template-columns: 1fr;
}
