@import '../../../../styles/customMediaQueries.css';

.root {
  flex-grow: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.form {
  flex-grow: 1;
}

/* TODO: rename, this is the "choose a style text" */
.heading {
  font-weight: var(--fontWeightSemiBold);
}
