@import "../../../styles/customMediaQueries.css";

.root {
	/* Clearfix */
	composes: clearfix from global;
}

.messageItem {
	/* Clearfix */
	composes: clearfix from global;
	margin-bottom: 20px;

	@media (--viewportMedium) {
		margin-bottom: 17px;
	}

	&:last-of-type {
		margin-bottom: 0;
	}
}

.message,
.ownMessage {
	max-width: 433px;

	/* Preserve newlines, but collapse other whitespace */
	white-space: pre-line;
}

.message {
	display: flex;
	flex-direction: row;
}

.ownMessage {
	float: right;
}

.avatar {
	flex-shrink: 0;
	margin: 0 12px 0 0;

	@media (--viewportMedium) {
		margin: 0 12px 0 0;
	}
}

.ownMessageContentWrapper {
	composes: clearfix from global;
}

.messageContent,
.ownMessageContent {
	composes: textsmall from global;
	display: inline-block;
	padding: 8.5px 14px;
	margin: 0;
	background-color: var(--colorWhite);
	border-radius: 8px;
	box-shadow: var(--boxShadow);

	@media (--viewportMedium) {
		padding: 8px 14px;
		margin: 0;
	}
}

.messageContent {
	flex: 1;
}

.ownMessageContent {
	float: right;
	color: var(--colorWhite);
	background-color: var(--marketplaceColor);
}

.ownMessageContentLink {
	color: var(--colorWhite);
	text-decoration: underline;

	&:hover {
		text-decoration: none;
		background-color: var(--marketplaceColorDark);
	}
}

.messageDate,
.ownMessageDate {
	composes: marketplacemessagedatefontstyles from global;
	margin: 11px 0 0;
	color: var(--colorGrey300);

	@media (--viewportMedium) {
		margin: 0;
	}
}

.ownMessageDate {
	text-align: right;

	@media (--viewportMedium) {
		margin: 0;
	}
}

.transitionItem {
	/* Clearfix */
	composes: clearfix from global;
	margin-bottom: 18px;

	@media (--viewportMedium) {
		margin-bottom: 16px;
	}

	&:last-of-type {
		margin-bottom: 0;
	}
}

.transition {
	display: flex;
	flex-direction: row;
	padding: 3px 0 2px;

	@media (--viewportMedium) {
		padding: 0;
	}
}

.transitionContent {
	composes: marketplacetxtransitionfontstyles from global;
	margin: 0;
}

.transitionDate {
	composes: marketplacemessagedatefontstyles from global;
	margin: 7px 0 0;
	color: var(--colorGrey300);

	@media (--viewportMedium) {
		margin: 0;
	}
}

.bullet {
	margin-right: 6px;
}

.reviewContent {
	composes: h4 from global;
	margin: 8px 0 0;
	font-style: italic;
	white-space: pre-line;

	@media (--viewportMedium) {
		max-width: 500px;
		margin: 7px 0 0;
	}
}

.reviewStars {
	display: block;
	margin-top: 4px;

	@media (--viewportMedium) {
		margin: 5px 0;
	}
}

.reviewStar {
	width: 12px;
	height: 12px;
	margin-right: 2px;
	font-styles: initial;
}

.showOlderWrapper {
	margin-bottom: 1px;
	text-align: center;

	@media (--viewportMedium) {
		margin-bottom: 0;
	}
}

.showOlderButton {
}
