@import "../../styles/customMediaQueries.css";

/* Dummy Topbar */

.topbar {
	/* Layout for child components */
	display: flex;
	align-items: center;
	justify-content: center;

	/* Size */
	width: 100%;
	height: var(--topbarHeight);

	/* fill */
	background-color: var(--colorWhite);

	/* shadows */
	box-shadow: var(--boxShadow);

	@media (--viewportMedium) {
		justify-content: center;
		height: var(--topbarHeightDesktop);
	}
}

/* /Dummy Topbar */

/**
 * Content: mobile flow vs desktop 2 columns
 * desktop has reduced version of bookListingContainer (incl. title and Stripe paymentForm).
 * priceBreakdown is inside separate column (detailsContainerDesktop)
 */
.contentContainer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	@media (--viewportLarge) {
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		padding: 0 48px;
	}
}

.orderFormContainer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	@media (--viewportLarge) {
		flex-basis: 519px;
		flex-grow: 0;
		margin-top: 73px;
		margin-right: 132px;
	}
}

.listingImageMobile {
	position: relative;
	background-color: var(--colorGrey100); /* Loading BG color */

	@media (--viewportLarge) {
		display: none;
	}
}

.rootForImage {
	/* Layout - image will take space defined by aspect ratio wrapper */
	position: absolute;
	inset: 0;
	width: 100%;

	@media (--viewportLarge) {
		border-radius: 2px 2px 0 0;
	}
}

.avatarWrapper {
	/* Rendering context to the same lavel as listing image */
	position: relative;

	/* Layout */
	display: block;
	margin-top: -31px;

	/* Position (over the listing image) */
	margin-left: 24px;

	@media (--viewportLarge) {
		margin-left: 0;
	}
}

.avatarMobile {
	@media (--viewportLarge) {
		display: none;
	}
}

.headingContainer {
	padding: 0 24px;
	margin-top: 29px;
	margin-bottom: 34px;

	@media (--viewportMedium) {
		margin-top: 27px;
		margin-bottom: 30px;
	}

	@media (--viewportLarge) {
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.heading {
	/* Layout */
	width: 100%;
	margin-top: 0;
	margin-bottom: 7px;

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 8px;
	}
}

.listingDetailsWrapper {
	margin: 0 48px;
}

.detailsHeadingMobile {
	@media (--viewportLarge) {
		display: none;
	}
}

.author {
	composes: h4 from global;
	width: 100%;

	/* Reset margins from font styles */
	margin-top: 0;
	margin-bottom: 0;

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.priceBreakdownContainer {
	padding: 0 24px;
	margin-bottom: 37px;

	@media (--viewportMedium) {
		margin-bottom: 38px;
	}

	@media (--viewportLarge) {
		/* we don't show price breakdown since it will be visible within 2nd column (detailsContainerDesktop) */
		display: none;
	}
}

.priceBreakdownTitle {
	margin-top: 0;
	margin-bottom: 14px;

	/* Font */
	color: var(--colorGrey300);

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 18px;
	}

	@media (--viewportLarge) {
		margin-top: 0;
		margin-bottom: 14px;
	}
}

.paymentContainer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 0 24px;
	margin-bottom: 35px;

	@media (--viewportMedium) {
		margin-top: 2px;
		margin-bottom: 120px;
	}

	@media (--viewportLarge) {
		padding: 0;
		margin-top: 0;
	}
}

.orderError,
.notFoundError {
	margin: 11px 0 12px;

	@media (--viewportMedium) {
		margin: 10px 0 12px;
	}
}

.orderError {
	color: var(--colorFail);
}

.notFoundError {
	color: var(--colorAttention);
}

.speculateError {
	margin: 19px 0 1px;
	color: var(--colorFail);

	@media (--viewportLarge) {
		margin: 28px 0 0;
	}
}

.paymentForm {
	flex-grow: 1;
}

/* Details column is visible only on desktop */
.detailsContainerDesktop {
	display: none;

	@media (--viewportLarge) {
		display: block;
		flex-shrink: 0;

		/* Dimensions */
		width: 409px;
		padding-bottom: 36px;

		/* Position */
		margin: 56px 0 24px;

		/* Coloring */
		background-color: var(--colorWhite);
		border: 1px solid var(--colorGrey100);
		border-radius: 2px;
	}
}

.detailsAspectWrapper {
	position: relative;
	background-color: var(--colorGrey100); /* Loading BG color */
}

.detailsHeadings {
	display: none;

	@media (--viewportLarge) {
		display: block;
		margin: 0;
	}
}

.detailsSubtitle {
	composes: h5 from global;

	/* Reset margins from font styles */
	margin-top: 0;
	margin-bottom: 0;

	@media (--viewportLarge) {
		padding: 3px 0 5px;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.orderBreakdownHeader {
	@media (--viewportLarge) {
		margin: 0 48px;
	}
}

.orderBreakdownTitle {
	/* Layout spacing */
	margin: 5px 24px 25px;
	font-weight: var(--fontWeightMedium);

	/* Font */
	letter-spacing: 1px;

	@media (--viewportLarge) {
		padding: 6px 0 2px;
		margin: 16px 0 8px;
	}
}

.totalDivider {
	/* dimensions */
	width: 100%;
	height: 1px;
	margin: 12px 0 5px;
	background-color: var(--colorGrey100);
	border: none;

	@media (--viewportMedium) {
		margin: 7px 0 0;
	}
}

.orderBreakdown {
	@media (--viewportLarge) {
		padding-bottom: 20px;
		margin: 0 48px;
	}
}

/* ChekcoutPageWithInquiryProcess */

.section {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.sectionHeading {
	composes: p from global;
	padding-top: 4px;
	padding-bottom: 2px;
	margin: 0 0 12px;
	font-weight: var(--fontWeightBold);

	@media (--viewportMedium) {
		padding-top: 5px;
		padding-bottom: 3px;
		margin: 0;
	}
}

.field {
	margin: 25px 0 24px;

	@media (--viewportMedium) {
		margin: 22px 0 24px;
	}
}

.fieldInquiryMessage {
	margin: 0 0 24px;

	@media (--viewportMedium) {
		margin: 16px 0 24px;
	}
}

.error {
	margin-top: 0;
	color: var(--colorFail);

	@media (--viewportMedium) {
		margin-top: 0;
	}
}

.priceContainer {
	/* Layout */
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	gap: 4px;
	align-items: baseline;
	padding: 3px 0;
	margin-right: 22px;

	@media (--viewportMedium) {
		padding: 4px 0;
	}

	@media (--viewportLarge) {
		flex-direction: row;
		padding: 0;
		margin-right: unset;
	}
}

.price {
	composes: p from global;
	margin: 0 0 0 24px;
	font-weight: var(--fontWeightBold);

	@media (--viewportMedium) {
		padding: 0;
		margin: 0;
	}
}

.perUnit {
	/* Font */
	composes: p from global;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: var(--fontWeightBold);

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 0;
	}

	@media (--viewportLarge) {
	}
}

.inquiryPrice {
	composes: p from global;
	font-weight: var(--fontWeightBold);
}
