@import "../../../styles/customMediaQueries.css";

.root {
	composes: marketplacemodalbottomwrappertext from global;
	padding-bottom: 6px;

	@media (--viewportMedium) {
		padding-bottom: 8px;
	}
}

.finePrint {
	composes: marketplacemodalhelperlink from global;
	padding: 3px 0 5px;
	text-align: left;
}

.privacyLink,
.termsLink {
	composes: marketplacemodalhelperlink from global;
	color: var(--marketplaceColor);

	&:hover {
		color: var(--marketplaceColorDark);
		text-decoration: underline;
		cursor: pointer;
	}
}
