@import "../../../styles/customMediaQueries.css";

.root {
	/* sticky result summary in mobile */
	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--colorGrey50);
}

.searchResultSummary {
	composes: h3 from global;
	display: flex;
	justify-content: space-between;
	margin-top: 6px;
	background-color: var(--colorGrey50);

	@media (--viewportMedium) {
		margin-top: 8px;
	}
}

.buttons {
	display: flex;
}

.mapIcon {
	/* Font */
	composes: marketplaceTinyFontStyles from global;
	width: 72px;
	height: 35px;
	padding: 9px 22px;
	margin: 0;
	font-weight: var(--fontWeightMedium);

	/* background map image */
	background-image: url("./images/map_icon216x105.png");
	background-size: cover;
	border-radius: 3px;
}

.modalContainer {
	width: 100%;
	padding: 94px 0;
	margin: 0 24px;
}

.modalHeadingWrapper {
	padding-bottom: 31px;
	border-bottom: 1px solid var(--colorGrey100);
}

.modalHeading {
	composes: h1 from global;
	margin-top: 0;
}

.resetAllButton {
	composes: h5 from global;

	/* Layout */
	display: inline;
	float: right;
	padding: 0;
	margin: 8px 0 0;
	font-weight: var(--fontWeightMedium);
	color: var(--colorGrey300);
	text-align: left;
	border: none;

	/* Override button styles */
	outline: none;

	&:focus,
	&:hover {
		color: var(--colorGrey700);
	}
}

.filtersWrapper {
	/* add bottom margin so that the last filter won't be hidden
   * under the mobile safari bottom bar or the "Show results"
   * button bar */
	padding-bottom: 220px;
}

.showListingsContainer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 11;
	width: 100vw;
	padding: 18px 24px;
	background: var(--colorWhite);
	box-shadow: 0 -2px 4px 0 rgb(0 0 0 / 10%);
}

.showListingsButton {
	display: inline-block;
	background-color: var(--marketplaceColor);
	border-radius: 3px;
}
