@import '../../../styles/propertySets.css';

.popupSize {
  padding: 0 10px 7px 10px;
}

.filterLabel,
.filterLabelSelected,
.filterLabelWrapper {
  @apply --marketplaceH3FontStyles;

  /* Baseline adjustment for label text */
  margin-top: 0;
  margin-bottom: 12px;
  padding: 4px 0 2px 0;

  @media (--viewportMedium) {
    padding: 6px 0 2px 0;
    margin-bottom: 8px;
  }
}

.filterLabel {
  color: var(--matterColorDark);
}

.filterLabelSelected {
  color: var(--marketplaceColor);
}

.labelButton {
  /* Override button styles */
  width: 100%;
  outline: none;
  text-align: left;
  border: none;
  padding: 0;
  cursor: pointer;
}

.labelButtonContent {
  display: inline-block;
  width: 100%;
}

.openSign {
  float: right;
}

.clearButton {
  @apply --marketplaceH5FontStyles;
  margin: 0;
  font-weight: var(--fontWeightMedium);
  color: var(--matterColorAnti);
  padding: 2px 0 4px 12px;

  /* Override button styles */
  outline: none;
  text-align: left;
  border: none;

  &:focus,
  &:hover {
    color: var(--matterColor);
  }

  @media (--viewportMedium) {
    padding: 4px 0 4px 12px;
  }
}

.plain {
  width: 100%;
  display: none;
}

.isOpen {
  display: block;
}
